﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Products";
    ViewBag.ActiveMenuId = "Products";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Products</h2>
            <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                    <a class="btn btn-primary ms-2" href="@Url.Action(Actions.ManageProduct, Controllers.Product)" role="button"><i class="ti-add me-2 fs-sm"></i>Add New Product</a>
                </div>
            </div>
        </div>
        <div class="row mx-n2 pt-2">
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Active Product</h3>
                    <p class="h2 mb-0" id="labelActiveProd"></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">In-Active Products</h3>
                    <p class="h2 mb-0" id="labelInActiveProd"></small></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Total Products</h3>
                    <p class="h2 mb-0" id="labelTotalProd"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 border m-0 p-0">
                <table class="table" id="TBLProducts"></table>
            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        ProductDataTBL.init();
        UpdateProductMetaData();
    });

    function UpdateProductMetaData() {
        $.ajax({
            url: '@Url.Action(Actions.GetProductMetaData, Controllers.Product)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $('#labelActiveProd').text(data.ActiveProducts);
                $('#labelInActiveProd').text(data.InActiveProducts);
                $('#labelTotalProd').text(data.TotalProducts);
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to get order details.");
            }
        });
    }

    var ProductDataTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLProducts');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindProducts, Controllers.Product)',
                    type: "post",
                    data: addRequestVerificationToken({})
                },
                "columns": [
                    {
                        "title": "#",
                        "data": "ID",
                        "orderable": false
                    },
                    {
                        "title": "Product Name",
                        "data": "Name",
                        "render": function (data, type, row) {
                            //return '<a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=' + row["ID"] + '">' + data + '</a>';
                            return data;
                        },
                        "orderable": false
                    },
                    {
                        "title": "Category",
                        "data": "CategoryName",
                        "orderable": false
                    },
                    {
                        "title": "Price",
                        "data": null,
                        "render": function (data, type, row) {
                            return '$' + row["OfferPrice"] + '<del class="text-muted ms-1">$' + row["StandardPrice"]+'</del>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Sales",
                        "data": "Sales",
                        "orderable": false
                    },
                    //{
                    //    "title": "Featured",
                    //    "data": "IsFeatured",
                    //    "render": function (data, type, row) {
                    //        if (data == true) {
                    //            return '<span class="badge bg-info m-0">Featured</span>';
                    //        }
                    //        else {
                    //            return "-";
                    //        }
                    //    },
                    //    "orderable": false
                    //},
                    {
                        "title": "Status",
                        "data": "IsActive",
                        "render": function (data, type, row) {
                            if (data == true) {
                                return '<span class="badge bg-success m-0">Active</span>';
                            }
                            else {
                                return '<span class="badge bg-secondary border m-0">In-active</span>';
                            }
                        },
                        "orderable": false
                    },
                    {
                        "title": "Action",
                        "data": null,
                        "render": function (data, type, row) {
                            var htmldata = `<div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="@Url.Action(Actions.ManageProduct, Controllers.Product)?prodId=`+ row["ID"] +`">Edit</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0);" onclick="ChangeStatus(` + row["ID"] + `)">Change Status</a></li>
                                            @*<li><a class="dropdown-item" href="#">Make Featured</a></li>*@
                                        </ul>
                                    </div>`;

                            return htmldata;
                        },
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLProducts")) {
                    $('#TBLProducts').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();

    function ChangeStatus(productId) {
        $.ajax({
            url: '@Url.Action(Actions.ChangeStatus, Controllers.Product)',
            data: addRequestVerificationToken({ prodId: productId }),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == 1) {
                    ShowMessageToastr("success", 'Status updated successfully.');
                    UpdateProductMetaData();
                }
                else {
                    ShowMessageToastr("danger","Failed to update status.");
                }
                $('#TBLProducts').DataTable().ajax.reload();
            },
            error: function () {
                ShowMessageToastr("danger","Failed to update status.");
            }
        });
    }
</script>
