﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Manage Product";
    Layout = "~/Views/Shared/_LayoutWithHeaderOnly.cshtml";
}

@model Product
<style>
    .file-drop-area .file-drop-preview img, .file-drop-area.mb-3 > :first-child img, .file-drop-area.mb-3 > :first-child video {
        height: 140px;
    }

    .file-drop-area.mb-3 > :first-child img, .file-drop-area.mb-3 > :first-child video {
        padding: 0.3125rem;
    }

    .file-drop-area .file-drop-preview, .file-drop-area.mb-3 > :first-child {
        margin-right: auto;
        margin-bottom: 0.75rem;
        margin-left: auto;
        max-height: 150px;
        overflow: hidden;
        max-width: fit-content;
    }

    .file-drop-area.mb-3 > :first-child {
        max-height: 140px;
        border: 1px solid #e3e9ef;
        border-radius: 0.3125rem !important;
    }

    button.btn.btn-primary.d-block.w-100.mt-5 {
        margin-bottom: 25px;
    }
</style>

<div class="container-fluid mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10">
                <h2 class="h3 me-2 mb-4 pb-4 text-center text-sm-start border-bottom">Add New Product</h2>
                @using (Html.BeginForm(Actions.AddProduct, Controllers.Product, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return validateForm();", @id = "frmAddEditProduct" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.IsActive)
                    @Html.HiddenFor(model => model.IsFeatured)
                    for (int i = 0; i < Model.ProductImages.Count; i++)
                    {
                        @Html.HiddenFor(model => model.ProductImages[i].ID)
                        @Html.HiddenFor(model => model.ProductImages[i].URL)
                        @Html.HiddenFor(model => model.ProductImages[i].IsImage)
                    }

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group mb-3">
                                <label for="unp-category" class="form-label">Category</label>
                                @Html.DropDownListFor(model => model.CategoryID, (IEnumerable<SelectListItem>)ViewBag.DDProductCategory, "Select a option", new { @name = "unp-category", @class = "form-select" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label" for="unp-product-name">Product name</label>
                            @Html.TextBoxFor(model => model.Name, new { @name = "unp-product-name", @class = "form-control" })
                            <div class="form-text">Maximum 100 characters. No HTML or emoji allowed.</div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="unp-standard-price">Standard price</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="ti-dollar"></i></span>
                                @Html.TextBoxFor(model => model.StandardPrice, new { @name = "unp-standard-price", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="form-label" for="unp-offer-price">Offer price</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="ti-dollar"></i></span>
                                @Html.TextBoxFor(model => model.OfferPrice, new { @name = "unp-offer-price", @class = "form-control" })
                            </div>
                        </div>
                    </div>


                    <div class="row" id="pfform"><br />
                        <h6 class="h6 me-2 mb-4 pb-4 text-center text-sm-start border-bottom">PF Pricing</h6>

                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">PF</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.PF, new { @name = "unp-pf", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Milk</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Milk_PF, new { @name = "unp-Milk_PF", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Protein</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Protein_PF, new { @name = "unp-Milk_PF", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-sm-3 mb-3">

                            <label class="form-label" for="unp-offer-price">Fat</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Fat_PF, new { @name = "unp-Milk_PF", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Longevity</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Longevity_PF, new { @name = "unp-Milk_PF", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Fertility</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Fertility_PF, new { @name = "unp-Milk_PF", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Habit</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Habit_PF, new { @name = "unp-Milk_PF", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row" id="tpiform">
                        <br />
                        <h6 class="h6 me-2 mb-4 pb-4 text-center text-sm-start border-bottom">TPI Pricing</h6>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">TPI</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.TPI, new { @name = "unp-tpi", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Net Merit</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.NetMerit_TPI, new { @name = "unp-NetMerit_TPI", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Milk</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Milk_TPI, new { @name = "unp-Milk_TPI", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Protein</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Protein_TPI, new { @name = "unp-Protein_TPI", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Fat </label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Fat_TPI, new { @name = "unp-Fat_TPI", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Longevity</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Longevity_TPI, new { @name = "unp-Longevity_TPI", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Calving Ease</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.CalvingEase_TPI, new { @name = "unp-CalvingEase_TPI", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <label class="form-label" for="unp-offer-price">Habit</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Habit_TPI, new { @name = "unp-Habit_TPI", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="col-12 py-2">
                        <label class="form-label" for="unp-product-description">Product description</label>
                        @Html.TextAreaFor(model => model.Description, new { @name = "unp-product-description", @class = "form-control", @rows = "10" })
                    </div>

                    <div class="row pt-2">
                        <div class="col-12">
                            <label class="form-label">Product Images</label>
                        </div>
                        <div class="col-lg-4">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon ti-cloud-upload" id="productimg1Prev"></div>
                                <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                <input class="file-drop-input" accept="video/mp4,video/x-m4v,image/png, image/gif, image/jpeg,video/*" type="file" id="productimg1" name="productimg1">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                                <div class="form-text">518 x 484px ideal size</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon ti-cloud-upload" id="productimg2Prev"></div>
                                <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                <input class="file-drop-input" accept="video/mp4,video/x-m4v,image/png, image/gif, image/jpeg,video/*" type="file" id="productimg2" name="productimg2">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                                <div class="form-text">518 x 484px ideal size</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon ti-cloud-upload" id="productimg3Prev"></div>
                                <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                <input class="file-drop-input" accept="video/mp4,video/x-m4v,image/png, image/gif, image/jpeg,video/*" type="file" id="productimg3" name="productimg3">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                                <div class="form-text">518 x 484px ideal size</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon ti-cloud-upload" id="productimg4Prev"></div>
                                <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                <input class="file-drop-input" type="file" id="productimg4" name="productimg4" accept="video/mp4,video/x-m4v,image/png, image/gif, image/jpeg,video/*">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                                <div class="form-text">518 x 484px ideal size</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon ti-cloud-upload" id="productimg5Prev"></div>
                                <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                <input class="file-drop-input" type="file" id="productimg5" name="productimg5" accept="video/mp4,video/x-m4v,image/png, image/gif, image/jpeg,video/*">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                                <div class="form-text">518 x 484px ideal size</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="file-drop-area mb-3">
                                <div class="file-drop-icon ti-cloud-upload" id="productimg6Prev"></div>
                                <span class="file-drop-message">Drag and drop here to upload product screenshot</span>
                                <input class="file-drop-input" type="file" id="productimg6" name="productimg6" accept="video/mp4,video/x-m4v,image/png, image/gif, image/jpeg,video/*">
                                <button class="file-drop-btn btn btn-primary btn-sm mb-2" type="button">Or select file</button>
                                <div class="form-text">518 x 484px ideal size</div>
                            </div>
                        </div>

                    </div>

                    <button class="btn btn-primary d-block w-100 mt-5" type="submit"><i class="ti-add fs-sm me-2"></i>Add Product</button>
                }
            </div>
        </div>
    </div>
    </div>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
    var True = 1
    jQuery(document).ready(function () {
        CKEDITOR.replace('Description');
        debugger;
          $("#pfform").hide();
        $("#tpiform").hide();

        if (@ViewBag.catId== 1) {
            $("#pfform").show();
            $("#tpiform").show();
        }
        $("#CategoryID").change(function () {
            if ($(this).val() == 1) {
                $("#pfform").show();
                $("#tpiform").show();
            }
            else {
                $("#pfform").hide();
                $("#tpiform").hide();
            }
        });
        for (var i = 0; i <= @Model.ProductImages.Count; i++) {
            debugger;

            if (i == 6) { break; }

            var prod1Url = $("#ProductImages_" + i + "__URL").val();
            var isImage = $("#ProductImages_" + i + "__IsImage").val();
            var j = i + 1;
            if (prod1Url != "" && prod1Url != undefined) {
                $('#productimg' + j + 'Prev').removeClass();
                $('#productimg' + j + '+Prev').addClass("file-drop-preview img-thumbnail rounded");
                if (isImage == "True") {
                $('#productimg' + j + 'Prev').append('<img src="' + window.location.origin + "/" + prod1Url + '" alt="Product Image" height="200" width="200">');
                }
                else {
                    $('#productimg' + j + 'Prev').append('<video src="' + window.location.origin + "/" + prod1Url + '" alt="Product Image" height="200" width="200">');
                }
            }
        }
    }
    );

    function validateForm() {
        let CategoryId = $('#CategoryID').val();
        if (CategoryId === NaN || CategoryId === "") {
            ShowMessageToastr("danger", "Please select category.");
            $("#CategoryID").focus();
            return false;
        }

        let FirstName = $('#Name').val();
        if (FirstName === NaN || FirstName === "") {
            ShowMessageToastr("danger", "Name Can't be empty.");
            $("#Name").focus();
            return false;
        }

        let StandardPrice = $('#StandardPrice').val();
        if (StandardPrice === NaN || StandardPrice === "") {
            ShowMessageToastr("danger", "Please enter Standard Price.");
            $("#StandardPrice").focus();
            return false;
        }

        if (StandardPrice == 0) {
            ShowMessageToastr("danger", "Please enter Standard Price greater than zero.");
            $("#StandardPrice").focus();
            return false;
        }

        let Description = CKEDITOR.instances["Description"].getData();
        if (Description === NaN || Description === "") {
            ShowMessageToastr("danger", "Please enter Description.");
            $("#Description").focus();
            return false;
        }

        return true;
    }
    </script>