﻿
@{
    ViewBag.Title = "Product category";
    ViewBag.ActiveMenuId = "Category";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Category</h2>
            <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                    <button class="btn btn-primary ms-2" type="button" data-bs-target="#addCategory" data-bs-toggle="modal"><i class="ti-add me-2 fs-sm"></i>Add Category</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 border m-0 p-0">
                    <table class="table" id="ProductCategoryList">
                    </table>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <form id="FormProductCategory">
        <div class="modal-dialog modal-fullscreen-md-dow modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryLabel">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="TraderName" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="ProductCategoryName" placeholder="Category name">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="Tax" class="form-label">Tax</label>
                            <input type="text" class="form-control" id="ProductTax" placeholder="Tax">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary fw-medium" value="Add" />
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="editCategory" tabindex="-1" aria-labelledby="editCategoryLabel" aria-hidden="true">
    <form id="EditProductCategory">
        <div class="modal-dialog modal-fullscreen-md-dow modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryLabel">Edit Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="" id="CategoryID" />
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="TraderName" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="TraderName" placeholder="Category name">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label for="Tax" class="form-label">Tax</label>
                                <input type="text" class="form-control" id="editProductTax" placeholder="Tax">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Disble this category</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary fw-medium" value="Save Changes"/>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        TableDatatablesColreorder.init();
    });

    $("#FormProductCategory").on("submit", function (e) {
        e.preventDefault();
        let IsValidInput = false;
        if (ValidateProductCategoryName() === false) {
            IsValidInput = true;
        }

        if (IsValidInput === true) {
            return;
        }

        let infoProductCategory = {
            ProductCategoryName: $.trim($('#ProductCategoryName').val()),
            ProductTax: $.trim($('#ProductTax').val())
        };

        $.ajax({
            type: "POST",
            url: "ProductCategory/AddProductCategory",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(infoProductCategory),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    $("#FormProductCategory")[0].reset();
                    $('#addCategory').modal('toggle');
                    RefreshData();
                    return;
                }

                if (recvResult.Result === "-1") {
                    $('#addCategory').modal('toggle');
                    return;
                }
            },
            error: function (errormessage) {
                $('#addCategory').modal('toggle');
            }
        });

    });

    /*-----------------------------------
     * Load Category
     ------------------------------------*/

    var TableDatatablesColreorder = function () {
        var initTable1 = function () {
            var table = $('#ProductCategoryList');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "ProductCategory/BindCategory",
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    { "title": "#", "data": "ID", "orderable": false },
                    {
                        "title": "CATEGORY NAME", "data": "Name",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "STATUS", "data": "Status",
                        "render": function (data, type, row) {
                            return data === false ? "<div class='badge bg-success p-2'>Active</div>" : "<div class='badge bg-danger p-2'>Deactive</div>";
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "EDIT",
                        "data": null,
                        "render": function (data, type, row) {
                            return '<button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#editCategory" onclick="GetCategoryData(' + row['ID'] + ')">Edit</button >';
                        },
                        "orderable": false,
                    }
                ],
                "buttons": [
                    {

                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#ProductCategoryList")) {
                    $('#ProductCategoryList').dataTable().fnDestroy();
                }
                initTable1();
            }

        };

    }();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }


    /*-----------------------------------
     * Events
     ------------------------------------*/
    $("#ProductCategoryName").keyup(function () {
        ValidateProductCategoryName();
    });

    $("#TraderName").keyup(function () {
        ValidateEditProductCategoryName();
    });


    function ValidateProductCategoryName() {
        $('span#ProductCategoryName').remove();
        let ProductCategoryName = $('#ProductCategoryName').val();
        if (ProductCategoryName.length <= 0) {
            $("<span class=text-danger id=ProductCategoryName>Please provide a product category name.</span>").insertAfter('#ProductCategoryName');
            return false;
        }
        if (ProductCategoryName.length <= 1 || ProductCategoryName.length >= 64) {
            $("<span class=text-danger id=ProductCategoryName>Product category should be between 2 and 64 characters.</span>").insertAfter('#ProductCategoryName');
            return false;
        }
        let regex = /^[A-Za-z ]+$/;
        if (!regex.test(ProductCategoryName)) {
            $("<span class=text-danger id=ProductCategoryName>Product category should be alphabetic.</span>").insertAfter('#ProductCategoryName');
            return false;
        }
        return true;
    }

    function ValidateEditProductCategoryName() {
        $('span#TraderName').remove();
        let TraderName = $('#TraderName').val();
        if (TraderName.length <= 0) {
            $("<span class=text-danger id=TraderName>Please provide a product category name.</span>").insertAfter('#TraderName');
            return false;
        }
        if (TraderName.length <= 1 || TraderName.length >= 64) {
            $("<span class=text-danger id=TraderName>Product category should be between 2 and 64 characters.</span>").insertAfter('#TraderName');
            return false;
        }
        let regex = /^[A-Za-z ]+$/;
        if (!regex.test(TraderName)) {
            $("<span class=text-danger id=TraderName>Product category should be alphabetic.</span>").insertAfter('#TraderName');
            return false;
        }
        return true;
    }

    function GetCategoryData(id) {
        let editProductCategory = {
            ID: id,
        };
        
        $.ajax({
            type: "POST",
            url: "ProductCategory/GetProductCategory",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(editProductCategory),
            success: function (response) {
                $('#editCategory #TraderName').val(response.Name);
                $('#editCategory #CategoryID').val(response.ID);
                $('#editCategory #editProductTax').val(response.Tax);


                if (response.Status === true) {
                    $("#editCategory #flexSwitchCheckDefault").prop("checked", true);
                    return;
                }
                $("#editCategory #flexSwitchCheckDefault").prop("checked", false);

            },
            error: function (errormessage) {
                ShowMessageToastr("danger","Something Went Wrong! Please try again later.");
                $("#editCategory").modal('hide');
            }
        });
    }

    /*------------------------------------------
     * Edit Category
     -------------------------------------------*/
    $("#EditProductCategory").on("submit", function (e) {
        e.preventDefault();
        let IsValidInput = false;
        if (ValidateEditProductCategoryName() === false) {
            IsValidInput = true;
        }

        if (IsValidInput === true) {
            return;
        }

        let infoEditProductCategory = {
            ProductCategoryName: $.trim($('#TraderName').val()),
            ID: $.trim($('#CategoryID').val()),
            Status: $('#flexSwitchCheckDefault').prop('checked') == true ? true : false,
            ProductTax: $('#editProductTax').val(),
        };

        $.ajax({
            type: "POST",
            url: "ProductCategory/EditProductCategory",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(infoEditProductCategory),
            success: function (response) {

                $("#editCategory").modal('hide');
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    RefreshData();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", recvResult.Message);
                    return;
                }
            },
            error: function (errormessage) {
                $("#editCategory").modal('hide');
            }
        });

    });

    function RefreshData() {
        TableDatatablesColreorder.init();
    }
</script>