// .main-layout {
//     display: flex;
//     flex: 1 1 auto;
//     width: 100%;
//     position: relative;
// }

// .main-content {
//     display: flex;
//     flex-direction: column;
//     flex: 1 1 auto;
//     width: 100%;
//     min-height: 100vh;
// }

// .main-header {
//     height: 4rem;
//     padding: 0 0.375rem;
//     border-bottom: 1px solid $border-color;
//     background: $white;
//     display: flex;
//     flex: 0 0 auto;
//     // align-items: center;
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 1001;

// }


// .main-container {
//     display: flex;
//     position: relative;

//     .page-sidebar {
//         // position: relative;
//         display: flex;
//         flex-direction: column;
//         flex: 1 0 auto;
//         width: 18rem;
//         max-width: 18rem;
//         transition: all .3s ease;
//         border-right: 1px solid $border-color;
//         background: $white;
//         overflow-x: hidden !important;
//         z-index: 999;
//         padding-top: 4rem;
//         will-change: left, right;
//         overflow: visible;

//         .sidebar-content {
//             position: relative;
//             padding-top: 0.625rem;
//         }
//     }

//     .page-wrapper {
//         display: flex;
//         flex-direction: column;
//         flex: 1 1 auto;
//         flex-basis: 100%;
//         padding: 0;
//         padding-top: 50px;
//         width: 100%;
//         max-width: 100%;
//         min-height: 100vh;
//         position: relative;
//         transition: all .3s ease;

//         .page-content {
//             position: relative;
//             padding-top: 1rem;
//             display: flex;
//             flex-direction: column;
//             flex: 1 1 auto;
//             transition: all .3s ease;
//             margin-bottom: 3.5rem;
//         }

//         .page-footer {
//             position: fixed;
//             bottom: 0;
//             right: 0;
//             font-size: .8125rem;
//             min-height: 2.8125rem;
//             padding: 0 2rem;
//             display: flex;
//             flex: 0 0 auto;
//             align-items: center;
//             transition: all .3s ease;
//             border-top: 1px solid $border-color;
//             background: $white;
//         }
//     }
// }


// .fixed-footer {
//     position: fixed;
//     bottom: 0;
//     left: 18rem;
//     right: 0;
//     background-color: $white;
//     border-top: 1px solid $border-color;
//     padding: $spacer / 2 $spacer;
//     z-index: 100;
//     transition: all .3s ease;
// }

// body {

//     &.hidden-sidebar {
//         .page-sidebar {
//             position: fixed;
//             top: 4rem;
//             left: -18rem;
//             display: block;
//             z-index: 999;
//             transition: all .3s ease;
//         }

//         .page-wrapper {
//             transition: all .3s ease;
//             padding-left: 0;
//         }

//         .sidebar-opener {
//             display: block;

//             @media only screen and (max-width:1200px) {
//                 display: none;
//             }
//         }

//         &.fixed-sidebar {
//             .page-sidebar {
//                 left: -100%;
//             }

//             .page-wrapper {
//                 padding-left: 0;
//             }
//         }


//         .fixed-footer {
//             left: 0;
//         }

//     }

//     &.fixed-sidebar {
//         .page-sidebar {
//             overflow-y: auto;
//             position: fixed;
//             top: 0;
//             bottom: 0;
//             left: 0;
//             height: 100%;
//         }

//         .page-wrapper {
//             padding-left: 18rem;

//             @media only screen and (max-width:1200px) {
//                 padding-left: 0;
//             }
//         }

//         .page-footer {
//             left: 18rem;
//         }

//         &.minify-sidebar {
//             .page-sidebar {
//                 left: 0;
//                 top: 0;
//                 width: 3.7rem;

//                 .sidebar-menu ul li a {
//                     padding: 5.1px 5px 5px 1rem;
//                 }
//             }

//             .page-wrapper {
//                 padding-left: 3.7rem;
//             }

//             .sidebar-dropdown {
//                 &::before {
//                     display: none;
//                 }
//             }

//             .header-menu span {
//                 display: none;
//             }

//             .sidebar-opener {
//                 display: none;
//             }

//             &.minify-sidebar-hovered {
//                 .page-sidebar {
//                     width: 18rem;

//                     .sidebar-menu ul li a {
//                         padding: 5.1px 5px 5px 2rem;
//                     }
//                 }


//                 .sidebar-dropdown {
//                     &::before {
//                         display: block;
//                     }
//                 }

//                 .header-menu span {
//                     display: block;
//                 }
//             }
//         }
//     }

//     &.minify-sidebar {
//         .sidebar-submenu {
//             display: none !important;
//         }

//         .page-wrapper {
//             padding-left: 0;
//         }

//         &.minify-sidebar-hovered {
//             .sidebar-dropdown {
//                 &.active .sidebar-submenu {
//                     display: block !important;
//                 }
//             }

//             .page-sidebar {
//                 width: 18rem;
//             }

//             .sidebar-dropdown {
//                 &::before {
//                     display: block;
//                 }
//             }

//             .header-menu span {
//                 display: block;
//             }

//         }
//     }

//     &.has-fixed-footer {

//         .page-content {
//             margin-bottom: 3.5rem;
//         }
//     }
// }





// .header-left-content {
//     display: flex;
//     align-items: center;
//     max-width: 17.6rem;
//     width: 100%;
//     border-right: 1px solid $border-color;
// }

// .header-right-content {
//     width: 100%;
//     display: flex;
//     position: relative;
//     align-items: center;
// }

// .aside-menu {
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     .aside-menu-item {
//         &.has-menu {
//             &>.aside-menu-link::after {
//                 display: inline-block;
//                 margin-left: auto;
//                 vertical-align: .23375rem;
//                 content: "";
//                 border-top: .275rem solid;
//                 border-right: .275rem solid transparent;
//                 border-bottom: 0;
//                 border-left: .275rem solid transparent;
//             }
//         }
//     }


//     .aside-menu-link {
//         color: $gray-800;
//         padding: .375rem 1.75rem;
//         margin-top: .375rem;
//         margin-bottom: .375rem;
//         display: flex;
//         align-items: center;

//         &:hover {
//             color: $primary;
//         }
//     }

//     .menu-sub {
//         list-style: none;
//         margin: 0;
//         padding: 0;

//         .aside-menu-link {
//             margin-top: 0;
//             margin-bottom: 0;
//             padding-right: 1.75rem;
//             padding-left: 3.25rem;
//         }

//         .menu-sub {
//             .aside-menu-link {
//                 margin-top: 0;
//                 margin-bottom: 0;
//                 padding-right: 1.75rem;
//                 padding-left: 4.25rem;
//             }

//             .menu-sub {
//                 .aside-menu-link {
//                     margin-top: 0;
//                     margin-bottom: 0;
//                     padding-right: 1.75rem;
//                     padding-left: 5.25rem;
//                 }
//             }
//         }
//     }

//     .aside-menu-icon {
//         flex: 0 0 1.5rem;
//     }

//     .aside-indicator-icon {
//         flex: 0 0 1rem;
//         color: $gray-500;
//         font-size: 0.375rem;
//     }

//     .aside-menu-title {
//         padding: .75rem 1.75rem;
//         display: block;
//         color: $gray-500;
//         font-weight: 500;
//         text-transform: uppercase;
//         letter-spacing: .03125rem;
//     }

//     .aside-menu-divider {
//         height: 0;
//         margin: .5rem 0;
//         overflow: hidden;
//         border-top: .0625rem solid $border-color;
//     }
// }

// .dropdown-menu-md {
//     min-width: 200px;
//     max-width: 200px;

//     @media (max-width: 420px) {
//         min-width: calc(100vw - 40px);
//         max-width: calc(100vw - 40px);
//     }
// }


// .dropdown-menu-xl {
//     min-width: 360px;
//     max-width: 360px;

//     @media (max-width: 420px) {
//         min-width: calc(100vw - 40px);
//         max-width: calc(100vw - 40px);
//     }

// }


// .dropdown-head {
//     border-bottom: 1px solid $border-color;
// }

// .dropdown-head,
// .dropdown-foot {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0.75rem 1.25rem;
// }

// .dropdown-foot {
//     border-top: 1px solid $border-color;
// }


// .dropdown-notification {
//     @include media-breakpoint-down(sm) {
//         position: static !important;

//         .dropdown-menu {
//             width: 100% !important;
//             max-width: 100% !important;
//         }
//     }
// }