﻿
@{
    ViewBag.Title = "Promotional";
    ViewBag.ActiveMenuId = "Promotional";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center mb-3">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Promotional</h2>
            <div class="py-2">
                <button class="btn btn-primary ms-2" type="button" onclick="ShowPromotionDialog()"><i class="ti-add me-2 fs-sm"></i>Add Promotional</button>

            </div>
        </div>

        <div class="row text-center">
            <div class="col-12 border m-0 p-0">
                    <table class="table" id="PromotionalList">
                    </table>
            </div>
        </div>
    </div>
</section>

<div id="AddRemoveDlg"></div>

<script>

    function ShowPromotionDialog() {
        $.ajax({
            type: "POST",
            url: "Promotional/ShowPromotionDialog",
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                $("#LoadPromotionDlg").remove();
                $("#AddRemoveDlg").append('<div id="LoadPromotionDlg"></div>');
                $("#LoadPromotionDlg").append(response);
                $('#addNewPromotional').modal('toggle');
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this)
            .find("textarea,select,input[type=text]")
            .val('').change()
            .end()
            .find("input[type=checkbox],input[type=radio]")
            .prop("checked", "")
            .end();
    });

    $(document).ready(function () {
        RefreshPromotionData();
    });

    function RefreshPromotionData() {
        TableDatatablesPromotion.init();
    }
    var TableDatatablesPromotion = function () {
        var initTable1 = function () {
            var table = $('#PromotionalList');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": true,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "Promotional/BindPromotional",
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    { "title": "#", "data": "ID", "orderable": false },
                    {
                        "title": "OFFER NAME", "data": "Name",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "PROMO CODE", "data": "PromoCode",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "OFFER PRODUCT", "data": "ProductName",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "OFFER DISCOUNT", "data": "Discount",
                        "render": function (data, type, row) {
                            let value = data === NaN ? '-' : data + '%';
                            return value;
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "STATUS", "data": "Status",
                        "orderable": false,
                        "scope": "col",
                        "render": function (data, type, row) {
                            let value = data == true ? '<div class="badge bg-success p-2">Active</div>' : '<div class="badge bg-danger p-2">In-Active</div>';
                            return value;
                        },
                    },
                    {
                        "title": "ACTION",
                        "data": null,
                        "render": function (data, type, row) {

                            return '<button data-bs-toggle="modal" data-bs-target="#editNewPromotional" onclick="GetPromotionData('+row['ID']+')" class="btn btn-secondary btn-sm" type="button">Edit</button>';
                        },
                        "orderable": false,
                    }
                ],
                "buttons": [
                    {

                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#PromotionalList")) {
                    $('#PromotionalList').dataTable().fnDestroy();
                }
                initTable1();
            }

        };

    }();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function GetPromotionData(value) {
        $.ajax({
            type: "POST",
            url: "Promotional/GetPromotional",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ ID: value }),
            success: function (response) {
                try {
                    let recvResult = JSON.parse(response);
                    if (recvResult.Result === "-1") {
                        ShowMessageToastr("danger", recvResult.Message);
                        return;
                    }
                }
                catch {

                }
                $("#LoadPromotionDlg").remove();
                $("#AddRemoveDlg").append('<div id="LoadPromotionDlg"></div>');
                $("#LoadPromotionDlg").append(response);
                $('#addNewPromotional').modal('toggle');
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });

    }

</script>