﻿@using TopFarm.Entities.V1;
@using TopFarm.Pages;
@using TopFarm.Common;


@model Promotional

<div class="modal fade" id="addNewPromotional" tabindex="-1" aria-labelledby="addNewPromotionalLabel" aria-hidden="true">

    
    @using (Html.BeginForm(Actions.AddPromotional, Controllers.Promotional, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return validateForm();", @id = "FormTraders" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(a => a.ID)
        @Html.HiddenFor(a => a.ImageURL)
        <div class="modal-dialog modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewPromotionalLabel">Promotional</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row fs-sm">

                        @*for big image size*@
                        @*@if (ViewBag.IsImage == true)*@
                        @*{
            <img class="rounded" alt=" " src="@Model.ImageURL" width="90" id="blah" height="100" />
        }
        else
        {
            <img id="blah" class="rounded" src="img/shop/account/avatar.jpg" width="90" alt="Susan Gardner">
        }*@
                        @*<div class="ps-3">
            @Html.TextBoxFor(model => model.ImageURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL", hidden = "hidden" })
            <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar"><i class="ti-loading me-2"></i>Change avatar</button>
            <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
        </div>*@
                        @*----*@
                        <div class="col-lg-12 mb-3">
                            <label class="form-label">Promotion Type</label>
                            @Html.DropDownListFor(model => model.Type, (IEnumerable<SelectListItem>)ViewBag.DDPromotionType, "Select Option", new { @class = "form-select", placeholder = "Promotion Type" })
                        </div>
                        <div class="col-12 mb-3">
                            <label for="PromotionOffer" class="form-label">Promotion Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter offer name" })
                        </div>

                        <div class="col-12 mb-3">
                            <label for="promoCode" class="form-label">Promo Code</label>
                            @Html.TextBoxFor(model => model.PromoCode, new { @class = "form-control", placeholder = "Enter promocode name" })
                        </div>

                        <div class="col-12 mb-3">
                            <label for="productName" class="form-label">Free Product Name</label>
                            @Html.DropDownListFor(a => a.ProductID, (IEnumerable<SelectListItem>)ViewBag.DDProductNameDropdown, "Select Option", new { @class = "form-select", placeholder = "Select product name" })
                        </div>

                        <div class="col-12 mb-3">
                            <label for="Discount" class="form-label">Discount</label>
                            @Html.TextBoxFor(model => model.Discount, new { @class = "form-control", placeholder = "Enter discount" })
                        </div>

                        <div class="col-lg-12 mb-3">
                            <label class="form-label">Status</label>
                            @Html.DropDownListFor(a => a.Status, (IEnumerable<SelectListItem>)ViewBag.DDStatus, "Select Option", new { @class = "form-select", placeholder = "Select Status" })
                        </div>

                        <div class="bg-secondary rounded-3 p-4 mb-4">
                            <div class="d-flex align-items-center">
                                @if (ViewBag.IsImage == true)
                                {
                                    <img class="rounded" alt=" " src="@Model.ImageURL" width="90" id="blah" height="100" />
                                }
                                else
                                {
                                    <img id="blah" class="rounded" src="img/shop/account/avatar.jpg" width="90" alt="Susan Gardner">
                                }
                                <div class="ps-3">
                                    @Html.TextBoxFor(model => model.ImageURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL", hidden = "hidden" })
                                    <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar"><i class="ti-loading me-2"></i>Change avatar</button>
                                    <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Add Promotion" />
                </div>
            </div>
        </div>
    }
</div>
<style type="text/css">
</style>
<script>
    $("#FileURL").change(function () {
        const [file] = FileURL.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    });

    $("#SelectAvtar").click(function () {
        $("#FileURL").trigger('click');

    });

    $("#FileURL").change(function () {

        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function (event, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = label;

        if (input.length) {
            input.val(log);
        } else {
            if (log) alert(log);
        }

    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#FileURL").change(function () {
        readURL(this);
    });

    function validateForm() {
        let Type = $('#Type').val();
        if (Type === NaN || Type === "") {
            ShowMessageToastr("danger", "Please select promotion type.");
            $("#Type").focus();
            return false;
        }

        let FirstName = $('#Name').val();
        if (FirstName === NaN || FirstName === "") {
            ShowMessageToastr("danger", "Name Can't be empty.");
            $("#Name").focus();
            return false;
        }

        let PromoCode = $('#PromoCode').val();
        if (PromoCode === NaN || PromoCode === "") {
            ShowMessageToastr("danger", "Promo code Can't be empty.");
            $("#PromoCode").focus();
            return false;
        }

        let ProductName = $('#ProductName').val();
        if (ProductName === NaN || ProductName === "") {
            ShowMessageToastr("danger", "Please select Product name.");
            $("#ProductName").focus();
            return false;
        }

        let StandardPrice = $('#Discount').val();
        if (StandardPrice === NaN || StandardPrice == "") {
        }
        else {
            if (StandardPrice == 0) {
                ShowMessageToastr("danger", "Please enter Discount Price greater than zero.");
                $("#StandardPrice").focus();
                return false;
            }
        }

        let Status = $('#Status').val();
        if (Status === NaN || Status === "") {
            ShowMessageToastr("danger", "Please select Status.");
            $("#Status").focus();
            return false;
        }

        return true;
    }

    $("#frmAddEditPromotional").on("submit", function (e) {
        e.preventDefault();
        if (validateForm() === false) {
            return;
        }

        let objPrmotionalData = {
            ID: $('#ID').val(),
            Type: $('#Type').val(),
            Name: $('#Name').val(),
            PromoCode: $('#PromoCode').val(),
            ProductID: $('#ProductID').val(),
            Discount: $('#Discount').val(),
            Status: $('#Status').val(),
            ImageURL: $('#ImageURL').val(),
        };


        $.ajax({
            type: "POST",
            url: "Promotional/AddPromotional",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(objPrmotionalData),
            success: function (response) {
                $('#addNewPromotional').modal('hide');
                RefreshPromotionData();
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", recvResult.Message);
                    return;
                }
            },
            error: function (errormessage) {
                $('#addNewPromotional').modal('hide');
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });

    });
</script>
