﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTradersWithHeaderOnly.cshtml";
}

@model Customer
@Html.AntiForgeryToken()

<!-- Content-->
<section class="col-12 pt-lg-4 pb-4 mb-3">
    <div class="pt-2">
        <h2 class="h3 py-2 ps-4 text-center text-sm-start">Settings</h2>
        <div class="p-4">
            <!-- Tabs-->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link px-0 active" href="#profile" data-bs-toggle="tab" role="tab">
                        <div class="d-none d-lg-block"><i class="ci-user opacity-60 me-2"></i>Profile</div>
                        <div class="d-lg-none text-center">
                            <i class="ci-user opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Profile</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-0" href="#notifications" data-bs-toggle="tab" role="tab">
                        <div class="d-none d-lg-block"><i class="ci-bell opacity-60 me-2"></i>Notifications</div>
                        <div class="d-lg-none text-center">
                            <i class="ci-bell opacity-60 d-block fs-xl mb-2"></i><span class="fs-ms">Notifications</span>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- Tab content-->
            <div class="tab-content">
                <!-- Profile-->
                @*@using (Html.BeginForm(Actions.UpdateTProfile, Controllers.TraderProfile, FormMethod.Post, new { enctype = "multipart/form-data" }))*@

                <div class="tab-pane fade show active" id="profile" role="tabpanel">

                    @using (Html.BeginForm(Actions.UpdateTProfile, Controllers.TraderProfile, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return ValidateTraderForm();", @id = "frmAddEditTrader" }))
                    {
                        @Html.HiddenFor(s => s.ID)
                        @Html.HiddenFor(s => s.CustomerId)

                        @Html.HiddenFor(s => s.Email)
                        @*@Html.HiddenFor(s => s.MobileNo)
                @Html.HiddenFor(s => s.AlternateMobileNo)*@
                        @Html.HiddenFor(s => s.Address)
                        @Html.HiddenFor(model => model.AvtarURL)

                        <div class="bg-secondary rounded-3 p-4 mb-4">
                            <div class="d-flex align-items-center">
                                @if (ViewBag.IsImage != null)
                                {
                                    <img id='blah' class="img-fluid" alt=" " src="@Model.AvtarURL" width="90" height="100" />
                                }
                                else
                                {
                                    <img id="blah" class="rounded" src="img/shop/account/avatar.jpg" width="90" alt="Susan Gardner">
                                }
                                <div class="ps-3">
                                    @Html.TextBoxFor(model => model.FileURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL", hidden = "hidden" })
                                    <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar"><i class="ti-loading me-2"></i>Change avatar</button>
                                    <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required1.</div>
                                </div>

                                @*@if (ViewBag.IsImage != null)
                        {
                            <img id='img-upload' class="img-fluid" alt=" " src="@Model.AvtarURL" width="100" height="100" />
                        }
                        else
                        {
                            <img src="~/Storage/Customer/defaultimage.png" height="50" width="50" />
                        }

                        @Html.TextBoxFor(model => model.FileURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL", hidden = "hidden" })

                        <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar">
                            <i class="ci-loading me-2"></i>Change <span class='d-none d-sm-inline'>avatar</span>
                        </button>
                        <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>*@
                            </div>
                        </div>
                        <div class="row gx-4 gy-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-fn">First Name</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-ln">Last Name</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-email">Email address</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-mobileno">Mobile No</label>
                                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-alternatemobileno">Alternate Mobile No</label>
                                @Html.TextBoxFor(m => m.AlternateMobileNo, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-country">Country</label>
                                @Html.DropDownListFor(a => a.CountryID, (IEnumerable<SelectListItem>)ViewBag.Country, "Select country", new { @class = "form-control", placeholder = "Select country" })

                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-city">State</label>
                                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-city">City</label>
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-city">Area</label>
                                @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-address">Address Line</label>
                                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-zip">ZIP Code</label>
                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-4">
                                <div class="d-sm-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Save changes</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Notifications-->
                <div class="tab-pane fade" id="notifications" role="tabpanel">
                    <div class="bg-secondary rounded-3 p-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="nf-disable-all"
                                   data-master-checkbox-for="#notifocation-settings">
                            <label class="form-check-label fw-medium" for="nf-disable-all">
                                Enable/disable all
                                notifications
                            </label>
                        </div>
                    </div>
                    <div id="notifocation-settings">
                        <div class="border-bottom p-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="nf-product-sold" checked>
                                <label class="form-check-label" for="nf-product-sold">Product sold notifications</label>
                            </div>
                            <div class="form-text">Send an email when someone purchased one of my products</div>
                        </div>
                        <div class="border-bottom p-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="nf-product-updated" checked>
                                <label class="form-check-label" for="nf-product-updated">Product update notifications</label>
                            </div>
                            <div class="form-text">Send an email when a product I've purchased is updated</div>
                        </div>
                        <div class="border-bottom p-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="nf-product-comment" checked>
                                <label class="form-check-label" for="nf-product-comment">Product comment notifications</label>
                            </div>
                            <div class="form-text">Send an email when someone comments on one of my products</div>
                        </div>
                        <div class="border-bottom p-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="nf-product-review" checked>
                                <label class="form-check-label" for="nf-product-review">Product review notification</label>
                            </div>
                            <div class="form-text">Send an email when someone leaves a review with their rating</div>
                        </div>
                        <div class="border-bottom p-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="nf-daily-summary">
                                <label class="form-check-label" for="nf-daily-summary">Daily summary emails</label>
                            </div>
                            <div class="form-text">Send me a daily summary of all products sold, commented or reviewed</div>
                        </div>
                    </div>
                    <div class="text-sm-end mt-4">
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function ValidateTraderForm() {
        let Firstname = $('#FirstName').val();
        if (Firstname === NaN || Firstname === "") {
            ShowMessageToastr("danger", "Please enter fisrt name.");
            $("#FirstName").focus();
            return false;
        }

        let LastName = $('#LastName').val();
        if (LastName === NaN || LastName === "") {
            ShowMessageToastr("danger", "Please enter last name.");
            $("#LastName").focus();
            return false;
        }

        let MobileNo = $('#MobileNo').val();
        if (MobileNo === NaN || MobileNo === "") {
            ShowMessageToastr("danger", "Please enter MobileNo number.");
            $("#MobileNo").focus();
            return false;
        }

        let CountryID = $('#CountryID').val();
        if (CountryID === NaN || CountryID === "") {
            ShowMessageToastr("danger", "Please select country.");
            $("#CountryID").focus();
            return false;
        }

        let State = $('#State').val();
        if (State === NaN || State === "") {
            ShowMessageToastr("danger", "Please enter state.");
            $("#State").focus();
            return false;
        }

        let City = $('#City').val();
        if (City === NaN || City === "") {
            ShowMessageToastr("danger", "Please enter city.");
            $("#City").focus();
            return false;
        }
        let Area = $('#Area').val();
        if (Area === NaN || Area === "") {
            ShowMessageToastr("danger", "Please enter area.");
            $("#Area").focus();
            return false;
        }
        let Address1 = $('#Address1').val();
        if (Address1 === NaN || Address1 === "") {
            ShowMessageToastr("danger", "Please enter address.");
            $("#Address1").focus();
            return false;
        }
        let Pincode = $('#Pincode').val();
        if (Pincode === NaN || Pincode === "") {
            ShowMessageToastr("danger", "Please enter zipcode.");
            $("#Pincode").focus();
            return false;
        }
    }

    $("#FileURL").change(function () {
       
        const [file] = FileURL.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    });
    $("#SelectAvtar").click(function () {
        $("#FileURL").trigger('click');
    });

    $("#FileURL").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function (event, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = label;

        if (input.length) {
            input.val(log);
        } else {
            if (log) alert(log);
        }

    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
