﻿
@{
    ViewBag.Title = "Role & Rights";
    ViewBag.ActiveMenuId = "RoleandRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">Role & Rights</h2>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive table-card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Role Name</th>
                                <th>Users</th>
                                <th>Permissions</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Administrator</td>
                                <td><div class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#manageUserModal">Manage Users</div></td>
                                <td><div class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#managePermissionsModal">Manage Permissions</div></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editRole">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete Role</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Modrator</td>
                                <td><div class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#manageUserModal">Manage Users</div></td>
                                <td><div class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#managePermissionsModal">Manage Permissions</div></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editRole">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete Role</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Trader</td>
                                <td><div class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#manageUserModal">Manage Users</div></td>
                                <td><div class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#managePermissionsModal">Manage Permissions</div></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editRole">Edit</a></li>
                                            <li><a class="dropdown-item" href="#">Delete Role</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="modal fade" id="editRole" tabindex="-1" aria-labelledby="editRoleLabel" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRoleLabel">Edit Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="roleName" class="form-label">Role name</label>
                    <input type="text" class="form-control" id="roleName" placeholder="Role Name">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="managePermissionsModal" tabindex="-1" aria-labelledby="managePermissionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="managePermissionsModalLabel">Manage Permissions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-auto mb-4">
                    <label for="permission class="form-label">Permission</label>
                    <input type="text" class="form-control" id="permission placeholder="Search permission">
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-card table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Permission</th>
                                        <th scope="col">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="readAllChx">
                                                <label class="form-check-label" for="readAllChx">Read</label>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="addAllChx">
                                                <label class="form-check-label" for="addAllChx">Add/Edit</label>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="deleteAllChx">
                                                <label class="form-check-label" for="deleteAllChx">Delete</label>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th scope="row">Add Product</th>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx1-1">
                                                <label class="form-check-label" for="chx1-1">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx1-2">
                                                <label class="form-check-label" for="chx1-2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx1-3">
                                                <label class="form-check-label" for="chx1-3">&nbsp;</label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Download Report</th>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx2-1">
                                                <label class="form-check-label" for="chx2-1">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx2-2">
                                                <label class="form-check-label" for="chx2-2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx2-3">
                                                <label class="form-check-label" for="chx2-3">&nbsp;</label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">View Order History	</th>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx3-1">
                                                <label class="form-check-label" for="chx3-1">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx3-2">
                                                <label class="form-check-label" for="chx3-2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx3-3">
                                                <label class="form-check-label" for="chx3-3">&nbsp;</label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">View Customers</th>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx4-1">
                                                <label class="form-check-label" for="chx4-1">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx4-2">
                                                <label class="form-check-label" for="chx4-2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="chx4-3">
                                                <label class="form-check-label" for="chx4-3">&nbsp;</label>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="manageUserModal" tabindex="-1" aria-labelledby="manageUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageUserModalLabel">Manage Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-auto mb-4">
                    <label for="UserName" class="form-label">User name</label>
                    <input type="text" class="form-control" id="UserName" placeholder="User Name">
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-card table-responsive">
                            <table class="table fs-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone	</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Jhon Doe</td>
                                        <td>johndoe@rushkar.com	</td>
                                        <td></td>
                                        <td><div class="btn btn-danger btn-sm">Delete</div></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jhon Doe</td>
                                        <td>johndoe@rushkar.com</td>
                                        <td></td>
                                        <td><div class="btn btn-danger btn-sm">Delete</div></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Jhon Doe</td>
                                        <td>johndoe@rushkar.com	</td>
                                        <td></td>
                                        <td><div class="btn btn-danger btn-sm">Delete</div></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Jhon Doe</td>
                                        <td>johndoe@rushkar.com</td>
                                        <td></td>
                                        <td><div class="btn btn-danger btn-sm">Delete</div></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
