﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Customers";
    ViewBag.ActiveMenuId = "Customers";
Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">Customers</h2>

        <div class="row text-center">
            <div class="col-12 border m-0 p-0">                
                    <table class="table" id="TBLCustomer"></table>
            </div>
        </div>

    </div>
</section>


<div class="modal fade" id="editCustomerStatus" tabindex="-1" aria-labelledby="editCustomerStatusLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCustomerStatusLabel">Edit Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <input type="hidden" id="CustomerId" />

            <div class="modal-body">
                <div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <select class="form-select" id="customerStatus">
                            <option selected disabled>Select a option</option>
                            <option value="@((int)CustomerStatus.Creditor)">Creditor</option>
                            <option value="@((int)CustomerStatus.Debtors)">Debtors</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateCustomerStatus()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Customer Details Modal -->
<div class="modal fade" id="customerDetails" tabindex="-1" aria-labelledby="customerDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailsLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        OrderDataTBL.init();
    });

     var OrderDataTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLCustomer');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": true,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCustomers, Controllers.Customers)',
                    type: "post",
                    data: addRequestVerificationToken({})
                },
                "columns": [
                    {
                        "title": "Customer ID",
                        "data": "ID",
                        "orderable": false
                    },
                    {
                        "title": "Customer Name",
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0);" onclick="showCustomerDetails(' + row["ID"] + ')">' + row["Name"] +'</a>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Total Due Amount", "data": "TotalDueAmount",
                        "render": function (data, type, row) {
                            return '<div class="fw-medium">$'+data+'</div>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Status",
                        "data": "Status",
                        "render": function (data, type, row) {
                            switch (data) {
                                case @((int)CustomerStatus.Creditor):
                                    return '<div class="badge bg-success p-2">Creditor</div>';
                                case @((int)CustomerStatus.Debtors):
                                    return '<div class="badge bg-danger p-2">Debtors</div>';
                                default:
                                    return '<div>-</div>';
                            }
                        },
                        "orderable": false
                    },
                    {
                        "title": "Action",
                        "data": null,
                        "render": function (data, type, row) {
                            var htmldata = `<button onclick="showCustomerUpdateStatus(` + row["ID"]+`)" class="btn btn-secondary btn-sm" type="button">Edit</button>`;
                            return htmldata;
                        },
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLCustomer")) {
                    $('#TBLCustomer').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();

    function showCustomerDetails(CustomerId) {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerDetail, Controllers.Customers)',
            data: addRequestVerificationToken({ customerId: CustomerId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                $('#customerDetails .modal-body').html(`<div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Name</div>
                        <div>
                            <span class="fw-medium">${data.Name}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Address</div>
                        <div>
                            <span class="fw-medium">${data.AddressString}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Email</div>
                        <div>
                            <span class="fw-medium">${data.Email}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Phone</div>
                        <div>
                            <span class="fw-medium">${data.Phone}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Customer Since</div>
                        <div>
                            <span class="fw-medium">${data.CreatedDateStr}</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Orders</div>
                        <div>
                            <span class="fw-medium">${data.TotalOrders}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Last Order</div>
                        <div>
                            <span class="fw-medium">${data.LastOrderDateStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Sales</div>
                        <div>
                            <span class="fw-medium">$${data.TotalSales}</span>
                        </div>
                    </div>
                </div>`);

                $('#customerDetails').modal('show');
            },
            error: function () { }
        });
    }

    function showCustomerUpdateStatus(custId) {
        $('#editCustomerStatus #CustomerId').val(custId);
        $('#editCustomerStatus').modal('show');
    }

    function UpdateCustomerStatus() {
        var custId = $('#editCustomerStatus #CustomerId').val();
        if (custId === NaN || custId === "") {
            ShowMessageToastr("danger", "Failed to update customer status.");
            return false;
        }

        var statusId = $('#editCustomerStatus #customerStatus').val();
        if (statusId === NaN || statusId === "" || statusId == null) {
            ShowMessageToastr("warning", "Please select customer status.");
            return false;
        }

        $.ajax({
            url: '@Url.Action(Actions.UpdateCustomerStatus, Controllers.Customers)',
            data: addRequestVerificationToken({ customerId: custId, statusId: statusId}),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == 1) {
                    ShowMessageToastr("success", 'Customer status updated successfully.');
                    $('#editCustomerStatus').modal('hide');
                }
                else {
                    ShowMessageToastr("danger","Failed to update customer status.");
                }
                $('#TBLCustomer').DataTable().ajax.reload();
            },
            error: function () {
                ShowMessageToastr("danger","Failed to update customer status.");
                $('#TBLCustomer').DataTable().ajax.reload();
            }
        });
    }
</script>
