﻿
@{
    ViewBag.Title = "Blog";
    ViewBag.ActiveMenuId = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Blog</h2>
            <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                    <button class="btn btn-outline-primary ms-2" type="button" data-bs-target="#addBlogCategory" data-bs-toggle="modal"><i class="ti-add me-2 fs-sm"></i>Add Category</button>
                    <button class="btn btn-primary ms-2" type="button" id="OpenAddArticle"><i class="ti-add me-2 fs-sm"></i>Add Article</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 border p-0 m-0">
                <table class="table" id="ArticleList" width="100"></table>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="addBlogCategory" tabindex="-1" aria-labelledby="addBlogCategoryLabel" aria-hidden="true">
    <form id="FormAddBlogCategory">
        <div class="modal-dialog modal-fullscreen-md-dow modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBlogCategoryLabel">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label for="TraderName" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="BlogCategoryName" placeholder="Category name">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary fw-medium" value="Add" />
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="addArticle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addArticleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <form id="FormAddEditBlog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addArticleLabel">Add New Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="hidden" id="BlogID" />
                <input type="hidden" id="BlogStatus" />
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label for="chooseBlogCategoty" class="form-label">Choose Category</label>
                                <select class="form-select" id="chooseBlogCategoty"></select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label for="ArticleName" class="form-label">Article Name</label>
                                <input type="text" class="form-control" id="ArticleName" placeholder="Article Name">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label for="ArticleName" class="form-label">Article</label>
                                <textarea id="ArticleContent" rows="15"></textarea>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary fw-medium" value="Add Article" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {
        TableDatatableArticleList.init();
        CKEDITOR.replace('ArticleContent');
    });

    function RefreshArticleList() {
        TableDatatableArticleList.init();
    }

    // --------------------------------------------
    // Datatable
    //---------------------------------------------

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    var TableDatatableArticleList = function () {
        var initTable1 = function () {
            var table = $('#ArticleList');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": true,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "Blog/BindBlogArticle",
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    { "title": "#", "data": "ID", "orderable": false },
                    {
                        "title": "ARTICLE NAME", "data": "ArticleName",
                        "orderable": false,
                        "render": function (data, type, row) {
                            return '<a href="">' + data+'</a>';
                        },
                        "scope": "col",
                    },
                    {
                        "title": "STATUS", "data": "BlogCategoryName",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "DATE PUBLISHED", "data": "DatePublishedStr",
                        "render": function (data, type, row) {
                            const time = data.split(" ");
                            if (time.length == 3) {
                                return '<span>' + time[0] + '</span><br><small>' + time[1] + ' ' + time[2] + '</small>';
                            }
                            else {
                                return '<span>-</span>';
                            }
                        },
                        "orderable": false,
                    },
                    {
                        "title": "LAST CHANGED", "data": "UpdatedDateStr",
                        "orderable": false,
                        "scope": "col",
                        "render": function (data, type, row) {
                            const time = data.split(" ");
                            if (time.length == 3) {
                                return '<span>' + time[0] + '</span><br><small>' + time[1] + ' ' + time[2] + '</small>';
                            }
                            else {
                                return '<span>-</span>';
                            }
                        },
                    },
                    {
                        "title": "STATUS",
                        "data": "Status",
                        "render": function (data, type, row) {
                            return data == true ? '<span class="badge bg-success m-0">Published</span>' : '<span class="badge bg-danger m-0">Un-published</span>';
                        },
                        "orderable": false,
                    },
                    {
                        "title": "ACTION",
                        "data": null,
                        "render": function (data, type, row) {

                            let Status = row['Status'] === true ? false : true;
                            let str = Status === true ? "Published" : "Un-published";
                            let divTag = '<div class="dropdown">' +
                                '<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Action</button>' +
                                '<ul class="dropdown-menu dropdown-menu-end">' +
                                '<li><a class="dropdown-item" href=javascript:GetBlogData(' + row['ID'] + ')>Edit</a></li>' +
                                '<li><a class="dropdown-item" href=javascript:UpdateStatus(' + row['ID'] + ',' + Status + ')>' + str+'</a></li>' +
                                '<li><a class="dropdown-item" href=javascript:DeleteBlogConfirmation(' + row['ID'] + ')>Delete</a></li>' +
                                '</ul>';
                            return divTag;
                        },
                        "orderable": false,
                    }
                ],
                "buttons": [
                    {

                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#ArticleList")) {
                    $('#ArticleList').dataTable().fnDestroy();
                }
                initTable1();
            }

        };

    }();

    $("#FormAddBlogCategory").on("submit", function (e) {
        e.preventDefault();
        let IsValidInput = false;
        if (ValidateBlogCategoryName() === false) {
            IsValidInput = true;
        }

        if (IsValidInput === true) {
            return;
        }

        let infoBlogCategory = {
            Name: $.trim($('#BlogCategoryName').val()),
        };
        $.ajax({
            type: "POST",
            url: "Blog/AddBlogCategory",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(infoBlogCategory),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    $('#addBlogCategory').modal('toggle');
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", recvResult.Message);
                    $('#addBlogCategory').modal('toggle');
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                $('#addBlogCategory').modal('toggle');
            }
        });

    });

    $("#FormAddEditBlog").on("submit", function (e) {
        e.preventDefault();
        let IsValidInput = false;
        if (ValidateArticleName() === false) {
            IsValidInput = true;
        }

        if (IsValidInput === true) {
            return;
        }

        let BlogID = $('#BlogID').val();
        if (BlogID === NaN || BlogID === '') {
            BlogID = 0;
        }

        let BlogStatus = $('#BlogStatus').val();
        if (BlogStatus === NaN || BlogStatus === '') {
            BlogStatus = false;
        }

        let infoBlog = {
            ID: BlogID,
            ArticleName: $('#ArticleName').val(),
            Articles: CKEDITOR.instances["ArticleContent"].getData(),
            Status: BlogStatus,
            BlogCategoryID: $.trim($('#chooseBlogCategoty').val()),
        };
        $.ajax({
            type: "POST",
            url: "Blog/AddBlog",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(infoBlog),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    $('#addArticle').modal('toggle');
                    RefreshArticleList();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", recvResult.Message);
                    $('#addArticle').modal('toggle');
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                $('#addArticle').modal('toggle');
            }
        });

    });




    /*-----------------------------------
     * Events
     ------------------------------------*/
    $("#BlogCategoryName").keyup(function () {
        ValidateBlogCategoryName();
    });

    $("#ArticleName").keyup(function () {
        ValidateArticleName();
    });


    $('#OpenAddArticle').click(function () {
        $('span#BlogCategoryName').remove();
        $('span#ArticleName').remove();
        let drpdwnBlogCategory = $('#chooseBlogCategoty');
        drpdwnBlogCategory.empty();
        $.ajax({
            url: "Blog/BlogCategoryDropdownList",
            type: "GET",
            async: false,
            success: function (data) {
                drpdwnBlogCategory.empty();
                drpdwnBlogCategory.children().remove();

                $(data).each(function (index, item) {
                    drpdwnBlogCategory.append($("<option>").val(item.Value).text(item.Text));
                });

                $('#addArticle').modal('show');
            },
            failure: function (response) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            },
            error: function (response) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    });

    function ValidateBlogCategoryName() {
        $('span#BlogCategoryName').remove();
        let ProductCategoryName = $('#BlogCategoryName').val();
        if (ProductCategoryName.length <= 0) {
            $("<span class=text-danger id=BlogCategoryName>Please provide a blog category name.</span>").insertAfter('#BlogCategoryName');
            return false;
        }
        if (ProductCategoryName.length <= 1 || ProductCategoryName.length >= 64) {
            $("<span class=text-danger id=BlogCategoryName>Blog category should be between 2 and 64 characters.</span>").insertAfter('#BlogCategoryName');
            return false;
        }
        let regex = /^[A-Za-z\s]+$/;
        if (!regex.test(ProductCategoryName)) {
            $("<span class=text-danger id=BlogCategoryName>Blog category should be alphabetic.</span>").insertAfter('#BlogCategoryName');
            return false;
        }
        return true;
    }

    function ValidateArticleName() {
        $('span#ArticleName').remove();
        let ProductCategoryName = $('#ArticleName').val();
        if (ProductCategoryName.length <= 0) {
            $("<span class=text-danger id=ArticleName>Please provide an article name.</span>").insertAfter('#ArticleName');
            return false;
        }
        if (ProductCategoryName.length <= 1 || ProductCategoryName.length >= 64) {
            $("<span class=text-danger id=ArticleName>Article name should be between 2 and 64 characters.</span>").insertAfter('#ArticleName');
            return false;
        }
        let regex = /^[A-Za-z\s]+$/;
        if (!regex.test(ProductCategoryName)) {
            $("<span class=text-danger id=ArticleName>Article name should be alphabetic.</span>").insertAfter('#ArticleName');
            return false;
        }
        return true;
    }

    function UpdateStatus(ID, Status) {
        $.ajax({
            type: "POST",
            url: "Blog/UpdateStatus",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ ID: ID, Status: Status }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    RefreshArticleList();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

    function DeleteBlogConfirmation(ID) {
        ShowMessageToastr("warning", "Do you want to delete this item?", true, 'DeleteBlog(' + ID + ')', '');
    }

    function DeleteBlog(ID) {
        $.ajax({
            type: "POST",
            url: "Blog/DeleteBlog",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ ID: ID }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", "Blog deleted successfully.");
                    RefreshArticleList();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

    function GetBlogData(value) {
        $('span#BlogCategoryName').remove();
        $('span#ArticleName').remove();
        let editBlogArticle = {
            ID: value,
        };
        $.ajax({
            type: "POST",
            url: "Blog/GetBlog",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(editBlogArticle),
            success: function (response) {
                $('#OpenAddArticle').trigger('click');
                $("#chooseBlogCategoty").val(response.BlogCategoryID);
                $('#BlogID').val(response.ID);
                $('#BlogStatus').attr('value', response.Status);
                $('#ArticleName').val(response.ArticleName);
                CKEDITOR.instances['ArticleContent'].setData(response.Articles);
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                $('#addCategory').modal('toggle');
            }
        });
    }


    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this)
            .find("textarea,select,input[type=text]")
            .val('').change()
            .end()
            .find("input[type=checkbox],input[type=radio]")
            .prop("checked", "")
            .end();

        CKEDITOR.instances['ArticleContent'].setData('');
    });

</script>