﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutWithHeaderOnly.cshtml";
}

@model Admin

<div class="container-fluid mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Content-->
            <section class="col-12 pt-lg-4 pb-4 mb-3">
                <div class="pt-2">
                    <h2 class="h3 py-2 ps-4 text-center text-sm-start">Profile</h2>
                    @using (Html.BeginForm(Actions.UpdateProfile, Controllers.AdminProfile, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return validateForm();", @id = "frmAddEditProduct" }))
                    {
                    <div class="p-4">
                        <!-- Profile-->
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.AvtarURL)
                        @Html.HiddenFor(model => model.Email)

                        <div class="bg-secondary rounded-3 p-4 mb-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded" src="@Model.AvtarFullURL" width="90" alt="" id="blah">
                                <div class="ps-3">
                                    <input type="file" id="FileURL" name="FileURL" hidden />
                                    <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar">
                                        <i class="ci-loading me-2"></i>Change <span class='d-none d-sm-inline'>avatar</span>
                                    </button>
                                    <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-4 gy-3">
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-fn">Name</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-email">Email address</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="dashboard-profile-name">Phone</label>
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            </div>
                            <div class="col-12">
                                <hr class="mt-2 mb-4">
                                <div class="d-sm-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    debugger;
    $("#SelectAvtar").click(function () {
        $("#FileURL").trigger('click');
    });

    $("#FileURL").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    function validateForm() {
        let FirstName = $('#Name').val();
        if (FirstName === NaN || FirstName === "") {
            ShowMessageToastr("danger", "Name Can't be empty.");
            $("#Name").focus();
            return false;
        }

        let Phone = $('#Phone').val();
        if (Phone === NaN || Phone === "") {
            ShowMessageToastr("danger", "Phone Can't be empty.");
            $("#Phone").focus();
            return false;
        }
        return true;
    }
</script>