.jqpaginator {
    position: relative;
}

    .jqpaginator .jqp-wrap {
        display: block;
        margin: 0 auto;
        max-width: 540px;
        position: relative;
        text-align: center;
    }

        .jqpaginator .jqp-wrap .jqp-input {
            display: block;
            margin: 0 auto;
            width: 100px;
        }

        .jqpaginator .jqp-wrap .jqp-prev,
        .jqpaginator .jqp-wrap .jqp-next,
        .jqpaginator .jqp-wrap .jqp-pages {
            display: inline-block;
            padding: 0.5rem 0.75rem;
            position: relative;
        }

            .jqpaginator .jqp-wrap .jqp-prev > button,
            .jqpaginator .jqp-wrap .jqp-next > button,
            .jqpaginator .jqp-wrap .jqp-pages {
                padding: 0;
                margin: 0;
            }

                .jqpaginator .jqp-wrap .jqp-prev > button,
                .jqpaginator .jqp-wrap .jqp-next > button,
                .jqpaginator .jqp-wrap .jqp-pages li {
                    color: #009b73;
                    background-color: #fff;
                    cursor: auto;
                    display: inline-block;
                    padding: 5px 10px;
                    border: 1px solid #dee2e6;
                    margin-left: 5px;
                    border-radius: 0.25rem;
                    line-height: 1.25;
                }

                    .jqpaginator .jqp-wrap .jqp-pages li.jqp-page,
                    .jqpaginator .jqp-wrap .jqp-prev > button,
                    .jqpaginator .jqp-wrap .jqp-next > button,
                    .jqpaginator .jqp-wrap button {
                        cursor: pointer;
                    }

                    .jqpaginator .jqp-wrap .jqp-prev > button.jqp-active,
                    .jqpaginator .jqp-wrap .jqp-next > button.jqp-active,
                    .jqpaginator .jqp-wrap .jqp-pages li.jqp-active {
                        cursor: default;
                        font-weight: bold;
                        z-index: 1;
                        color: #fff;
                        background-color: #009b73;
                        border-color: #009b73;
                    }

                        .jqpaginator .jqp-wrap .jqp-prev > button.jqp-disable,
                        .jqpaginator .jqp-wrap .jqp-next > button.jqp-disable,
                        .jqpaginator .jqp-wrap button .jqp-disable {
                            color: #6c757d;
                            pointer-events: none;
                            cursor: default;
                            background-color: #fff;
                            border-color: #dee2e6;
                        }
