﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Topfarms | Homepage";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var OrderCount = string.Empty;
}

@Html.AntiForgeryToken()

<!-- Hero slider-->
<section class="tns-carousel tns-controls-lg">
    <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">        
        <!-- Item-->
        <div class="px-lg-5" style="background-color: #fff;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
                <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="~/img/home/hero-slider/01.png" alt="">
                <div class="position-relative mx-auto me-lg-n5 py-5 px-4 order-lg-1" style="max-width: 42rem; z-index: 10;">
                    <div class="text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-dark fw-light pb-1 from-top">Accessories Products Collections...</h3>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="@Url.Action(Actions.ShopGrid, Controllers.Home)">Shop Now<i class="ti-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item-->
        <div class="px-lg-5" style="background-color: #fff;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4">
                <img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="~/img/home/hero-slider/02.png" alt="">
                <div class="position-relative mx-auto me-lg-n5 py-5 px-4 order-lg-1" style="max-width: 42rem; z-index: 10;">
                    <div class="text-center text-lg-start text-lg-nowrap">
                        <h3 class="h2 text-dark fw-light pb-1 from-top">Semens Products Collections...</h3>
                        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="@Url.Action(Actions.ShopGrid, Controllers.Home)">Shop Now<i class="ti-arrow-right ms-2 me-n1"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Products grid (Trending products (Carousel))-->
<section class="py-2 border-bottom mb-md-3">
    <div class="container">
        <!-- Heading-->
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 pb-4 mb-4">
            <h2 class="h4 mb-0 pt-3 me-3">Trending products</h2>
            <div class="pt-3">
                <a class="btn btn-outline-accent btn-sm" href="@Url.Action(Actions.ShopGrid, Controllers.Home)">
                    More products
                    <i class="ti-arrow-right ms-1 me-n1"></i>
                </a>
            </div>
        </div>
        <!-- Popular Product Carousel -->
        <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled">
            <div class="popular-product-slider" id="divPopularProducts"></div>
        </div>
    </div>
</section>
<!-- New Products (Carousel) -->
<section class="py-2 border-bottom mb-md-3">
    <div class="container">
        <!-- Heading-->
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 pb-4 mb-4">
            <h2 class="h4 mb-0 pt-3 me-3">New products</h2>
            <div class="pt-3">
                <a class="btn btn-outline-accent btn-sm" href="@Url.Action(Actions.ShopGrid, Controllers.Home)">
                    More products
                    <i class="ti-arrow-right ms-1 me-n1"></i>
                </a>
            </div>
        </div>
        <!-- New Product Carousel -->
        <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled">
            <div class="new-product-slider" id="divNewProducts"></div>
        </div>
    </div>
</section>

<script>
    var popularProdSlider = '';
    var NewProdSlider = '';

    $(document).ready(function () {
        RefreshHomePageProducts();

        popularProdSlider = tns({
            container: '.popular-product-slider',
            controlsText: ['<i class="ti-arrow-left"></i>', '<i class="ti-arrow-right"></i>'],
            navPosition: 'bottom',
            mouseDrag: true,
            speed: 500,
            autoplayHoverPause: true,
            autoplayButtonOutput: false,
            items: 2,
            gutter: 16,
            controls: true,
            autoHeight: true,
            responsive: { 0: { items: 1 }, 480: { items: 2 }, 720: { items: 3 }, 991: { items: 2 }, 1140: { items: 3 }, 1300: { items: 4 }, 1500: { items: 5 } }
        });

        NewProdSlider = tns({
            container: '.new-product-slider',
            controlsText: ['<i class="ti-arrow-left"></i>', '<i class="ti-arrow-right"></i>'],
            navPosition: 'bottom',
            mouseDrag: true,
            speed: 500,
            autoplayHoverPause: true,
            autoplayButtonOutput: false,
            items: 2,
            gutter: 16,
            controls: true,
            autoHeight: true,
            responsive: { 0: { items: 1 }, 480: { items: 2 }, 720: { items: 3 }, 991: { items: 2 }, 1140: { items: 3 }, 1300: { items: 4 }, 1500: { items: 5 } }
        });
    });

    @*function OnPageLoad() {
        $.ajax({
            url: '@Url.Action(Actions.GetcDashboardCountList, Controllers.Home)',
            data: { ID: 1},
            type: 'POST',
            datatype: 'json',
            async: false,
            success: function (data) {

            },
            error: function () {
                //ShowMessageToastr("danger", "Failed to load products.");
            }
        });
    }
    OnPageLoad();*@
    function RefreshHomePageProducts()
    {
        let popularProduct = LoadProducts(@((int)ProductSortTypes.Popularity));
        $('#divPopularProducts').empty();
        $('#divPopularProducts').append(popularProduct);

        let NewProduct = LoadProducts(@((int)ProductSortTypes.New));
        $('#divNewProducts').empty();
        $('#divNewProducts').html(NewProduct);
    }

    function RefreshHomePageProductsSearch(id)
     {
        let popularProduct = LoadProducts(@((int)ProductSortTypes.Popularity),id);
        $('#divPopularProducts').empty();
        $('#divPopularProducts').append(popularProduct);

        let NewProduct = LoadProducts(@((int)ProductSortTypes.New),id);
        $('#divNewProducts').empty();
         $('#divNewProducts').html(NewProduct);

         popularProdSlider = tns({
             container: '.popular-product-slider',
             controlsText: ['<i class="ti-arrow-left"></i>', '<i class="ti-arrow-right"></i>'],
             navPosition: 'bottom',
             mouseDrag: true,
             speed: 500,
             autoplayHoverPause: true,
             autoplayButtonOutput: false,
             items: 2,
             gutter: 16,
             controls: true,
             autoHeight: true,
             responsive: { 0: { items: 1 }, 480: { items: 2 }, 720: { items: 3 }, 991: { items: 2 }, 1140: { items: 3 }, 1300: { items: 4 }, 1500: { items: 5 } }
         });

         NewProdSlider = tns({
             container: '.new-product-slider',
             controlsText: ['<i class="ti-arrow-left"></i>', '<i class="ti-arrow-right"></i>'],
             navPosition: 'bottom',
             mouseDrag: true,
             speed: 500,
             autoplayHoverPause: true,
             autoplayButtonOutput: false,
             items: 2,
             gutter: 16,
             controls: true,
             autoHeight: true,
             responsive: { 0: { items: 1 }, 480: { items: 2 }, 720: { items: 3 }, 991: { items: 2 }, 1140: { items: 3 }, 1300: { items: 4 }, 1500: { items: 5 } }
         });
    }

    function AddHomePageProductToWishlist(productId) {
        AddToWishlist(productId);
        RefreshHomePageProducts();
        popularProdSlider = popularProdSlider.rebuild();
        NewProdSlider = NewProdSlider.rebuild();
    }

    function AddHomePageProductToCart(productId) {
        AddToCart(productId, 1);
        RefreshHomePageProducts();
        popularProdSlider = popularProdSlider.rebuild();
        NewProdSlider = NewProdSlider.rebuild();
    }

    function LoadProducts(sortBy, categoryId) {
        let htmlstring = "";

        $.ajax({
            url: '@Url.Action(Actions.GetProducts, Controllers.Home)',
            data: addRequestVerificationToken({ offset: 0, limit: 8, SortBy: sortBy, categoryId: categoryId}),
            type: 'POST',
            datatype: 'json',
            async: false,
            success: function (data) {
                $.each(data, function (key, product) {
                    htmlstring += `<div class="tiny-slide"><div class="card product-card">`;

                    if (product.IsWishlisted == false)
                    {
                        htmlstring += `<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" onclick="AddHomePageProductToWishlist(${product.ID})">
                                    <i class="ti-heart"></i>
                                </button>`;
                    }
                    else
                    {
                       htmlstring += `<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Added in wishlist">
                                    <i class="ti-heart" style="color:red"></i>
                                </button>`;
                    }
                    htmlstring += `<a class="card-img-top d-block overflow-hidden" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${product.ID}">
                                    <img src="${product.ImageFullURL}" style="height:250px;" alt="Product" />
                                </a>

                                <div class="card-body py-2">
                                    <a class="product-meta d-block fs-xs pb-1" href="#">${product.CategoryName}</a>
                                    <h3 class="product-title fs-sm"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${product.ID}">${product.Name}</a></h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                            <span class="text-accent">$${product.OfferPrice}</span>
                                            <del class="fs-sm text-muted">$${product.StandardPrice}</del>
                                        </div>
                                        <div class="star-rating">`;

                                    for (var i = 0; i < 5; i++) {
                                        if (product.Rating >= 1) {
                                            htmlstring += `<i class="star-rating-icon ti-star-filled active"></i>`;
                                            product.Rating--;
                                        }
                                        else if (product.Rating > 0) {
                                            htmlstring += `<i class="star-rating-icon ti-star-half active"></i>`;
                                            product.Rating--;
                                        }
                                        else {
                                            htmlstring += `<i class="star-rating-icon ti-star"></i>`;
                                        }
                                    }

                    htmlstring += `</div></div>`;

                    if (product.IsInCart == false)
                                    {
                        htmlstring += `<div class="d-flex my-2">
                                            <button class="btn btn-primary w-100 btn-sm" type="button" onclick="AddHomePageProductToCart(${product.ID})"><i class="ti-cart fs-sm me-1"></i>Add to Cart</button>
                                        </div>`;
                                    }
                                    else
                                    {
                        htmlstring += `<div class="d-flex my-2">
                                            <button class="btn btn-primary w-100 btn-sm"><i class="ti-check fs-sm me-1"></i>Added in Cart</button>
                                        </div>`;
                                    }

                    htmlstring += `</div></div></div>`;
                });

                if (htmlstring == "") {
                    htmlstring += `<div> No product available.</div>`;
                }
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to load products.");
                htmlstring += "<div> No product available.</div>";
            }
        });

        return htmlstring;
    }
</script>