﻿﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Topfarms | Notification";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Html.AntiForgeryToken()


<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href=""><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Customer</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Grid left sidebar</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Notifications</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="fs-base text-light mb-0"></h6>
                <a class="btn btn-primary btn-sm" href="@Url.Action(Actions.Logout, Controllers.Account)">
                    <i class="ti-sign-out me-2"></i>Sign out
                </a>

            </div>
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                <h2 class="h3 py-2 text-center text-sm-start"></h2>

                <ul class="notification" id="bindcustomernotifications">
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Order Details Modal -->
<div class="modal fade" id="orderDetails" tabindex="-1" aria-labelledby="orderDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script src="~/dist/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/dist/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="~/dist/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="~/dist/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="~/dist/vendor/drift-zoom/dist/Drift.min.js"></script>
<script src="~/dist/vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
<script src="~/dist/vendor/lg-video.js/dist/lg-video.min.js"></script>


<!-- Main theme script-->
<script src="~/dist/js/theme.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        customernotificationBind();
    });
    function showOrderDetails(orderId) {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerOrderDetail, Controllers.Home)',
            data: addRequestVerificationToken({ Id: orderId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                let htmlString = `<div class="row fs-sm">
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order ID</div>
                        <div>
                            <span>${data.OrderId}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Date</div>
                        <div>
                            <span>${data.OrderDateStr}</span>
                            <span>${data.OrderTimeStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Assign Date</div>
                        <div>
                            <span>${data.AssignDateStr}</span>
                            <span>${data.AssignTimeStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Assign To</div>
                        <div>
                            <span>${data.AssignToName}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Total Payment</div>
                        <div>
                            <span>$${data.FinalAmount}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Payment</div>
                        <div>`;
                            switch (data.PaymentTypes) {
                                case @((int)PaymentStatus.COD):
                                    htmlString += `<div class="badge bg-secondary border p-2">COD</div>`;
                                    break;
                                case @((int)PaymentStatus.Paid):
                                    htmlString += '<div class="badge bg-success border p-2">Paid</div>';
                                    break;
                                default:
                                    htmlString += '<div>-</div>';
                                    break;
                            }
        htmlString += `</div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Status</div>
                        <div>`;
                            switch (data.Status) {
                                case @((int)OrderStatus.Assigned):
                                    htmlString += '<div class="badge bg-light border p-2">Assigned</div>';
                                    break;
                                case @((int)OrderStatus.Fulfilled):
                                    htmlString += '<div class="badge bg-info p-2">Fulfilled</div>';
                                    break;
                                case @((int)OrderStatus.Delivered):
                                    htmlString += '<div class="badge bg-success p-2">Delivered</div>';
                                    break;
                                case @((int)OrderStatus.Delay):
                                    htmlString += '<div class="badge bg-warning p-2">Delay</div>';
                                    break;
                                case @((int)OrderStatus.Cancelled):
                                    htmlString += '<div class="badge bg-danger p-2">Cancelled</div>';
                                    break;
                                case @((int)OrderStatus.OutForDelivery):
                                    htmlString += '<div class="badge bg-primary p-2">Out for delivery</div>';
                                    break;
                                case @((int)OrderStatus.InProcess):
                                    htmlString += '<div class="badge bg-info p-2">In Process</div>';
                                    break;
                                case @((int)OrderStatus.UnAssigned):
                                    htmlString += '<div class="badge bg-dark p-2">Un-Assigned</div>';
                                    break;
                                default:
                                    htmlString += '<div>-</div>';
                                    break;
                            }
                htmlString += `</div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Last Updated</div>
                        <div>
                            <span>${data.UpdatedDateStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Customer Name</div>
                        <div>
                            <span>${data.CustomerName}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted mb-1">Shipment to</div>
                        <div>
                            ${data.ShipmentAddressStr}
                        </div>
                    </div>
                </div>`;

                // Order details table
                htmlString += `<div class="row border-top pt-3">
                    <div class="col-12">
                        <div class="table-card table-responsive fs-sm">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="col-3">Product Name</th>
                                        <th class="col-2">Rate</th>
                                        <th class="col-1">QTY</th>
                                        <th class="col-2 text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>`;

                $.each(data.OrderDetails, function (key, product) {
                    htmlString += `<tr>
                                        <td class="col-3">${product.ProductName}</td>
                                        <td class="col-2 text-center">$${product.Rate}</td>
                                        <td class="col-1 text-center">${product.Quantity}</td>
                                        <td class="col-2 text-end">$${product.Amount}</td>
                                    </tr>`;
                });
                htmlString += `<tr>
                                        <td colspan="3" class="text-end"><strong>Sub Total:</strong></td>
                                        <td class="text-end fw-medium">$${data.TotalAmount}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Tax:</strong></td>
                                        <td class="text-end fw-medium">$${data.TaxAmount}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Total:</strong></td>
                                        <td class="text-end fw-medium">$${data.FinalAmount}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>`;

                // Order Timeline
                htmlString += `<div class="row border-top mt-3 pt-3">
                    <div class="col-12">`;

                $.each(data.OrderTimeline, function (key, timeline) {
                    htmlString += `<div class="timeline-item done">`;
                    switch (timeline.Status) {
                                case @((int)OrderStatus.Assigned):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Assigned</h6>';
                                    break;
                                case @((int)OrderStatus.Fulfilled):
                                    htmlString += '<h6 class="fs-sm fw-medium">Fulfilled order by trader</h6>';
                                    break;
                                case @((int)OrderStatus.Delivered):
                                    htmlString += '<h6 class="fs-sm fw-medium">Delivered</h6>';
                                    break;
                                case @((int)OrderStatus.Delay):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Delayed</h6>';
                                    break;
                                case @((int)OrderStatus.Cancelled):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Cancelled</h6>';
                                    break;
                                case @((int)OrderStatus.OutForDelivery):
                                    htmlString += '<h6 class="fs-sm fw-medium">Out for delivery</h6>';
                                    break;
                                case @((int)OrderStatus.InProcess):
                                    htmlString += '<h6 class="fs-sm fw-medium">In process</h6>';
                                    break;
                                case @((int)OrderStatus.UnAssigned):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Received</h6>';
                                    break;
                                default:
                                    htmlString += '<h6 class="fs-sm fw-medium">Unknown status</h6>';
                                    break;
                    }

                    htmlString += `<div>
                                <p class="text-muted fs-sm mb-0 lh-1">${timeline.Note}</p>
                                <span class="text-muted fs-xs">${timeline.SubmitDateStr} - ${timeline.SubmitTimeStr}</span>
                            </div>
                        </div>`;
                });

                htmlString += `</div></div>`;

                $('#orderDetails .modal-body').html(htmlString);
                $('#orderDetails').modal('show');
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to get order details.");
            }
        });
    }

    function customernotificationBind() {

        $.ajax({
            type: "POST",
            url: "BindNotification",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Values.length == 0) {
                    $('#bindcustomernotifications').html(`
                    <tr>
                        <td colspan="100" class="text-center" style="font-size:18px;font-weight:500;">No notification found</td>
                    </tr>
                `)
                } else {
                    $("#bindcustomernotifications").html(``);
                }
                for (i = 0; i < result.Values.length; i++) {
                    $('#bindcustomernotifications').append(`
                   <li class="notification-item">
        <div class="notification-icon">
            <i class="ti-bell"></i>
        </div>
        <div class="notification-content">
            <div class="notification-text">${result.Values[i].Message}</div>
            <div class="notification-time">${result.Values[i].CreatedDateStr}</div>
        </div>
    </li>
                `);
                }

            }, error: function (error) {
                // Error function
            }
        });
        return false;
    }
</script>

