﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Topfarms | Shop Grid";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<style>
    .text-nowrap {
        width: 120px;
        overflow: hidden;
    }

    .mr-20 {
        margin-right: 25px !important;
    }
</style>

@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index,Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Grid</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Shop Grid</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4">
            <!-- Sidebar-->
            <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar"
                 style="max-width: 22rem;">
                <div class="offcanvas-cap align-items-center shadow-sm">
                    <h2 class="h5 mb-0">Filters</h2>
                    <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
                    <!-- Categories-->
                    <div class="widget widget-categories mb-4 pb-4 border-bottom">
                        <h3 class="widget-title">Categories</h3>
                        <div class="accordion mt-n1" id="product-categories">
                            <!-- Item-->
                            <div class="accordion-item">
                                <a class="accordion-header" role="button" onclick="ApplyProductCategoryFilter(0);">All</a>
                            </div>

                            @foreach (var category in ViewBag.ProductCategory)
                            {
                                <!-- Item-->
                                <div class="accordion-item">
                                    <a class="accordion-header" role="button" onclick="ApplyProductCategoryFilter(@category.Value);">@category.Text</a>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Price range-->
                    <div class="widget mb-4 pb-4 border-bottom">
                        <h3 class="widget-title">Price</h3>
                        <div class="range-slider" id="prodpriceRangeSlider" data-start-min="0" data-start-max="@ViewBag.MaxProductPrice" data-min="0" data-max="@ViewBag.MaxProductPrice"
                             data-step="1">
                            <div class="range-slider-ui"></div>
                            <div class="d-flex pb-1">
                                <div class="w-50 pe-2 me-2">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text">$</span>
                                        <input id="minProductPriceFilter" class="form-control range-slider-value-min" type="text">
                                    </div>
                                </div>
                                <div class="w-50 ps-2">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text">$</span>
                                        <input id="maxProductPriceFilter" class="form-control range-slider-value-max" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                <div class="d-flex flex-wrap">
                    <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                        <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sortProduct">
                            Sort by :</label>
                        <select class="form-select w-50" id="sortProduct">
                            <option value="@((int)ProductSortTypes.Popularity)">Popularity</option>
                            <option value="@((int)ProductSortTypes.LowToHighPrice)">Low - High Price</option>
                            <option value="@((int)ProductSortTypes.HighToLowPrice)">High - Low Price</option>
                            <option value="@((int)ProductSortTypes.AverageRating)">Average Rating</option>
                            <option value="@((int)ProductSortTypes.AtoZ)">A - Z Order</option>
                            <option value="@((int)ProductSortTypes.ZtoA)">Z - A Order</option>
                        </select>
                        <span class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block" id="labelProductsStr">
                        </span>
                    </div>
                </div>
                <div class="d-flex pb-3">
                    <button class="btn btn-primary w-100 btn-sm" id="btnfilter" type="button" href="#add-address" data-bs-toggle="modal"><i class="ti-filter fs-sm me-1"></i>More Filters...</button>
                </div>
                <div class="d-flex pb-3">
                    <a class="nav-link-style nav-link-light me-3" href="javascript:void(0)" id="PagingUpperPrev">
                        <i class="ti-arrow-left"></i>
                    </a><span class="fs-md text-light" id="labelPagingUpper"></span>
                    <a class="nav-link-style nav-link-light ms-3" href="javascript:void(0)" id="PagingUpperNext"><i class="ti-arrow-right"></i></a>
                </div>
            </div>
            <!-- Products grid-->
            <div class="row mx-n2" id="ProductsArea">
                <!-- Product load by jquery-->

            </div>
            <hr class="my-3">
            <!-- Pagination-->
            <div id="target" style="display: block;position: relative;"></div>
        </section>
    </div>
</div>
<form class="needs-validation modal fade" method="post" id="add-address" tabindex="-1" novalidate>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="mainheader">
                <div class="modal-header">
                    <h5 class="modal-title">Select Pricing</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                        <button class="btn btn-primary btn-shadow mr-20" type="button" id="btnpf">PF Pricing</button>
                        <button class="btn btn-primary btn-shadow" type="button" id="btntpi">TPI Pricing</button>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

            <div id="pfid">
                <div class="modal-header">
                    <h5 class="modal-title">PF Pricing</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                PF
                            </label>
                            <input class="form-control" type="text" id="PF" placeholder="search data over PF value">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Milk
                            </label>
                            <input class="form-control" type="text" id="Milk_PF" placeholder="search data over Milk value">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Protein
                            </label>
                            <input class="form-control" type="text" id="Protein_PF" placeholder="Protein">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Fat
                            </label>
                            <input class="form-control" type="text" id="Fat_PF" placeholder="Fat">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Longevity
                            </label>
                            <input class="form-control" type="text" id="Longevity_PF" placeholder="Longevity">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Fertility
                            </label>
                            <input class="form-control" type="text" id="Fertility_PF" placeholder="Fertility">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Habit
                            </label>
                            <input class="form-control" type="text" id="Habit_PF" placeholder="Habit">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <button class="btn btn-primary btn-shadow" type="button" onclick="clearPf()">Clear</button> &nbsp;
                            <button class="btn btn-primary btn-shadow" type="button" onclick="back()">Back</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-shadow" type="button" onclick="appFil()" id="btnApplyFilter1">Apply1</button>
                </div>
            </div>
            <div id="tpiid">
                <div class="modal-header">
                    <h5 class="modal-title">TPI Pricing</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                TPI
                            </label>
                            <input class="form-control" type="text" id="TPI" placeholder="search data over TPI value">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                NetMerit
                            </label>
                            <input class="form-control" type="text" id="NetMerit_TPI" placeholder="NetMerit">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Milk
                            </label>
                            <input class="form-control" type="text" id="Milk_TPI" placeholder="Milk">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Protein
                            </label>
                            <input class="form-control" type="text" id="Protein_TPI" placeholder="Protein">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Fat
                            </label>
                            <input class="form-control" type="text" id="Fat_TPI" placeholder="Fat">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Longevity
                            </label>
                            <input class="form-control" type="text" id="Longevity_TPI" placeholder="search data over Longevity value">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                CalvingEase
                            </label>
                            <input class="form-control" type="text" id="CalvingEase_TPI" placeholder="search data below CalvingEase value">
                        </div>
                        <div class="d-flex align-items-center flex-nowrap me-sm-4 pb-3">
                            <label class="opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block" for="sorting">
                                Habit
                            </label>
                            <input class="form-control" type="text" id="Habit_TPI" placeholder="Habit">
                        </div>
                        <div class="d-flex flex-wrap w-100 justify-content-end">
                            <div class="d-flex align-items-center flex-nowrap mr-20 me-sm-4 pb-3">
                                <button class="btn btn-secondary" type="button" onclick="clearTPI()">Clear</button> &nbsp;
                                <button class="btn btn-primary btn-shadow" type="button" onclick="back()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-shadow" type="button" id="btnApplyFilter">Apply</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/components/jqpaginator.js"></script>

<script>
    var FilterProductCategory = 0;
    var itemsPerPage = 9;
    var currentPage = 1;
    var ActiveProductCount = 0;

    $(document).ready(function () {
        FilterProductCategory = @ViewBag.FilterCategoryId;
        $("#mainheader").hide();
        $("#tpiid").hide();
        $("#pfid").hide();

        $("#btnfilter").click(function () {
            $("#mainheader").show();
            $("#tpiid").hide();
            $("#pfid").hide();
        });

        $("#btnpf").click(function () {
            $("#mainheader").hide();
            $("#tpiid").hide();
            $("#pfid").show();
        });
        $("#btntpi").click(function () {
            $("#mainheader").hide();
            $("#tpiid").show();
            $("#pfid").hide();
        });

        $('#prodpriceRangeSlider').on('click', function () {
            $('#target').jqpaginator('reload');
        });

        $('#sortProduct').change(function () {
            $('#target').jqpaginator('reload');
        });

        $('#minProductPriceFilter').change(function () {
            $('#target').jqpaginator('reload');
        });

        $('#maxProductPriceFilter').change(function () {
            $('#target').jqpaginator('reload');
        });

        GetProductPriceList();

        $('#PagingUpperPrev').click(function () {
            $('#target .jqp-prev>button').trigger('click');
        });

        $('#PagingUpperNext').click(function () {
            $('#target .jqp-next>button').trigger('click');
        });
    });

    function appFil() {
        $("#add-address").modal('hide');
        $('#target').jqpaginator('reload');
    }

    function back() {
        $("#mainheader").show();
        $("#tpiid").hide();
        $("#pfid").hide();
    }

    function clearPf() {
        $("#PF").val("");
        $("#Milk_PF").val("");
        $("#Protein_PF").val("");
        $("#Fat_PF").val("");
        $("#Longevity_PF").val("");
        $("#Fertility_PF").val("");
        $("#Habit_PF").val("");
    }
    function clearTPI() {
        $("#TPI").val("");
        $("#NetMerit_TPI").val("");
        $("#Milk_TPI").val("");
        $("#Protein_TPI").val("");
        $("#Fat_TPI").val("");
        $("#Longevity_TPI").val("");
        $("#CalvingEase_TPI").val("");
        $("#Habit_TPI").val("");
    }
    function clearAll() {
        $("#PF").val("");
        $("#Milk_PF").val("");
        $("#Protein_PF").val("");
        $("#Fat_PF").val("");
        $("#Longevity_PF").val("");
        $("#Fertility_PF").val("");
        $("#Habit_PF").val("");
        $("#TPI").val("");
        $("#NetMerit_TPI").val("");
        $("#Milk_TPI").val("");
        $("#Protein_TPI").val("");
        $("#Fat_TPI").val("");
        $("#Longevity_TPI").val("");
        $("#CalvingEase_TPI").val("");
        $("#Habit_TPI").val("");
    }
    function GetProductPriceList() {
        $.ajax({
            url: '@Url.Action(Actions.GetProductPriceList, Controllers.Home)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                //console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var opt = new Option(data[i].PF, data[i].ID);
                    $('#PF').append(opt);
                    var opt1 = new Option(data[i].Milk_PF, data[i].ID);
                    $('#Milk_PF').append(opt1);

                    var opt2 = new Option(data[i].Protein_PF, data[i].ID);
                    $('#Protein_PF').append(opt2);
                    var opt3 = new Option(data[i].Fat_PF, data[i].ID);
                    $('#Fat_PF').append(opt3);
                    var opt4 = new Option(data[i].Longevity_PF, data[i].ID);
                    $('#Longevity_PF').append(opt4);
                    var opt5 = new Option(data[i].Fertility_PF, data[i].ID);
                    $('#Fertility_PF').append(opt5);
                    var opt6 = new Option(data[i].Habit_PF, data[i].ID);
                    $('#Habit_PF').append(opt6);


                    var opt7 = new Option(data[i].TPI, data[i].ID);
                    $('#TPI').append(opt7);
                    var opt8 = new Option(data[i].NetMerit_TPI, data[i].ID);
                    $('#NetMerit_TPI').append(opt8);
                    var opt9 = new Option(data[i].Milk_TPI, data[i].ID);
                    $('#Milk_TPI').append(opt9);
                    var opt10 = new Option(data[i].Protein_TPI, data[i].ID);
                    $('#Protein_TPI').append(opt10);
                    var opt11 = new Option(data[i].Fat_TPI, data[i].ID);
                    $('#Fat_TPI').append(opt11);
                    var opt12 = new Option(data[i].Longevity_TPI, data[i].ID);
                    $('#Longevity_TPI').append(opt12);
                    var opt13 = new Option(data[i].CalvingEase_TPI, data[i].ID);
                    $('#CalvingEase_TPI').append(opt13);
                    var opt14 = new Option(data[i].Habit_TPI, data[i].ID);
                    $('#Habit_TPI').append(opt14);


                }
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load products.");
            }
        });
    }

    function ApplyProductCategoryFilter(categoryId) {
        FilterProductCategory = categoryId;
        $('#target').jqpaginator('reload');
    }

    function AddHomePageProductToWishlist(productId) {
        AddToWishlist(productId);
        //LoadProducts();
        //window.location.reload();
        $('#target').jqpaginator('reload');
    }

    function AddHomePageProductToCart(productId) {
        AddToCart(productId, 1);
        //LoadProducts();
        //window.location.reload();
        $('#target').jqpaginator('reload');
    }

    let htmlstring = "";
    function LoadProducts() {
        htmlstring = "";

        var offset = (currentPage * itemsPerPage) - itemsPerPage;
            var priceSearch = {
                PF: $("#PF").val(),
                Milk_PF: $("#Milk_PF").val(),
                Protein_PF: $("#Protein_PF").val(),
                Fat_PF: $("#Fat_PF").val(),
                Longevity_PF: $("#Longevity_PF").val(),
                Fertility_PF: $("#Fertility_PF").val(),
                Habit_PF: $("#Habit_PF").val(),
                TPI: $("#TPI").val(),
                NetMerit_TPI: $("#NetMerit_TPI").val(),
                Milk_TPI: $("#Milk_TPI").val(),
                Protein_TPI: $("#Protein_TPI").val(),
                Fat_TPI: $("#Fat_TPI").val(),
                Longevity_TPI: $("#Longevity_TPI").val(),
                CalvingEase_TPI: $("#CalvingEase_TPI").val(),
                Habit_TPI: $("#Habit_TPI").val(),
            };

        $.ajax({
            url: '@Url.Action(Actions.GetpriceProducts, Controllers.Home)',
            data: addRequestVerificationToken({ priceSearch: priceSearch,offset, limit: itemsPerPage, SortBy: $('#sortProduct').val(), categoryId: FilterProductCategory, minPrice: $("#minProductPriceFilter").val(), maxPrice: $("#maxProductPriceFilter").val() }),
            type: 'POST',
            datatype: 'json',
            async: false,
            success: function (data) {
                ActiveProductCount = data.TotalRecords;

                $.each(data.items, function (key, product) {
                    htmlstring += `<div class="col-md-4 col-sm-6 px-2 mb-4">
                                        <div class="card product-card">`;
                    if (product.IsWishlisted == false) {
                        htmlstring += `<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" onclick="AddHomePageProductToWishlist(${product.ID})">
                                    <i class="ti-heart"></i>
                                </button>`;
                    }
                    else {
                        htmlstring += `<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Added in wishlist">
                                    <i class="ti-heart" style="color:red"></i>
                                </button>`;
                    }

                    htmlstring += `<a class="card-img-top d-block overflow-hidden" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${product.ID}">
                                    <img src="${product.ImageFullURL}" style="height:250px;" alt="Product" />
                                </a>

                                <div class="card-body py-2">
                                    <a class="product-meta d-block fs-xs pb-1" href="#">${product.CategoryName}</a>
                                    <h3 class="product-title fs-sm"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${product.ID}">${product.Name}</a></h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                            <span class="text-accent">$${product.OfferPrice}</span>
                                            <del class="fs-sm text-muted">$${product.StandardPrice}</del>
                                        </div>
                                        <div class="star-rating">`;

                                    for (var i = 0; i < 5; i++) {
                                        if (product.Rating >= 1) {
                                            htmlstring += `<i class="star-rating-icon ti-star-filled active"></i>`;
                                            product.Rating--;
                                        }
                                        else if (product.Rating > 0) {
                                            htmlstring += `<i class="star-rating-icon ti-star-half active"></i>`;
                                            product.Rating--;
                                        }
                                        else {
                                            htmlstring += `<i class="star-rating-icon ti-star"></i>`;
                                        }
                                    }

                    htmlstring += `</div>
                                    </div>`;

                    if (product.IsInCart == false) {
                        htmlstring += `<div class="d-flex my-2">
                                            <button class="btn btn-primary w-100 btn-sm" type="button" onclick="AddHomePageProductToCart(${product.ID})"><i class="ti-cart fs-sm me-1"></i>Add to Cart</button>
                                        </div>`;
                    }
                    else {
                        htmlstring += `<div class="d-flex my-2">
                                            <button class="btn btn-primary w-100 btn-sm"><i class="ti-check fs-sm me-1"></i>Added in Cart</button>
                                        </div>`;
                    }

                    htmlstring += `</div></div><hr class="d-sm-none"></div>`;
                });
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load products.");
            }
        });
    }

    function DisplayFilteredProduct() {
        $('#ProductsArea').empty();

        if (htmlstring == "") {
            htmlstring = `<div> No product available.</div>`;
        }

        $('#ProductsArea').html(htmlstring);
    }

    $(function () {
        function dataFunc(done, page) {
            currentPage = page;
            LoadProducts(); // It is using current page value

            var handler = function () {
                done("", ActiveProductCount);
            };
            setTimeout(handler, 1000);

            $("#labelPagingUpper").text(currentPage + " / " + Math.ceil(ActiveProductCount / itemsPerPage));
            $("#labelProductsStr").text("of " + ActiveProductCount+" products");
            //$('#PagingUpperPrev').prop('disabled', $("#target .jqp-prev>button").hasClass("jqp-disable"));
            //$('#PagingUpperNext').prop('disabled', $("#target .jqp-next>button").hasClass("jqp-disable"));
        }

        $('#target').jqpaginator({
            showButtons: true,
            showInput: true,
            showNumbers: true,
            numberMargin: 1,
            itemsPerPage: itemsPerPage,
            data: dataFunc,
            render: DisplayFilteredProduct,
        });
    });
</script>
