﻿@using TopFarm.Entities.V1;
@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Topfarms | Shop Single";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    decimal NetPrice = 0;
    if (Model.OfferPrice == 0)
    {
        NetPrice = (Model.StandardPrice);
        Model.OfferPrice = (Model.StandardPrice) + ((Model.StandardPrice) * Convert.ToDecimal(Model.Tax)) / 100;
        Model.StandardPrice = 0;
    }
    else
    {
        NetPrice = (Model.OfferPrice);
        Model.OfferPrice = (Model.OfferPrice) + ((Model.OfferPrice) * Convert.ToDecimal(Model.Tax)) / 100;
        Model.StandardPrice = (Model.StandardPrice) + ((Model.StandardPrice) * Convert.ToDecimal(Model.Tax)) / 100;
    }
}
<style>
    img {
        height: 100%;
    }

    .product-gallery-preview-item.active video {
        cursor: pointer;
    }

    .product-gallery-preview-item.active > img {
        display: block;
        width: 100%;
        cursor: crosshair;
    }

    .product-gallery-preview-item.active {
        position: relative;
        opacity: 1;
        z-index: 10;
        cursor: none;
    }

    video {
        max-width: 100%;
        height: auto;
    }

    .product-gallery-thumblist-item video {
        position: absolute;
        left: 0;
        max-width: fit-content;
        top: 0;
        filter: blur(1px)
    }

    i.ti-play {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #00161196;
        color: #fff;
        padding: 6px 0px;
        border-radius: 100%;
        padding-left: 8px;
        padding-right: 5px;
        box-shadow: 1px 4px 5px 0px rgb(0 0 0 / 32%);
        font-size: 10px;
        border: 1px solid;
    }
</style>

@model Product

@Html.AntiForgeryToken()

<!-- Custom page title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Product Page</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-2">@Model.Name</h1>
        </div>
    </div>
</div>

<div class="border-bottom mb-5 pb-5">
    <div class="container">
        <div class="bg-light shadow-lg rounded-3">

            <div class="px-4 pt-lg-3 pb-3 mb-5">
                <div class="px-lg-3">
                    <!-- General info-->
                    <div class="row">
                        <!-- Product gallery-->
                        <div class="col-lg-7 pe-lg-0">
                            <div class="product-gallery">
                                <div class="product-gallery-preview order-sm-2">
                                    @{
                                        bool active = true;
                                        foreach (var image in @Model.ProductImages)
                                        {
                                            if (image.IsImage == true)
                                            {
                                                if (active)
                                                {
                                                    <div class="product-gallery-preview-item active" id="img-@image.ID">
                                                        <img class="image-zoom" src="@Path.Combine(Configurations.ClientURL, image.URL)" data-zoom="@Path.Combine(Configurations.ClientURL, image.URL)" alt="Product image">
                                                        <div class="image-zoom-pane"></div>
                                                    </div>
                                                    active = false;
                                                }
                                                else
                                                {
                                                    <div class="product-gallery-preview-item" id="img-@image.ID">
                                                        <img class="image-zoom" src="@Path.Combine(Configurations.ClientURL, image.URL)" data-zoom="@Path.Combine(Configurations.ClientURL, image.URL)" alt="Product image">
                                                        <div class="image-zoom-pane"></div>
                                                    </div>
                                                }
                                            }
                                            else if (image.IsImage != true)
                                            {
                                                if (active)
                                                {
                                                    <div class="product-gallery-preview-item active" id="img-@image.ID">
                                                        <video id="@image.ID" width="622" height="519" src="@Path.Combine(Configurations.ClientURL, image.URL)" controls>
                                                        </video>

                                                    </div>
                                                    active = false;
                                                }
                                                else
                                                {
                                                    <div class="product-gallery-preview-item" id="img-@image.ID">
                                                        <video id="@image.ID" width="622" height="519" src="@Path.Combine(Configurations.ClientURL, image.URL)" controls></video>
                                                    </div>
                                                }

                                            }
                                        }
                                    }
                                </div>
                                <div class="product-gallery-thumblist order-sm-1">
                                    @{
                                        active = true;
                                        foreach (var image in @Model.ProductImages)
                                        {
                                            if (image.IsImage == true)
                                            {
                                                if (active)
                                                {
                                                    <a class="product-gallery-thumblist-item active" id="vd_@image.ID" href="#img-@image.ID">
                                                        <img src="@Path.Combine(Configurations.ClientURL, image.URL)" alt="Product thumb">
                                                    </a>
                                                    active = false;
                                                }
                                                else
                                                {
                                                    <a class="product-gallery-thumblist-item" href="#img-@image.ID">
                                                        <img src="@Path.Combine(Configurations.ClientURL, image.URL)" alt="Product thumb">
                                                    </a>
                                                }
                                            }
                                            else if (image.IsImage != true)
                                            {
                                                if (active)
                                                {
                                                    <a class="product-gallery-thumblist-item active" onclick="demovd(@image.ID);" id="abcdemo" href="#img-@image.ID">

                                                        <video width="200" src="@Path.Combine(Configurations.ClientURL, image.URL)"></video>
                                                        <i class="ti-play"></i>
                                                    </a>
                                                    active = false;
                                                }
                                                else

                                                {
                                                    <a class="product-gallery-thumblist-item" onclick="demovd(@image.ID);" id="@image.ID" href="#img-@image.ID">

                                                        <video width="200" src="@Path.Combine(Configurations.ClientURL, image.URL)"></video>
                                                        <i class="ti-play"></i>
                                                    </a>
                                                }

                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- Product details-->
                        <div class="col-lg-5 pt-4 pt-lg-0">
                            <div class="product-details ms-auto pb-3">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <a href="#reviews" data-scroll>
                                        <div class="star-rating">
                                            @{
                                                decimal rating = Math.Round(Model.Rating, 1);

                                                for (int i = 0; i < 5; i++)
                                                {
                                                    if (rating >= 1)
                                                    {
                                                        <i class="star-rating-icon ti-star-filled active"></i>
                                                        rating--;
                                                    }
                                                    else if (rating > 0)
                                                    {
                                                        <i class="star-rating-icon ti-star-half active"></i>
                                                        rating--;
                                                    }
                                                    else
                                                    {
                                                        <i class="star-rating-icon ti-star"></i>
                                                    }
                                                }
                                            }
                                        </div>
                                        <span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">@Model.TotalReview Reviews</span>
                                    </a>

                                    @if (Model.IsWishlisted == false)
                                    {
                                        <button id="btnMainWS" class="btn-wishlist me-0 me-lg-n3" type="button" data-bs-toggle="tooltip" title="Add to wishlist" onclick="AddSingleToWishlist(@Model.ID)"><i class="ti-heart"></i></button>
                                    }
                                    else
                                    {
                                        <button id="btnMainWS" class="btn-wishlist me-0 me-lg-n3" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Added in wishlist">
                                            <i class="ti-heart" style="color:green"></i>
                                        </button>
                                    }
                                </div>
                                <div class="mb-3">
                                    <span class="h3 fw-normal text-accent me-1">$@Model.OfferPrice.ToString("0.00")</span>
                                    <del class="text-muted fs-lg me-3">$@Model.StandardPrice.ToString("0.00")</del>
                                    @if (Model.StandardPrice > 0)
                                    {
                                        <span class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                                    }
                                </div>
                                <div class="mb-3">
                                    <span class="text-muted fs-sm me-3">Net Price : $@NetPrice.ToString("0.00")</span><br />
                                    <span class="text-muted fs-sm me-3">Tax Rate  : @Model.Tax % </span>
                                </div>
                                <div class="position-relative me-n4 mb-3">
                                    <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1" /></div>
                                    <div class="product-badge product-available mt-n1"><i class="ti-security-check"></i>Product available</div>
                                </div>
                                <div class="mb-grid-gutter">
                                    <div class="d-flex">
                                        <div class="mb-3 d-flex align-items-end">
                                            <div>
                                                <div class="d-flex justify-content-between align-items-center pb-1">
                                                    <label class="form-label" for="product-size">Qty:</label>
                                                </div>
                                                <input type="number" value="1" min="1" max="100" step="1" id="cProdQuantity" />
                                            </div>
                                        </div>
                                        <div style="margin-left:20px;">
                                            @if (Model.CategoryID == 1)
                                            {
                                                <label class="form-label" for="product-size">Unit:</label> <br />
                                                <span class="text-muted fs-sm me-3">portion(s)</span>
                                            }
                                            else
                                            {
                                                <label class="form-label" for="product-size">Unit:</label> <br />
                                                <span class="text-muted fs-sm me-3">piece(s)</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="mb-3 d-flex align-items-center">
                                        <div class="w-100 ">
                                            @if (Model.IsInCart == false)
                                            {
                                                <button id="btnMainCart" class="btn btn-primary btn-shadow d-block w-100" onclick="AddToCartWithMultiple(@Model.ID)"><i class="ti-cart fs-lg me-2"></i>Add to Cart</button>
                                            }
                                            else
                                            {
                                                <button id="btnMainCart" class="btn btn-primary btn-shadow d-block w-100" onclick="AddToCartWithMultiple(@Model.ID)"><i class="ti-check fs-lg me-2"></i>Added in Cart</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <!-- Product panels-->
                                <div class="accordion mb-4" id="productPanels">
                                    <div class="accordion-item">
                                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#shippingOptions" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="shippingOptions"><i class="ti-delivery text-muted lead align-middle mt-n1 me-2"></i>Shipping options</a></h3>
                                        <div class="accordion-collapse collapse" id="shippingOptions" data-bs-parent="#productPanels">
                                            <div class="accordion-body fs-sm">
                                                <div class="d-flex justify-content-between border-bottom pb-2">
                                                    <div>
                                                        <div class="fw-semibold text-dark">Courier</div>
                                                        <div class="fs-sm text-muted">2 - 4 days</div>
                                                    </div>
                                                    <div>$26.50</div>
                                                </div>
                                                <div class="d-flex justify-content-between border-bottom py-2">
                                                    <div>
                                                        <div class="fw-semibold text-dark">Local shipping</div>
                                                        <div class="fs-sm text-muted">up to one week</div>
                                                    </div>
                                                    <div>$10.00</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sharing-->
                                <label class="form-label d-inline-block align-middle my-2 me-3">Share:</label><a class="btn-share btn-twitter me-2 my-2" href="#"><i class="ti-twitter"></i>Twitter</a><a class="btn-share btn-instagram me-2 my-2" href="#"><i class="ti-instagram"></i>Instagram</a><a class="btn-share btn-facebook my-2" href="#"><i class="ti-facebook"></i>Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Specs table-->
<div class="border-bottom mb-5 pb-5">

    <div class="container">
        <h2 class="h3 mb-4">Product Details</h2>
        @Html.Raw(Model.Description)
    </div>
</div>
<!-- Reviews-->
<div class="border-bottom mb-5 pb-5">
    <div class="container">
        <div class="row pt-2 pb-3">
            <div class="col-lg-4 col-md-5">
                <h2 class="h3 mb-4">@Model.TotalReview Reviews</h2>
                <div class="star-rating me-2">
                    @{
                        rating = Math.Round(Model.Rating, 1);

                        for (int i = 0; i < 5; i++)
                        {
                            if (rating >= 1)
                            {
                                <i class="ti-star-filled fs-sm text-accent me-1"></i>
                                rating--;
                            }
                            else if (rating > 0)
                            {
                                <i class="ti-star-half fs-sm text-accent me-1"></i>
                                rating--;
                            }
                            else
                            {
                                <i class="ti-star fs-sm text-muted me-1"></i>
                            }
                        }
                    }
                </div>
                <span class="d-inline-block align-middle">@Model.Rating Overall rating</span>
                @if (Model.TotalReview > 0)
                {
                    <p class="pt-3 fs-sm text-muted">@(Model.FiveStarReview + Model.FourStarReview) out of @Model.TotalReview (@((int)Math.Round(((double)(Model.FiveStarReview + Model.FourStarReview) / @Model.TotalReview * 100), 0))%)<br>Customers recommended this product</p>
                }
            </div>
            @{
                int FiveStarPercentage = 0;
                int FourStarPercentage = 0;
                int ThreeStarPercentage = 0;
                int TwoStarPercentage = 0;
                int OneStarPercentage = 0;

                if (Model.TotalReview > 0)
                {
                    FiveStarPercentage = (int)((double)Model.FiveStarReview / Model.TotalReview * 100);
                    FourStarPercentage = (int)((double)Model.FourStarReview / Model.TotalReview * 100);
                    ThreeStarPercentage = (int)((double)Model.ThreeStarReview / Model.TotalReview * 100);
                    TwoStarPercentage = (int)((double)Model.TwoStarReview / Model.TotalReview * 100);
                    OneStarPercentage = (int)((double)Model.OneStarReview / Model.TotalReview * 100);
                }
            }
            <div class="col-lg-8 col-md-7">
                <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">5</span><i class="ti-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @FiveStarPercentage%;" aria-valuenow="@FiveStarPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><span class="text-muted ms-3">@Model.FiveStarReview</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">4</span><i class="ti-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar" role="progressbar" style="width: @FourStarPercentage%; background-color: #a7e453;" aria-valuenow="@FourStarPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><span class="text-muted ms-3">@Model.FourStarReview</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">3</span><i class="ti-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar" role="progressbar" style="width: @ThreeStarPercentage%; background-color: #ffda75;" aria-valuenow="@ThreeStarPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><span class="text-muted ms-3">@Model.ThreeStarReview</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">2</span><i class="ti-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar" role="progressbar" style="width: @TwoStarPercentage%; background-color: #fea569;" aria-valuenow="@TwoStarPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><span class="text-muted ms-3">@Model.TwoStarReview</span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">1</span><i class="ti-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                        <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: @OneStarPercentage%;" aria-valuenow="@OneStarPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><span class="text-muted ms-3">@Model.OneStarReview</span>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <!-- Reviews list-->
            <div class="col-md-7">
                <div class="d-flex justify-content-end pb-4" id="ReviewFilter">
                    <div class="d-flex flex-nowrap align-items-center">
                        <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">Sort by:</label>
                        <select class="form-select form-select-sm" id="sort-reviews">
                            <option value="0">Newest</option>
                            <option value="1">Oldest</option>
                            <option value="2">Popular</option>
                            <option value="3">High rating</option>
                            <option value="4">Low rating</option>
                        </select>
                    </div>
                </div>
                <!-- Review (added by javascript)-->
                <div id="ProdReviewData"></div>
            </div>
            <!-- Leave review form-->
            <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                    <h3 class="h4 pb-2">Write a review</h3>
                    <form class="needs-validation" method="post" action="@Url.Action(Actions.AddProductReview, Controllers.cProduct)" novalidate>
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ProductId", Model.ID)
                        <div class="mb-3">
                            <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
                            <select class="form-select" required id="review-rating" name="Rating">
                                <option value="">Choose rating</option>
                                <option value="5">5 stars</option>
                                <option value="4">4 stars</option>
                                <option value="3">3 stars</option>
                                <option value="2">2 stars</option>
                                <option value="1">1 star</option>
                            </select>
                            <div class="invalid-feedback">Please choose rating!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="review-text">Review<span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="6" required id="review-text" name="Review"></textarea>
                            <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Submit a Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product carousel (You may also like)-->
<div class="container pt-lg-2 pb-5 mb-md-3">
    <h2 class="h3 text-center pb-4">You may also like</h2>

    <!-- Product Carousel -->
    <div class="tns-carousel tns-controls-static tns-controls-outside tns-nav-enabled">
        <div class="may-like-product-slider" id="divMayLikeProducts"></div>
    </div>
</div>
<script src="~/Scripts/bootstrap-input-spinner.js"></script>

<script type="text/javascript">
        function demovd(Id) {
            const myVideo = document.getElementById(Id);

        // Not all browsers return promise from .play().
        const playPromise = myVideo.play() || Promise.reject('');
        playPromise.then(() => {
            // Video could be autoplayed, do nothing.
        }).catch(err => {
            // Video couldn't be autoplayed because of autoplay policy. Mute it and play.
            myVideo.muted = true;
            myVideo.play();
        });
        }
        const myVideo = document.getElementById('abcdemo');

        // Not all browsers return promise from .play().
        const playPromise = myVideo.play() || Promise.reject('');
        playPromise.then(() => {
            // Video could be autoplayed, do nothing.
        }).catch(err => {
            // Video couldn't be autoplayed because of autoplay policy. Mute it and play.
            myVideo.muted = true;
            myVideo.play();
        });
    var popularProdSlider = '';

    $(document).ready(function () {
        $("#cProdQuantity").inputSpinner();
        LoadProductReview(0, 3);

        $('#sort-reviews').change(function () {
            LoadProductReview(0, 3);
        });

        RefreshMayLikeProducts();

        popularProdSlider = tns({
            container: '.may-like-product-slider',
            controlsText: ['<i class="ti-arrow-left"></i>', '<i class="ti-arrow-right"></i>'],
            navPosition: 'bottom',
            mouseDrag: true,
            speed: 500,
            autoplayHoverPause: true,
            autoplayButtonOutput: false,
            items: 2,
            gutter: 16,
            controls: true,
            autoHeight: true,
            responsive: { 0: { items: 1 }, 480: { items: 2 }, 720: { items: 3 }, 991: { items: 2 }, 1140: { items: 3 }, 1300: { items: 4 }, 1500: { items: 5 } }
        });
    });

    function AddToCartWithMultiple(Id) {
        let result = AddToCart(Id, $('#cProdQuantity').val());
        if (result == true) {
            $('#btnMainCart').empty();
            $('#btnMainCart').html('<i class="ti-check fs-lg me-2"></i>Added in Cart');
        }
    }

    function AddSingleToWishlist(Id) {
        let result = AddToWishlist(Id);
        if (result == true) {
            $('#btnMainWS').empty();
            $('#btnMainWS').html('<i class="ti-heart" style="color:green"></i>');
            $('#btnMainWS').attr('title', 'Added in wishlist');
        }
    }

    function LikeDisLikeProductReview(ProductReviewId, IsLike) {
        if (@ProjectSession.LoginUserID== 0) {
            ShowMessageToastr("warning", "Please try after sign in...");
            return;
        }

        $.ajax({
            url: '@Url.Action(Actions.LikeDisLikeProductReview, Controllers.cProduct)',
            data: addRequestVerificationToken({ ProductReviewId: ProductReviewId, IsLike: IsLike}),
            type: 'POST',
            datatype: 'json',
            success: function (ret) {
                if (ret != 1 || ret == "") {
                    ShowMessageToastr("danger", "Failed to like / dislike product reviews. Please try after sign in...");
                }
                else {
                    let noOfLike = parseInt($('#ProReviewLike' + ProductReviewId).text());
                    let noOfDisLike = parseInt($('#ProReviewDisLike' + ProductReviewId).text());

                    if (IsLike == true) {
                        if (noOfLike != NaN) {
                            noOfLike = noOfLike + 1;
                            $('#ProReviewLike' + ProductReviewId).text(noOfLike);
                        }

                        if ($('#AlreadyDisLiked' + ProductReviewId).val() == "true") {
                            if (noOfDisLike != NaN) {
                                noOfDisLike = noOfDisLike - 1;
                                $('#ProReviewDisLike' + ProductReviewId).text(noOfDisLike);
                            }
                        }
                    }
                    else {
                        if ($('#AlreadyLiked' + ProductReviewId).val() == "true") {
                            if (noOfLike != NaN) {
                                noOfLike = noOfLike - 1;
                                $('#ProReviewLike' + ProductReviewId).text(noOfLike);
                            }
                        }

                        if (noOfDisLike != NaN) {
                            noOfDisLike = noOfDisLike + 1;
                            $('#ProReviewDisLike' + ProductReviewId).text(noOfDisLike);
                        }
                    }

                    $('#ProReviewLike' + ProductReviewId).prop('disabled', IsLike);
                    $('#ProReviewDisLike' + ProductReviewId).prop('disabled', !IsLike);
                    $('#AlreadyLiked' + ProductReviewId).val(IsLike);
                    $('#AlreadyDisLiked' + ProductReviewId).val(!IsLike);

                    if (noOfLike != NaN && noOfDisLike != NaN) {
                        let helpFulPerc = (noOfLike + noOfDisLike > 0) ? (noOfLike / (noOfLike + noOfDisLike)) * 100 : 0;
                        $('#Helpful' + ProductReviewId).text(Math.round(helpFulPerc*100) / 100 + "% of users found this review helpful");
                    }
                }
            },
            error: function () {
                ShowMessageToastr("danger","Failed to like / dislike product reviews.");
            }
        });
    }

    function LoadProductReview(offset, limit) {
        $.ajax({
            url: '@Url.Action(Actions.GetProductReview, Controllers.Home)',
            data: addRequestVerificationToken({ ProductID: @Model.ID, offset: offset, limit: limit, SortBy: $('#sort-reviews').val() }),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                var htmlstring = "";

                $.each(data, function (key, productReview) {
                    htmlstring += `<div class="product-review pb-4 mb-4 border-bottom">
                            <div class="d-flex mb-3">
                                <div class="d-flex align-items-center me-4 pe-2">`;

                    if (productReview.ReviewerImgFullURL != "") {
                        htmlstring += `<img class="rounded-circle" src="${productReview.ReviewerImgFullURL}" width="50" alt="${productReview.ReviewerName}">`;
                    }
                    else
                    {
                        htmlstring += `<div class="rounded-circle p-1 border border-primary" width="50"><i class="ti-user"></i></div>`;
                    }
                                htmlstring += `<div class="ps-3">
                                        <h6 class="fs-sm mb-0">${productReview.ReviewerName}</h6><span class="fs-ms text-muted">${productReview.ReviewDate}</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="star-rating">`;

                                        for(var i = 0; i < 5; i++)
                                        {
                                            if (productReview.Rating >= 1)
                                            {
                                                htmlstring += `<i class="star-rating-icon ti-star-filled active"></i>`;
                                                productReview.Rating--;
                                            }
                                            else if (productReview.Rating > 0)
                                            {
                                                htmlstring += `<i class="star-rating-icon ti-star-half active"></i>`;
                                                productReview.Rating--;
                                            }
                                            else
                                            {
                                                htmlstring += `<i class="star-rating-icon ti-star"></i>`;
                                            }
                                        }

                    htmlstring += `</div>
                                    <div class="fs-ms text-muted" id="Helpful${productReview.ID}">${Math.round(productReview.HelpfulPercentage* 100) / 100}% of users found this review helpful</div>
                                </div>
                            </div>
                            <p class="fs-md mb-2">${productReview.Review}</p>
                            <div class="text-nowrap">`;

                    if (productReview.IsLikeByLoginUser == true) {
                        htmlstring += `<button class="btn-like" type="button" Id="ProReviewLike${productReview.ID}" onclick="LikeDisLikeProductReview(${productReview.ID},true)" disabled>${productReview.TotalLike}</button>
                                       <button class="btn-dislike" type="button" Id="ProReviewDisLike${productReview.ID}" onclick="LikeDisLikeProductReview(${productReview.ID},false)">${productReview.TotalDislike}</button>`;
                    }
                    else if (productReview.IsDisLikeByLoginUser == true) {
                        htmlstring += `<button class="btn-like" type="button" Id="ProReviewLike${productReview.ID}" onclick="LikeDisLikeProductReview(${productReview.ID},true)">${productReview.TotalLike}</button>
                                       <button class="btn-dislike" type="button" Id="ProReviewDisLike${productReview.ID}" onclick="LikeDisLikeProductReview(${productReview.ID},false)" disabled>${productReview.TotalDislike}</button>`;
                    }
                    else
                    {
                        htmlstring += `<button class="btn-like" type="button" Id="ProReviewLike${productReview.ID}" onclick="LikeDisLikeProductReview(${productReview.ID},true)">${productReview.TotalLike}</button>
                                       <button class="btn-dislike" type="button" Id="ProReviewDisLike${productReview.ID}" onclick="LikeDisLikeProductReview(${productReview.ID},false)">${productReview.TotalDislike}</button>`;
                    }

                    htmlstring += `<input type="hidden" id="AlreadyLiked${productReview.ID}" value="${productReview.IsLikeByLoginUser}" />
                                    <input type="hidden" id="AlreadyDisLiked${productReview.ID}" value="${productReview.IsDisLikeByLoginUser}" /></div></div>`;
                });

                if (htmlstring != "") {
                    htmlstring += `<div class="text-center">
                        <button class="btn btn-outline-accent" type="button" onclick="LoadProductReview(0,`+(limit+10)+`);"><i class="ti-reload me-2"></i>Load more reviews</button>
                    </div>`;
                }
                else {
                    htmlstring += `<div class="product-review pb-4 mb-4 border-bottom"> No review found.</div>`;
                }

                $('#ProdReviewData').empty();
                $('#ProdReviewData').html(htmlstring);
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load product reviews.");
            }
        });
    }
        function demo() {
            $('#testID').addClass('nameOfClass');
        }
    function RefreshMayLikeProducts()
    {
        let popularProduct = LoadProducts(@((int)ProductSortTypes.Popularity));
        $('#divMayLikeProducts').empty();
        $('#divMayLikeProducts').append(popularProduct);
    }

    function AddLikeProductToWishlist(productId) {
        AddToWishlist(productId);
        RefreshMayLikeProducts();
        popularProdSlider = popularProdSlider.rebuild();
    }

    function AddLikeProductToCart(productId) {
        AddToCart(productId, 1);
        RefreshMayLikeProducts();
        popularProdSlider = popularProdSlider.rebuild();
    }

    function LoadProducts(sortBy) {
        let htmlstring = "";

        $.ajax({
            url: '@Url.Action(Actions.GetProducts, Controllers.Home)',
            data: addRequestVerificationToken({ offset: 0, limit: 9, SortBy: sortBy }),
            type: 'POST',
            datatype: 'json',
            async: false,
            success: function (data) {
                var count = 1;
                $.each(data, function (key, product) {
                    if (product.ID == @Model.ID || count > 8) {
                        return;
                    }
                    count++;
                    htmlstring += `<div class="tiny-slide"><div class="card product-card">`;

                    if (product.IsWishlisted == false)
                    {
                        htmlstring += `<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" onclick="AddLikeProductToWishlist(${product.ID})">
                                    <i class="ti-heart"></i>
                                </button>`;
                    }
                    else
                    {
                       htmlstring += `<button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Added in wishlist">
                                    <i class="ti-heart" style="color:red"></i>
                                </button>`;
                    }
                    htmlstring += `<a class="card-img-top d-block overflow-hidden" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${product.ID}">
                                    <img src="${product.ImageFullURL}" style="height:250px;" alt="Product" />
                                </a>

                                <div class="card-body py-2">
                                    <a class="product-meta d-block fs-xs pb-1" href="#">${product.CategoryName}</a>
                                    <h3 class="product-title fs-sm"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${product.ID}">${product.Name}</a></h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                            <span class="text-accent">$${product.OfferPrice}</span>
                                            <del class="fs-sm text-muted">$${product.StandardPrice}</del>
                                        </div>
                                        <div class="star-rating">`;

                                    for (var i = 0; i < 5; i++) {
                                        if (product.Rating >= 1) {
                                            htmlstring += `<i class="star-rating-icon ti-star-filled active"></i>`;
                                            product.Rating--;
                                        }
                                        else if (product.Rating > 0) {
                                            htmlstring += `<i class="star-rating-icon ti-star-half active"></i>`;
                                            product.Rating--;
                                        }
                                        else {
                                            htmlstring += `<i class="star-rating-icon ti-star"></i>`;
                                        }
                                    }

                    htmlstring += `</div></div>`;

                    if (product.IsInCart == false)
                                    {
                        htmlstring += `<div class="d-flex my-2">
                                            <button class="btn btn-primary w-100 btn-sm" type="button" onclick="AddLikeProductToCart(${product.ID})"><i class="ti-cart fs-sm me-1"></i>Add to Cart</button>
                                        </div>`;
                                    }
                                    else
                                    {
                        htmlstring += `<div class="d-flex my-2">
                                            <button class="btn btn-primary w-100 btn-sm"><i class="ti-check fs-sm me-1"></i>Added in Cart</button>
                                        </div>`;
                                    }

                    htmlstring += `</div></div></div>`;
                });

                if (htmlstring == "") {
                    htmlstring += `<div> No product available.</div>`;
                }
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to load products.");
                htmlstring += "<div> No product available.</div>";
            }
        });

        return htmlstring;
        }

</script>
