﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Topfarms | Orders";
    ViewBag.ActiveMenuId = "Orders";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var orId = "";   
}
@model Orders
@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Orders history</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">My orders</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
                <div class="d-flex align-items-center">
                    <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="order-sort">
                        Sort
                        orders:
                    </label>
                    <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="order-sort">Sort orders:</label>
                    <select class="form-select" id="filterOrderStatus">
                        <option value="0">All</option>
                        <option value="@((int)OrderStatus.UnAssigned)">Un-Assigned</option>
                        <option value="@((int)OrderStatus.Assigned)">Assigned</option>
                        <option value="@((int)OrderStatus.InProcess)">In-Process</option>
                        <option value="@((int)OrderStatus.Fulfilled)">Fulfilled</option>
                        <option value="@((int)OrderStatus.Delivered)">Delivered</option>
                        <option value="@((int)OrderStatus.Delay)">Delay</option>
                        <option value="@((int)OrderStatus.Cancelled)">Cancelled</option>
                        <option value="@((int)OrderStatus.OutForDelivery)">OutForDelivery</option>
                    </select>
                </div><a class="btn btn-primary btn-sm d-none d-lg-inline-block" href="@Url.Action(Actions.Logout,Controllers.Account)">
                    <i class="ti-sign-out me-2"></i>Sign out
                </a>
            </div>
            <!-- Orders list-->
            <div class="table-responsive fs-md mb-4">
                <table class="table table-hover mb-0" id="TBLOrder"></table>
            </div>
        </section>
    </div>
</div>

<!-- Order Details Modal-->
<div class="modal fade" id="order-details">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-0">


                <!-- Item-->
                <div class="pritem"></div>
                <!-- Item-->
                <div class="d-flex flex-wrap justify-content-between p-2 mb-2 bg-secondary fs-md">
                    <div class="px-2 py-1">
                        <span class="text-muted">Subtotal:&nbsp;</span><span id="subtotal"></span>
                    </div>
                    <div class="px-2 py-1">
                        <span class="text-muted">Shipping:&nbsp;</span><span> </span>
                    </div>
                    <div class="px-2 py-1"><span class="text-muted">Tax:&nbsp;</span><span> </span></div>
                    <div class="px-2 py-1">
                        <span class="text-muted">Total:&nbsp;</span><span class="fs-lg" id="totalAmount"></span>
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <div class="modal-footer">
                @*<a class="btn btn-primary" href='/cOrder/GenerateOrder' target="_blank" id="btndownload">Download Invoice</a>*@
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        OrderDataTBL.init();
    });

    function getOrderData(data) {
        $.ajax({
            type: "Post",
            url: '@Url.Action(Actions.OrderDetailsById, Controllers.cOrder)',
            data: { id : 1 },
            dataType: "json",
            success: function (data) {
                console.log(data.listProduct);
                $(".pritem").empty();
                //@orId = data.ID;
                $("#subtotal").append(data.TotalAmount)
                $("#totalAmount").append(data.TotalAmount)
                $.each(data.listProduct, function (index, value) {
                    $(".pritem").append("<div class='d-sm-flex justify-content-between my-4 pb-3 pb-sm-2 border-bottom'><div class='d-sm-flex text-center text-sm-start'><a class='d-inline-block flex-shrink-0 mx-auto' href='shop-single.html' style='width: 10rem;'><img src='" + value.URL + "' alt='Product'></a><div class='ps-sm-4 pt-2'><h3 class='product-title fs-base mb-2'><a href='shop-single.html' id='pname'>" + value.ProductName + "</a></h3><div class='fs-sm'><span class='text-muted me-2'>Brand:</span>Seamon's Seeds</div><div class='fs-lg text-accent pt-2' id='rate'>" + value.Rate + "</div></div></div><div class='pt-2 ps-sm-3 mx-auto mx-sm-0 text-center'><div class='text-muted mb-2'>Quantity:</div><div id='qty'>1</div></div><div class='pt-2 ps-sm-3 mx-auto mx-sm-0 text-center'><div class='text-muted mb-2'>Subtotal</div>$ " + value.Amount + "</div></div>");
                });
            }
        });
    }

    $('#filterOrderStatus').change(function () {
        OrderDataTBL.init();
    });

     var OrderDataTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLOrder');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "info":false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindOrders, Controllers.cOrder)',
                    type: "post",
                    data: addRequestVerificationToken({ Status:$("#filterOrderStatus").val() })
                },
                "columns": [
                    {
                        "title": "Order #",
                        "data": "ID",
                        "render": function (data, type, row) {
                            //return '<a class="nav-link-style text-primary fw-medium fs-sm" href="javascript:void(0);" onclick="showOrderDetails(' + data + ')">'+data+'</a >';
                            return '<a class="nav-link-style text-primary fw-medium fs-sm" href="#" onclick="getOrderData(' + data + ')" data-bs-toggle="modal" data-bs-target="#order-details">' + data + '</a >';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Date Purchased",
                        "data": null,
                        "render": function (data, type, row) {
                            return row["OrderDateStr"];
                        },
                        "orderable": false
                    },
                    {
                        "title": "Status",
                        "data": "Status",
                        "render": function (data, type, row) {
                            switch (data) {
                                case @((int)OrderStatus.Assigned):
                                    return '<div class="badge bg-light border p-2">Assigned</div>';
                                case @((int)OrderStatus.Fulfilled):
                                    return '<div class="badge bg-info p-2">Fulfilled</div>';
                                case @((int)OrderStatus.Delivered):
                                    return '<div class="badge bg-success p-2">Delivered</div>';
                                case @((int)OrderStatus.Delay):
                                    return '<div class="badge bg-warning p-2">Delay</div>';
                                case @((int)OrderStatus.Cancelled):
                                    return '<div class="badge bg-danger p-2">Cancelled</div>';
                                case @((int)OrderStatus.OutForDelivery):
                                    return '<div claorIddorId="badge bg-primary p-2">Out for delivery</div>';
                                case @((int)OrderStatus.InProcess):
                                    return '<div class="badge bg-info p-2">In Process</div>';
                                case @((int)OrderStatus.UnAssigned):
                                    return '<div class="badge bg-dark p-2">Un-Assigned</div>';
                                default:
                                    return '<div>-</div>';
                            }
                        },
                        "orderable": false
                    },
                    {
                        "title": "Total", "data": "TotalAmount",
                        "render": function (data, type, row) {
                            return '<div class="fw-medium">$' + data + '</div>';
                        },
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                "dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLOrder")) {
                    $('#TBLOrder').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();
</script>