﻿@using TopFarm.Entities.V1
@using TopFarm.Pages
@model Traders
@{
    ViewBag.Title = "Manage Traders";
    Layout = "~/Views/Shared/_LayoutWithHeaderOnly.cshtml";
}

<div class="container-fluid mb-5 pb-3">
    <div class="bg-light pb-4 shadow-lg rounded-3 overflow-hidden">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10">
                <h2 class="h3 me-2 px-3 mb-4 pb-4 text-center text-sm-start border-bottom">Add New Trader</h2>
                @Html.HiddenFor(model => model.ID)
                @using (Html.BeginForm(Actions.AddTraders, Controllers.Traders, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return ValidateTraderForm();", @id = "FormTraders" }))
                {
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="FirstName">First Name</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "jhon" })
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="LastName">Last Name</label>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Doe" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="EmailID">Email address</label>
                                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", placeholder = "johndoe@example.com" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="Password">Password</label>
                                <div class="password-toggle">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "••••••••", @Value = Model.Password })
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label class="form-label" for="MobileNo">Phone number</label>
                                @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", placeholder = "" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label for="AlternateMobileNo">Alternate number</label>
                                @Html.TextBoxFor(model => model.AlternateMobileNo, new { @class = "form-control", placeholder = "" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <label for="AvtarURL">Profile Image</label>
                                <input class="form-control" type="file" id="AvtarURL" name="AvtarURL" src="@Model.AvtarURL" accept="image/*">
                            </div>
                        </div>

                        <div class="row gx-4 gy-3 border-top my-3">
                            <div class="col-12">
                                <h5>Address</h5>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="CountryID">Country</label>
                                @Html.DropDownListFor(a => a.CountryID, (IEnumerable<SelectListItem>)ViewBag.Country, "Select country", new { @class = "form-control", placeholder = "Select country" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="City">City</label>
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "City name" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Address1">Line 1</label>
                                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", placeholder = "Address line1" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Address2">Line 2</label>
                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", placeholder = "Address line2" })
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="Pincode">ZIP code</label>
                                @Html.TextBoxFor(model => model.Pincode, new { @class = "form-control", placeholder = "ZIP code" })
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                            <div class="mb-3">
                                <input type="submit" class="btn btn-primary btn-shadow d-block w-100" value="Create Trader Account" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        let isEdit = @ViewBag.Edit;
        if (isEdit === 1)
            {
            $("#EmailID").prop("disabled", true);
            }

    });


    function ValidateTraderForm() {
        let Firstname = $('#FirstName').val();
        if (Firstname === NaN || Firstname === "") {
            ShowMessageToastr("danger", "Please enter fisrt name.");
            $("#FirstName").focus();
            return false;
        }

        let Lastname = $('#LastName').val();
        if (Lastname === NaN || Lastname === "") {
            ShowMessageToastr("danger", "Please enter last name.");
            $("#LastName").focus();
            return false;
        }

        let Email = $('#EmailID').val();
        if (Email === NaN || Email === "" || ValidateEmail(Email) === false) {
            ShowMessageToastr("danger", "Please enter valid email address.");
            $("#EmailID").focus();
            return false;
        }

        let Password = $('#Password').val();
        if (Password === NaN || Password === "") {
            ShowMessageToastr("danger", "Please enter password.");
            $("#Password").focus();
            return false;
        }

        let Phonenumber = $('#MobileNo').val();
        if (Phonenumber === NaN || Phonenumber === "" || ValidatePhoneNo(Phonenumber) === false) {
            ShowMessageToastr("danger", "Please valid enter Phone number.");
            $("#MobileNo").focus();
            return false;
        }

        let Alternatenumber = $('#AlternateMobileNo').val();
        if (Alternatenumber === NaN || Alternatenumber === "") {
        }
        else {
            if (ValidatePhoneNo(Alternatenumber) === false) {
                ShowMessageToastr("danger", "Please enter valid alternate Phone number.");
                $("#AlternateMobileNo").focus();
                return false;
            }
        }

        let CountryID = $('#CountryID').val();
        if (CountryID === NaN || CountryID === "") {
            ShowMessageToastr("danger", "Please select country.");
            $("#CountryID").focus();
            return false;
        }

        let City = $('#City').val();
        if (City === NaN || City === "") {
            ShowMessageToastr("danger", "Please enter city name.");
            $("#City").focus();
            return false;
        }

        let Address1 = $('#Address1').val();
        if (Address1 === NaN || Address1 === "") {
            ShowMessageToastr("danger", "Please enter address line 1.");
            $("#Address1").focus();
            return false;
        }

        let Address2 = $('#Address2').val();
        if (Address2 === NaN || Address2 === "") {
            ShowMessageToastr("danger", "Please enter address line 2.");
            $("#Address2").focus();
            return false;
        }

        let Pincode = $('#Pincode').val();
        if (Pincode === NaN || Pincode === "") {
            ShowMessageToastr("danger", "Please enter zip code.");
            $("#Pincode").focus();
            return false;
        }
    }

    function ValidatePhoneNo(Phonenumber) {
        let regex = /^[0-9]+$/;
        if (!regex.test(Phonenumber)) {
            return false;
        }
        return true;
    }

    function ValidateEmail(value) {
        const regexEmail = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!regexEmail.test(value)) {
            return false;
        }
        return true;
    }

    function ValidateExtension() {
        var allowedFiles = [".jpg", ".jpeg", ".png", ".bmp", ".svg"];
        var fileUpload = document.getElementById("fileUpload");
        var lblError = document.getElementById("lblError");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileUpload.value.toLowerCase())) {
            lblError.innerHTML = "Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.";
            return false;
        }
        lblError.innerHTML = "";
        return true;
    }

</script>