﻿@using TopFarm.Pages
@{
    ViewBag.Title = "Traders";
    ViewBag.ActiveMenuId = "Traders";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Traders</h2>
            <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                    <a class="btn btn-primary ms-2" href="@Url.Action(Actions.FormTraders,Controllers.Traders)" role="button"><i class="ti-add me-2 fs-sm"></i>Add New Traders</a>
                </div>
            </div>
        </div>

        <div class="row mx-n2 pt-2">
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Active Traders</h3>
                    <p class="h2 mb-0" id="labelActiveTrader"></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">In-Active Traders</h3>
                    <p class="h2 mb-0" id="labelInActiveTrader"></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Total Traders</h3>
                    <p class="h2 mb-2" id="labelTotalTrader"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-3">
                <div class="input-group d-none d-lg-flex flex-nowrap">
                    <i class="ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input class="form-control rounded-start w-100" type="text" placeholder="Search for trader">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 border m-0 p-0">
                <table class="table" id="TradersList"></table>
            </div>
        </div>

    </div>
</section>

<!-- Back To Top Button-->
<a class="btn-scroll-top" href="#top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon ti-arrow-up"></i>
</a>

<div id="AddRemoveDlg">
    <div id="LoadTradersDetailsDlg">
    </div>
</div>

<script>

    $(document).ready(function () {
        RefreshTradersData();
    });


 /*-----------------------------------
 * Load Category
 ------------------------------------*/
    function RefreshTradersData() {
        TableDatatablesTraders.init();
        UpdateTraderMetaData();
    }

    function UpdateTraderMetaData() {
        $.ajax({
            url: '@Url.Action(Actions.GetTraderMetaData, Controllers.Traders)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $('#labelTotalTrader').text(data.TotalTrader);
                $('#labelMainTotalTrader').text(data.TotalTrader);
                $('#labelActiveTrader').text(data.ActiveTrader);
                $('#labelInActiveTrader').text(data.InActiveTrader);
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to get order details.");
            }
        });
    }

    var TableDatatablesTraders = function () {
        var initTable1 = function () {
            var table = $('#TradersList');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "Traders/BindTraders",
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    { "title": "#", "data": "ID", "orderable": false },
                    {
                        "title": "TRADER NAME", "data": "FirstName",
                        "orderable": false,
                        "scope": "col",
                        "render": function (data, type, row) {
                            let formatData = '<a href="#" onclick="GetTradersDetails('+row['ID']+')">' + row['FirstName'] + ' ' + row['LastName'] + '</a>';
                            return formatData;
                        },
                    },
                    {
                        "title": "JOINED DATE", "data": "JoinedDate",
                        "render": function (data, type, row) {
                            var date = new Date(parseInt(data.substr(6)));
                            let formatted_date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            return formatted_date;
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "ORDER COMPLETED", "data": "OrderCompleted",
                        "render": function (data, type, row) {
                            var intvalue = Math.trunc(data);
                            return intvalue;
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "TOTAL SALES", "data": "TotalSales",
                        "render": function (data, type, row) {
                            return '$' + data;
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "STATUS", "data": "Status",
                        "render": function (data, type, row) {
                            return data == false ? '<span class="badge bg-success m-0">Active</span>' : '<span class="badge bg-danger m-0">In-active</span>';
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "ACTION",
                        "data": null,
                        "render": function (data, type, row) {
                            let Status = row['Status'] === true ? false : true;
                            let EditURL = 'Traders/FormTraders?ID='+row['ID'];
                            let divTag = '<div class="dropdown">' +
                                '<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">Update</button >' +
                                '<ul class="dropdown-menu dropdown-menu-end">' +
                                '<li><a class="dropdown-item" href=' + EditURL+'>Edit</a></li>' +
                                '<li><a class="dropdown-item" href="javascript:GetTradersDetails(' + row['ID'] + ')">View</a></li>' +
                                '<li><a class="dropdown-item" href="javascript:UpdateStatus(' + row['ID'] + ','+Status+')">Change Status</a></li>' +
                                '<li><a class="dropdown-item" href="javascript:DeleteTraderConfirmation(' + row['ID'] + ')">Remove</a></li>' +
                                '</ul></div>';
                            return divTag;
                        },
                        "orderable": false,
                    }
                ],
                "buttons": [
                    {

                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#TradersList")) {
                    $('#TradersList').dataTable().fnDestroy();
                }
                initTable1();
            }

        };

    }();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function GetTradersDetails(value) {
        $.ajax({
            type: "POST",
            url: "Traders/GetTradersDetails",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ ID: value }),
            success: function (response) {
                $("#LoadTradersDetailsDlg").remove();
                $("#AddRemoveDlg").append('<div id="LoadTradersDetailsDlg"></div>');
                $("#LoadTradersDetailsDlg").append(response);
                $('#traderDetails').modal('toggle');
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

    function UpdateStatus(value, Status) {
        $.ajax({
            type: "POST",
            url: "Traders/UpdateStatus",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ ID: value, Status: Status }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    RefreshTradersData();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", recvResult.Message);
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

    function DeleteTraderConfirmation(ID) {
        ShowMessageToastr("warning", "Do you want to delete this item?", true, 'DeleteTrader(' + ID+')','');
    }

    function DeleteTrader(ID) {
        $.ajax({
            type: "POST",
            url: "Traders/DeleteTrader",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ ID: ID }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    RefreshTradersData();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

</script>