﻿@using TopFarm.Entities.V1
@model Traders
<!-- Trader Details Modal -->
<div class="modal fade" id="traderDetails" tabindex="-1" aria-labelledby="traderDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="traderDetailsLabel">Trader Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Name</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.FirstName  @ViewBag.TraderDetails.Item.LastName</span>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Address</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.Address1</span>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.Address2</span><br>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.City</span>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.Pincode</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Email</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.EmailID</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Phone</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.MobileNo</span>
                        </div>
                    </div>
                    @*<div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Alternate Phone</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.AlternateMobileNo</span>
                        </div>
                    </div>*@
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Trader Since</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.JoinedDate.ToString("dd/MM/yyyy")</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Orders</div>
                        <div>
                            <span class="fw-medium">@ViewBag.TraderDetails.Item.OrderCompleted</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Totdal Sales</div>
                        <div>
                            <span class="fw-medium">$@ViewBag.TraderDetails.Item.TotalSales</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
