﻿@using TopFarm.Pages;

@{
    Layout = null;
    string Email = null;
    string Password = null;
    string Remember = null;
    string trEmail = null;
    string trPassword = null;
    string trRemember = null;
    if (Request.Cookies["trAdminUserLogin"] != null)
    {
        trEmail = Convert.ToString(Request.Cookies["trAdminUserLogin"].Values["LoginUserEmail"]);
        trPassword = Convert.ToString(Request.Cookies["trAdminUserLogin"].Values["LoginUserPassword"]);
        trRemember = Convert.ToString(Request.Cookies["trAdminUserLogin"].Values["remember"]);
    }

    if (Request.Cookies["adAdminUserLogin"] != null)
    {
        Email = Convert.ToString(Request.Cookies["adAdminUserLogin"].Values["LoginUserEmail"]);
        Password = Convert.ToString(Request.Cookies["adAdminUserLogin"].Values["LoginUserPassword"]);
        Remember = Convert.ToString(Request.Cookies["adAdminUserLogin"].Values["remember"]);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin panel | Log in</title>
    <link rel="stylesheet" media="screen" href="~/dist/css/theme.min.css">
    <link rel="stylesheet" href="~/Styles/toastr.min.css" />

    
</head>
<body>
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                @*<div class="modal-header bg-secondary">
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>*@
                <div class="modal-body tab-content py-4">
                    <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab" method="post" action="@Url.Action(Actions.LogInAdminOrTrader, Controllers.Account)">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label" for="si-role">Role</label>
                            <select class="form-select" id="si-role" name="role" required>
                                <option value="1">Admin</option>
                                <option value="2">Trader</option>
                            </select>
                            <div class="invalid-feedback">Please select a role.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="si-email">Email address</label>
                            <input class="form-control" type="email" name="email" id="si-email" placeholder="Email address" required>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="si-password">Password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" name="password" id="si-password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 d-flex flex-wrap justify-content-between">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="si-remember" name="remember">
                                <label class="form-check-label" for="si-remember">Remember me</label>
                            </div><a class="fs-sm" href="#">Forgot password?</a>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/dist/js/theme.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/dist/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- PopUp -->
    @Html.Raw(ViewBag.openPopup)

    <script type="text/javascript">
        if ("@Remember" == "on") {

            $("#si-password").val('@Password');
            $("#si-email").val('@Email');
            $("#si-remember").prop('checked', true);
        }
    $("#si-role").change(function () {
        debugger;

        if ($(this).val() == 1) {
            $("#si-password").val('');
            $("#si-email").val('');
            $("#si-remember").prop('checked', false);

            if ("@Remember" == "on") {

                $("#si-password").val('@Password');
                $("#si-email").val('@Email');
                $("#si-remember").prop('checked', true);
            }
        }
        else {
               $("#si-password").val('');
            $("#si-email").val('');
            $("#si-remember").prop('checked', false);

            if ("@trRemember" == "on") {
                $("#si-password").val('@trPassword');
                $("#si-email").val('@trEmail');
                $("#si-remember").prop('checked', true);
            }
        }
    });
         @*function LoadCookie() {

            if ("@Remember" == "on") {
                $("#si-password").val('@Password');
                $("#si-email").val('@Email');
            }
        }
        LoadCookie();*@
        $(window).on('load', function () {
            $('#LoginModal').modal({
                backdrop: 'static',
                keyboard: false
            })

            $('#LoginModal').modal('show');
        });
    </script>
</body>
</html>
