﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Topfarms | Cart";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model Customer
@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="@Url.Action(Actions.ShopGrid, Controllers.Home)">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            <!-- Steps-->
            <div class="steps steps-light pt-2 pb-3 mb-5">
                <a class="step-item active" href="/cCart/Index">
                    <div class="step-progress"><span class="step-count">1</span></div>
                    <div class="step-label"><i class="ti-cart"></i>Cart</div>
                </a><a class="step-item active current">
                    <div class="step-progress"><span class="step-count">2</span></div>
                    <div class="step-label"><i class="ti-user-circle"></i>Details</div>
                </a><a class="step-item">
                    <div class="step-progress"><span class="step-count">3</span></div>
                    <div class="step-label"><i class="ti-package"></i>Shipping</div>
                </a><a class="step-item">
                    <div class="step-progress"><span class="step-count">4</span></div>
                    <div class="step-label"><i class="ti-card"></i>Payment</div>
                </a><a class="step-item">
                    <div class="step-progress"><span class="step-count">5</span></div>
                    <div class="step-label"><i class="ti-check-circle"></i>Review</div>
                </a>
            </div>

            <div class="text-sm-end">
                <a class="btn btn-primary" href="#add-address" data-bs-toggle="modal" id="btnAdd">
                    Add new address
                </a>
            </div>

            <!-- Shipping address-->
            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Shipping address</h2>
            <div class="table-responsive fs-md" id="ShippingAddressDiv">
                <table class="table table-borderless table-striped" id="TBLShippingAddress"></table>
            </div>

            <h6 class="mb-3 py-3 border-bottom pt-4">Billing address</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" checked id="same-address" name="sameaddress">
                <label class="form-check-label" for="same-address">Same as shipping address</label>
            </div>
            <div class="table-responsive fs-md" id="BillingAddressDiv">
                <table class="table table-borderless table-striped" id="TBLBillingAddress"></table>
            </div>
            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" id="backship" href="/cCart/Index"><i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" id="proceedship" href="#!"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="ti-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
                <div class="py-2 px-xl-2" id="sidebarDataDiv">

                    @*<form class="needs-validation" method="post" novalidate>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Promo code" required>
                                <div class="invalid-feedback">Please provide promo code.</div>
                            </div>
                            <button class="btn btn-outline-primary d-block w-100" type="submit">Apply promo code</button>
                        </form>*@
                </div>
            </div>
        </aside>
    </div>
    <!-- Navigation (mobile)-->
    <div class="row d-lg-none">
        <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="shop-cart.html"><i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="checkout-shipping.html"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="ti-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Address-->
<div class="needs-validation modal fade" method="post" id="add-address" tabindex="-1" novalidate>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new address</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @*  @using (Html.BeginForm(Actions.UpdateCustomerAddress, Controllers.CustomerAddress, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return ValidateTraderForm();", @id = "frmAddEditAdrs" }))*@
            @using (Html.BeginForm())
            {
                <div class="modal-body">
                    <div class="row gx-4 gy-3">
                        @*<div class="col-sm-6">


                                <label class="form-label" for="address-fn">First name</label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                <div class="invalid-feedback">Please fill in you first name!</div>
                            </div>*@
                        @*<div class="col-sm-6">
                                <label class="form-label" for="address-ln">Last name</label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                <div class="invalid-feedback">Please fill in you last name!</div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="address-company">Company</label>
                                <input class="form-control" type="text" id="address-company">
                            </div>*@
                        <div class="col-sm-6">
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.CustomerId)
                            <label class="form-label" for="address-country">Country</label>
                            @Html.DropDownListFor(a => a.CountryID, (IEnumerable<SelectListItem>)ViewBag.Country, "Select country", new { @class = "form-control", placeholder = "Select country" })
                            <div class="invalid-feedback">Please select your country!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-city">State</label>
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your state!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-city">City</label>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your city!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-city">Area</label>
                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your area!</div>
                        </div>


                        <div class="col-sm-6">
                            <label class="form-label" for="address-line1">Line 1</label>
                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your address!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-line2">Line 2</label>
                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-zip">ZIP code</label>
                            @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })
                            <div class="invalid-feedback">Please add your ZIP code!</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-shadow Addadrs" type="button" id="btnAdrs">Add address</button>
                </div>
            }
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        ShippingAddressDataTBL.init();
        BillingAddressDataTBL.init();
        $('#BillingAddressDiv').hide();
        LoadCustomerCart();




        $('#same-address').change(function () {
            if ($('#same-address').prop('checked') == true) {
                $('#BillingAddressDiv').hide();
            }
            else {
                $('#BillingAddressDiv').show();
            }

        });

        $("#btnAdrs").click(function () {
            let CountryID = $('#CountryID').val();
            if (CountryID === NaN || CountryID === "") {
                ShowMessageToastr("danger", "Please select country.");
                $("#CountryID").focus();
                return false;
            }

            let State = $('#State').val();
            if (State === NaN || State === "") {
                ShowMessageToastr("danger", "Please enter state.");
                $("#State").focus();
                return false;
            }

            let City = $('#City').val();
            if (City === NaN || City === "") {
                ShowMessageToastr("danger", "Please enter city.");
                $("#City").focus();
                return false;
            }
            let Area = $('#Area').val();
            if (Area === NaN || Area === "") {
                ShowMessageToastr("danger", "Please enter area.");
                $("#Area").focus();
                return false;
            }
            let Address1 = $('#Address1').val();
            if (Address1 === NaN || Address1 === "") {
                ShowMessageToastr("danger", "Please enter address.");
                $("#Address1").focus();
                return false;
            }
            let Pincode = $('#Pincode').val();
            if (Pincode === NaN || Pincode === "") {
                ShowMessageToastr("danger", "Please enter zipcode.");
                $("#Pincode").focus();
                return false;
            }

            var model = {
                ID: $("#ID").val(),
                CustomerId: $("#CustomerId").val(),
                CountryID: $("#CountryID").val(),
                State: $("#State").val(),
                City: $("#City").val(),
                Area: $("#Area").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                Pincode: $("#Pincode").val()
            };

            $.ajax({
                type: "Post",
                url: '@Url.Action(Actions.UpdateCustomerAddress, Controllers.CustomerAddress)',
                data: { customer: model },
                dataType: "json",
                success: function (data) {
                    $('#TBLShippingAddress').DataTable().ajax.reload();
                    $('#TBLBillingAddress').DataTable().ajax.reload();
                    $('#add-address').modal('hide');
                }
            });
        });

         function getCartData() {
            $.ajax({
                url: '@Url.Action(Actions.SelectCheckoutByCustID, Controllers.cCart)',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    debugger;
                    if (data.ShippingAddress != data.BillingAddress) {
                        $('#same-address').prop('checked', false);
                        $('#BillingAddressDiv').show();
                    }
                    $("input[name=shippingAddressRadio][value=" + data.ShippingAddress + "]").prop('checked', true);
                    $("input[name=billingAddressRadio][value=" + data.BillingAddress + "]").prop('checked', true);

                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        }

        getCartData();
    });

    function LoadCustomerCart() {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerCart, Controllers.cCart)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                let htmlstring = `<div class="widget mb-3">
                        <h2 class="widget-title text-center">Order summary</h2>`;

                let subTotal = 0;
                let taxTotal = 0;

                $.each(data, function (key, cart) {
                    subTotal += cart.Total;
                    taxTotal += cart.Tax;

                    if (key == 0) {
                        htmlstring += `<div class="d-flex align-items-center pb-2 border-bottom">`;
                    }
                    else {
                        htmlstring += `<div class="d-flex align-items-center py-2 border-bottom">`;
                    }

                    htmlstring += `<a class="d-block flex-shrink-0" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">
                            <img src="${cart.ProdImgFullURL}" width="64" alt="Product"></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">${cart.ProductName}</a></h6>
                                <div class="widget-product-meta"><span class="text-accent me-2">$${cart.ProductPrice}</span><span class="text-muted">x ${cart.Quantity}</span></div>
                            </div>
                        </div>`;
                });

                htmlstring += `</div>
                    <ul class="list-unstyled fs-sm pb-2 border-bottom">
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">$${subTotal}</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Shipping:</span><span class="text-end">—</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Taxes:</span><span class="text-end">$${taxTotal}</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Discount:</span><span class="text-end">—</span></li>
                    </ul>
                    <h3 class="fw-normal text-center my-4">$${subTotal + taxTotal}</h3>`;

                $('#sidebarDataDiv').empty();
                $('#sidebarDataDiv').html(htmlstring);
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load cart.");
            }
        });
    }

    var ShippingAddressDataTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLShippingAddress');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": false,
                "bLengthChange": false,
                "searching": false,
                "scrollX": false,
                "info": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCustomerAddress, Controllers.CustomerAddress)',
                    type: "post",
                    data: addRequestVerificationToken({})
                },
                "columns": [
                    {
                        "title": "#",
                        "data": "ID",
                        "render": function (data, type, row) {
                            return `<input class="form-check-input" type="radio" id="shippingAddressRadio" value="` + data + `" name="shippingAddressRadio">`;
                        },
                        "orderable": false,
                        "width":"15px"
                    },
                    {
                        "title": "Shipping address",
                        "data": "AddressString",
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLShippingAddress")) {
                    $('#TBLShippingAddress').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();

    var BillingAddressDataTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLBillingAddress');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": false,
                "bLengthChange": false,
                "searching": false,
                "scrollX": false,
                "info": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCustomerAddress, Controllers.CustomerAddress)',
                    type: "post",
                    data: addRequestVerificationToken({})
                },
                "columns": [
                    {
                        "title": "#",
                        "data": "ID",
                        "render": function (data, type, row) {
                            return `<input class="form-check-input" type="radio" id="billingAddressRadio" value="` + data + `" name="billingAddressRadio">`;
                        },
                        "orderable": false,
                        "width": "15px"
                    },
                    {
                        "title": "Billing address",
                        "data": "AddressString",
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLBillingAddress")) {
                    $('#TBLBillingAddress').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();

    $("#proceedship").click(function () {
        var ShippingAddress = $("input[name='shippingAddressRadio']:checked").val();
        var BillingAddress = $("input[name='billingAddressRadio']:checked").val();

        if (!isNaN(parseInt(ShippingAddress))) {
            if ($('#same-address').prop('checked') == true) {
                BillingAddress = ShippingAddress;
            }
            $.ajax({
                url: '@Url.Action(Actions.AddCheckoutAddress, Controllers.cCart)',
                data: addRequestVerificationToken({ orderComments: "", ShippingAddress: ShippingAddress, BillingAddress: BillingAddress }),
                type: 'POST',
                datatype: 'json',
                success: function (data) {
                    window.location.href = "/cCart/CheckoutShipping";
                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        }
        else {
            ShowMessageToastr("danger", "Please select shipping address.");
        }
    });
</script>