﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Topfarms | Cart";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap"><input type="hidden" id="spamt1" />
                        <a href="@Url.Action(Actions.ShopGrid, Controllers.Home)">Shop</a><input id="lastAmount" type="hidden"/><input id="PromoCodeId" type="hidden" />
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            <!-- Steps-->
            <div class="steps steps-light pt-2 pb-3 mb-5">
                <a class="step-item active" href="/cCart/Index">
                    <div class="step-progress"><span class="step-count">1</span></div>
                    <div class="step-label"><i class="ti-cart"></i>Cart</div>
                </a><a class="step-item active" href="/cCart/CheckoutDetails">
                    <div class="step-progress"><span class="step-count">2</span></div>
                    <div class="step-label"><i class="ti-user-circle"></i>Details</div>
                </a><a class="step-item active" href="/cCart/CheckoutShipping">
                    <div class="step-progress"><span class="step-count">3</span></div>
                    <div class="step-label"><i class="ti-package"></i>Shipping</div>
                </a><a class="step-item active" href="/cCart/CheckoutPayment">
                    <div class="step-progress"><span class="step-count">4</span></div>
                    <div class="step-label"><i class="ti-card"></i>Payment</div>
                </a><a class="step-item active current" href="/cCart/CheckoutReview">
                    <div class="step-progress"><span class="step-count">5</span></div>
                    <div class="step-label"><i class="ti-check-circle"></i>Review</div>
                </a>
            </div>
            <!-- Order details-->
            <h2 class="h6 pt-1 pb-3 mb-3 border-bottom">Review your order</h2>
            <!-- Item-->
            <span id="CartItemsArea"></span>

            @*<div class="d-sm-flex justify-content-between my-4 pb-3 border-bottom">
            <div class="d-sm-flex text-center text-sm-start">
                <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4"
                   href="shop-single.html"><img src="img/shop/catalog/product-01.jpg" width="160" alt="Product"></a>
                <div class="pt-2">
                    <h3 class="product-title fs-base mb-2"><a href="shop-single.html">Hybrid Tomato Seeds - F1 Dragon</a></h3>
                    <div class="fs-sm"><span class="text-muted me-2">Brand:</span>F1 Dragon</div>
                    <div class="fs-lg text-accent pt-2">$154.<small>00</small></div>
                </div>
            </div>
            <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-end" style="max-width: 9rem;">
                <p class="mb-0"><span class="text-muted fs-sm">Quantity:</span><span>&nbsp;1</span></p>
                <button class="btn btn-link px-0" type="button">
                    <i class="ti-edit me-2"></i><span class="fs-sm">Edit</span>
                </button>
            </div>
        </div>*@

            <!-- Client details-->
            <div class="bg-secondary rounded-3 px-4 pt-4 pb-2">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="h6">Shipping to:</h4>
                        <ul class="list-unstyled fs-sm">
                            <li><span class="text-muted">Client:&nbsp;</span>@ViewBag.Name</li>
                            <li><span class="text-muted">Address:&nbsp;</span>@ViewBag.Address</li>
                            <li><span class="text-muted">Phone:&nbsp;</span>@ViewBag.Phone</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h6">Payment method:</h4>
                        <ul class="list-unstyled fs-sm">
                            @if (ViewBag.PaymentMethod)
                            {
                                <li><span class="text-muted">Pay u gateway&nbsp;</span></li>
                            }
                            else
                            {
                                <p><span class="fw-medium"></span> </p>

                                <li><span class="text-muted">Bank account number:&nbsp;</span> - 1021 5465 5454</li>
                                <li><span class="text-muted">Bank Name:&nbsp;</span>- HDFC Bank Pvt Ltd</li>
                                <li><span class="text-muted">Bank IFSC Code:&nbsp;</span>- HDFC00056</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4">
                <div class="w-50 pe-3">
                    <a class="btn btn-secondary d-block w-100" href="/cCart/CheckoutPayment">
                        <i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Payment</span><span class="d-inline d-sm-none">Back</span>
                    </a>
                </div>
                <div class="w-50 ps-2">
                    <a class="btn btn-primary d-block w-100" id="btnOrdr">
                        <span class="d-none d-sm-inline">Complete order</span><span class="d-inline d-sm-none">Complete</span><i class="ti-arrow-right mt-sm-0 ms-1"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
                <div class="py-2 px-xl-2" id="sidebarDataDiv">

                    @*<form class="needs-validation" method="post" novalidate>
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Promo code" required>
                    <div class="invalid-feedback">Please provide promo code.</div>
                </div>
                <button class="btn btn-outline-primary d-block w-100" type="submit">Apply promo code</button>
            </form>*@
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" id="txtpromocode" placeholder="Promo code" value="">
                    <div class="invalid-feedback">Please provide promo code.</div>
                </div>
                <button class="btn btn-outline-primary d-block w-100" id="btnpromo" type="button">Apply promo code</button>
            </div>
        </aside>
    </div>
    <!-- Navigation (mobile)-->
    <div class="row d-lg-none">
        <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
                <div class="w-50 pe-3">
                    <a class="btn btn-secondary d-block w-100" href="checkout-payment.html">
                        <i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Payment</span><span class="d-inline d-sm-none">Back</span>
                    </a>
                </div>
                <div class="w-50 ps-2">
                    <a class="btn btn-primary d-block w-100" href="checkout-complete.html">
                        <span class="d-none d-sm-inline">Complete order</span><span class="d-inline d-sm-none">Complete</span><i class="ti-arrow-right mt-sm-0 ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

          function getCartData() {
            $.ajax({
                url: '@Url.Action(Actions.SelectCheckoutByCustID, Controllers.cCart)',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.ShippingMethod != 0) {
                        $("#spamt").append(data.ShipAmount);
                        $("#spamt1").val(data.ShipAmount);
                    }
                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        }

        getCartData();
        LoadCustomerCart();
        LoadCustomerCart1();

        $("#btnpromo").click(function () {
            var promoCode = $("#txtpromocode").val();
            $.ajax({
                type: "Post",
                url: "@Url.Action(Actions.DiscountByPromocode, Controllers.cCart)",
                //contentType: "application/json;charset=utf-8",
                //dataType: "json",
                data: { promoCode: promoCode },
                success: function (response) {
                    if (response != "") {
                        var total = parseFloat($("#productPrice").text());
                        var Discount = parseFloat(response.Discount);
                        var FinalAmount = total - ((total * Discount) / 100);

                        $("#productPrice").text(FinalAmount.toFixed(2));
                        $("#lastAmount").val(FinalAmount.toFixed(2));
                        $("#PromoCodeId").val(response.ID);
                        $("#btnpromo").prop('disabled', true);
                    } else {
                        $("#txtpromocode").val(" ");
                        ShowMessageToastr("danger", "Promo-Code does not exist.");
                    }
                    },
                error: function (errormessage) {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                }
            });
        });


        $("#btnOrdr").click(function () {
            var productAmt = parseFloat($("#lastAmount").val());
            if (isNaN(productAmt)) {
                productAmt = parseFloat($("#productPrice").text());
            }
            var promoCodeId = $("#PromoCodeId").val();
            $.ajax({
                url: '@Url.Action(Actions.UpdateOrderStatus, Controllers.cCart)',
                type: 'POST',
                datatype: 'json',
                data: addRequestVerificationToken({ Amount: productAmt, _promoCodeId: promoCodeId }),
                success: function (data) {
                    ShowMessageToastr("success", "Order place successfully.");
                    window.location.href = "/cCart/CheckoutComplete";
                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        });
    });

    function DeleteCartConfirmation(ID) {
        ShowMessageToastr("warning", "Do you want to delete this item?", true, 'DeleteCart(' + ID + ')', '');
    }

    function DeleteCart(ID) {
        $.ajax({
            type: "POST",
            url: "@Url.Action(Actions.DeleteCart, Controllers.cCart)",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ ID: ID }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    $("#cart" + ID).remove();
                    ShowMessageToastr("success", recvResult.Message);
                    window.location.reload();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }

     function LoadCustomerCart() {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerCart, Controllers.cCart)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                let htmlstring = `<div class="widget mb-3">
                        <h2 class="widget-title text-center">Order summary</h2>`;

                let subTotal = 0;
                let taxTotal = 0;
                let total = 0;
                let shipAmt = parseFloat($("#spamt1").val());
            
                $.each(data, function (key, cart) {
                    subTotal += cart.Total;
                    taxTotal += cart.Tax;
                    total = subTotal + taxTotal + shipAmt;
                    @*if (key == 0) {
                        htmlstring += `<div class="d-flex align-items-center pb-2 border-bottom">`;
                    }
                    else {
                        htmlstring += `<div class="d-flex align-items-center py-2 border-bottom">`;
                    }

                    htmlstring += `<a class="d-block flex-shrink-0" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">
                            <img src="${cart.ProdImgFullURL}" width="64" alt="Product"></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">${cart.ProductName}</a></h6>
                                <div class="widget-product-meta"><span class="text-accent me-2">$${cart.ProductPrice}</span><span class="text-muted">x ${cart.Quantity}</span></div>
                            </div>
                        </div>`;*@
                });

                htmlstring += `</div>
                    <ul class="list-unstyled fs-sm pb-2 border-bottom">
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">$${subTotal}</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Shipping:</span><span style="margin-left:190px;">$</span><span class="text-end" id="spamt"></span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Taxes:</span><span class="text-end">$${taxTotal}</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Discount:</span><span class="text-end">—</span></li>
                    </ul>

                    <h3 style='display:inline;margin-left:95px;'>$</h3><h3 class="fw-normal text-center my-4"  style='display:inline' id="productPrice"></h3>`;

                $('#sidebarDataDiv').empty();
                $('#sidebarDataDiv').html(htmlstring);
                $("#productPrice").html(total);
                $("#spamt").append($("#spamt1").val());
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load cart.");
            }
        });
    }


    function editDiv(cartID) {
        debugger;
        $(`#edit_area_${cartID}`).show();
        $(`#editdiv${cartID}`).hide();
    }
    function LoadCustomerCart1() {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerCart, Controllers.cCart)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                let htmlstring = "";
                let subTotal = 0;
                $.each(data, function (key, cart) {
                    subTotal += cart.Total;
                    htmlstring += `<div id="cart${cart.ID}" class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                    <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">
                        <img src="${cart.ProdImgFullURL}" width="160" alt="Product">
                    </a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2">
                            <a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">${cart.ProductName}</a>
                        </h3>
                        <div class="fs-lg text-accent pt-2">$${cart.ProductPrice}</div>
                    </div>
                </div>
                <div id="edit_area_${cart.ID}"  class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" id="editCart" style="max-width: 9rem;display: none;">
                    <input type="hidden" id="product${cart.ID}" value="${cart.ProductId}">
                        <label class="form-label" for="quantity${cart.ID}">Quantity</label>
                        <input class="form-control" type="number" id="quantity${cart.ID}" min="1" value="${cart.Quantity}">
                        <button class="btn btn-link px-0 text-danger" type="button" onclick="DeleteCartConfirmation(${cart.ID})">
                            <i class="ti-close-circle me-2"></i><span class="fs-sm">Remove</span>
                        </button>
                        <button class="btn btn-link px-0 text-danger" type="button" onclick="updateCart()">
                            <i class="ti-loading fs-base me-2"></i>Update
                        </button>
                </div>
                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" id="editdiv${cart.ID}" style="max-width: 9rem;">
                  <a onclick='editDiv(${cart.ID})' href='#!'>Edit</a>
                </div>
            </div>`;
                });

                if (htmlstring == "") {
                    htmlstring += `<div> No items available.</div>`;
                }

                $('#CartItemsArea').empty();
                $('#CartItemsArea').html(htmlstring);
                $('#cartSubTotal').text('$' + subTotal);
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load cart.");
            }
        });
        $("#editCart").hide();

    }

    function updateCart() {
        var result = false;
        var partiallyUpdated = false;

        $('#CartItemsArea > div').each(function () {
            var i = $(this).attr('id');
            let productId = $('#' + i.replace("cart", "product")).val();
            let Quantity = $('#' + i.replace("cart", "quantity")).val();
            var res = AddToCart(productId, Quantity, false);
            if (result == true && res == false) {
                partiallyUpdated = true;
            }

            result = res;
        });

        if (partiallyUpdated == true) {
            ShowMessageToastr("warning", "Cart updated successfully (Partial).");
        }
        else if (result == true) {
            ShowMessageToastr("success", "Cart updated successfully.");
        }
        else {
            ShowMessageToastr("danger", "Failed to update cart.");
        }

        LoadCustomerCart();
    }
</script>

