﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Topfarms | Cart";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="@Url.Action(Actions.ShopGrid, Controllers.Home)">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            <!-- Steps-->
            <div class="steps steps-light pt-2 pb-3 mb-5">
                <a class="step-item active" href="/cCart/Index">
                    <div class="step-progress"><span class="step-count">1</span></div>
                    <div class="step-label"><i class="ti-cart"></i>Cart</div>
                </a><a class="step-item active" href="/cCart/CheckoutDetails">
                    <div class="step-progress"><span class="step-count">2</span></div>
                    <div class="step-label"><i class="ti-user-circle"></i>Details</div>
                </a><a class="step-item active" href="/cCart/CheckoutShipping">
                    <div class="step-progress"><span class="step-count">3</span></div>
                    <div class="step-label"><i class="ti-package"></i>Shipping</div>
                </a><a class="step-item active current" href="!#">
                    <div class="step-progress"><span class="step-count">4</span></div>
                    <div class="step-label"><i class="ti-card"></i>Payment</div>
                </a><a class="step-item">
                    <div class="step-progress"><span class="step-count">5</span></div>
                    <div class="step-label"><i class="ti-check-circle"></i>Review</div>
                </a>
            </div>
            <!-- Payment methods accordion-->
            <h2 class="h6 pb-3 mb-2">Choose payment method</h2>
            <div class="accordion mb-2" id="payment-method">
                <div class="table-responsive">
                    <table class="table table-hover fs-sm border-top">
                        <thead>
                            <tr>
                                <th class="align-middle"></th>
                                <th class="align-middle">Payment method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="radio" id="courier" value="1" name="payment-method" checked>
                                        <label class="form-check-label" for="courier"></label>
                                    </div>
                                </td>
                                @*  <td class="align-middle"><span class="text-dark fw-medium">Courier</span><br><span class="text-muted">All addresses (default zone), United States &amp; Canada</span></td>*@
                                <td>
                                    <div class="accordion-item">
                                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#points" data-bs-toggle="collapse"><i class="ti-gift me-2"></i>Pre-Payment</a></h3>
                                        <div class="accordion-collapse collapse" id="points" data-bs-parent="#payment-method">
                                            <div class="accordion-body">
                                                <div class="form-check d-block">
                                                    @*<input class="form-check-input" type="checkbox" id="use_points">*@
                                                    <label class="form-check-label" for="use_points">Pay u gateway.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="radio" id="courier" value="2" name="payment-method">
                                        <label class="form-check-label" for="courier"></label>
                                    </div>
                                </td>
                                @*  <td class="align-middle"><span class="text-dark fw-medium">Courier</span><br><span class="text-muted">All addresses (default zone), United States &amp; Canada</span></td>*@
                                <td>
                                    <div class="accordion-item">
                                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#prepayment" data-bs-toggle="collapse"><i class="ti-coins me-2"></i>Bank Transfer</a></h3>
                                        <div class="accordion-collapse collapse" id="prepayment" data-bs-parent="#payment-method">
                                            <div class="accordion-body">
                                                <p><span class="fw-medium">Bank account number</span> - 1021 5465 5454</p>
                                                <p><span class="fw-medium">Bank Name</span> - HDFC Bank Pvt Ltd4</p>
                                                <p><span class="fw-medium">Bank IFSC Code</span> - HDFC00056</p>
                                                <hr class="mb-3">
                                                <p><span class="fw-medium">Order Number</span> - #456489</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="accordion mb-2" id="payment-method1">
                @*<div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button" href="#card" data-bs-toggle="collapse"><i class="ti-card fs-lg me-2 mt-n1 align-middle"></i>Pay with Credit/Debit Card</a></h3>
                        <div class="accordion-collapse collapse show" id="card" data-bs-parent="#payment-method">
                            <div class="accordion-body">
                                <p class="fs-sm">We accept following credit cards:&nbsp;&nbsp;<img class="d-inline-block align-middle" src="img/cards.png" width="187" alt="Cerdit Cards"></p>
                                <div class="credit-card-wrapper"></div>
                                <form class="credit-card-form row">
                                    <div class="mb-3 col-sm-6">
                                        <input class="form-control" type="text" name="number" placeholder="Card Number" required>
                                    </div>
                                    <div class="mb-3 col-sm-6">
                                        <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                                    </div>
                                    <div class="mb-3 col-sm-3">
                                        <input class="form-control" type="text" name="expiry" placeholder="MM/YY" required>
                                    </div>
                                    <div class="mb-3 col-sm-3">
                                        <input class="form-control" type="text" name="cvc" placeholder="CVC" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-outline-primary d-block w-100 mt-0" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#paypal" data-bs-toggle="collapse"><i class="ti-paypal me-2 align-middle"></i>Pay with PayPal</a></h3>
                        <div class="accordion-collapse collapse" id="paypal" data-bs-parent="#payment-method">
                            <div class="accordion-body fs-sm">
                                <p><span class='fw-medium'>PayPal</span> - the safer, easier way to pay</p>
                                <form class="row needs-validation" method="post" novalidate>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control" type="email" placeholder="E-mail" required>
                                            <div class="invalid-feedback">Please enter valid email address</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control" type="password" placeholder="Password" required>
                                            <div class="invalid-feedback">Please enter your password</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                                            <a class="nav-link-style" href="#">Forgot password?</a>
                                            <button class="btn btn-primary" type="submit">Log In</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#points" data-bs-toggle="collapse"><i class="ti-gift me-2"></i>Cash on Delivery</a></h3>
                        <div class="accordion-collapse collapse" id="points" data-bs-parent="#payment-method">
                            <div class="accordion-body">
                                <div class="form-check d-block">
                                    <input class="form-check-input" type="checkbox" id="use_points">
                                    <label class="form-check-label" for="use_points">I will pay at delivery time for this order.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#prepayment" data-bs-toggle="collapse"><i class="ti-coins me-2"></i>Pre-Payment</a></h3>
                        <div class="accordion-collapse collapse" id="prepayment" data-bs-parent="#payment-method">
                            <div class="accordion-body">
                                <p><span class="fw-medium">Bank account number</span> - 1021 5465 5454</p>
                                <p><span class="fw-medium">Bank Name</span> - HDFC Bank Pvt Ltd4</p>
                                <p><span class="fw-medium">Bank IFSC Code</span> - HDFC00056</p>
                                <hr class="mb-3">
                                <p><span class="fw-medium">Order Number</span> - #456489</p>
                            </div>
                        </div>
                    </div>*@
            </div>


            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="/cCart/CheckoutShipping"><i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Adresses</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="#!" id="paymentProcess"><span class="d-none d-sm-inline">Proceed to Payment</span><span class="d-inline d-sm-none">Next</span><i class="ti-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </section>
        <!-- Sidebar-->

    </div>
    <!-- Navigation (mobile)-->
    <div class="row d-lg-none">
        <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="shop-cart.html"><i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="#!" id="paymentProcess"><span class="d-none d-sm-inline">Proceed to Payment</span><span class="d-inline d-sm-none">Next</span><i class="ti-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        function getCartData() {
            $.ajax({
                url: '@Url.Action(Actions.SelectCheckoutByCustID, Controllers.cCart)',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    if (data.ShippingMethod != 0) {
                        $("input[name=payment-method][value=" + data.PaymentMethod + "]").prop('checked', true);
                    }
                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        }

        getCartData();

        $("#paymentProcess").click(function () {
            var paymentmethod = $("input[name='payment-method']:checked").val();
            $.ajax({
                url: '@Url.Action(Actions.AddCheckoutAddress, Controllers.cCart)',
                data: addRequestVerificationToken({ PaymentMethod: paymentmethod }),
                type: 'POST',
                datatype: 'json',
                success: function (data) {
                    window.location.href = "/cCart/CheckoutReview";
                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        });
    });

</script>