﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;
@{
    ViewBag.Title = "Topfarms | Cart";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}



<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="@Url.Action(Actions.ShopGrid, Controllers.Home)">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Checkout</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <section class="col-lg-8">
            <!-- Steps-->
            <div class="steps steps-light pt-2 pb-3 mb-5">
                <a class="step-item active" href="/cCart/Index">
                    <div class="step-progress"><span class="step-count">1</span></div>
                    <div class="step-label"><i class="ti-cart"></i>Cart</div>
                </a><a class="step-item active" href="/cCart/CheckoutDetails">
                    <div class="step-progress"><span class="step-count">2</span></div>
                    <div class="step-label"><i class="ti-user-circle"></i>Details</div>
                </a><a class="step-item active current">
                    <div class="step-progress"><span class="step-count">3</span></div>
                    <div class="step-label"><i class="ti-package"></i>Shipping</div>
                </a><a class="step-item">
                    <div class="step-progress"><span class="step-count">4</span></div>
                    <div class="step-label"><i class="ti-card"></i>Payment</div>
                </a><a class="step-item">
                    <div class="step-progress"><span class="step-count">5</span></div>
                    <div class="step-label"><i class="ti-check-circle"></i>Review</div>
                </a>
            </div>

            <h2 class="h6 pb-3 mb-2">Choose shipping method</h2>
            <div class="table-responsive">
                <table class="table table-hover fs-sm border-top">
                    <thead>
                        <tr>
                            <th class="align-middle"></th>
                            <th class="align-middle">Shipping method</th>
                            @*<th class="align-middle">Handling fee</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check mb-4">
                                    <input type="hidden" id="sfa" value="" /><input type="hidden" id="subTotal" value="" /><input type="hidden" id="taxTotal" value="" /><input type="hidden" id="oldshipTotal" value="" /><input type="hidden" id="shipTotal" value="" /><input type="hidden" id="TotalAMT" value="" />
                                    <input class="form-check-input" type="radio" id="local" value="1" name="shipping-method" data-hf="">
                                    <label class="form-check-label" for="courier"></label>&nbsp;&nbsp;&nbsp;<span class="text-dark fw-medium">Courier</span>
                                </div>
                            </td>
                            @*<td class="align-middle"><span class="text-dark fw-medium">Courier</span>  </td>*@
                            <td class="align-middle">  <div class="ship_detail" style="display:inline;font-weight:bolder"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="radio" id="local" value="2" data-hf="" name="shipping-method">
                                    @*<label class="form-check-label" for="local"></label>*@<span class="text-dark fw-medium">Local Shipping</span>
                                </div>
                            </td>
                            @*<td class="align-middle"><span class="text-dark fw-medium">Local Shipping</span>  </td>*@
                            <td class="align-middle">  <div class="ship_detail" style="display:inline;font-weight:bolder"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="radio" id="local" value="3" data-hf="" name="shipping-method">
                                    @*<label class="form-check-label" for="local"></label>*@
                                    <span class="text-dark fw-medium">Self Pickup</span>
                                </div>
                            </td>
                            @*<td class="align-middle"><span class="text-dark fw-medium">Self Pickup</span>  </td>*@
                            <td class="align-middle">  <div style="display:inline;font-weight:bolder">$0</div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="radio" id="local" value="4" data-hf="35.52" name="shipping-method">
                                    <label class="form-check-label" for="local"></label>
                                    <span class="text-dark fw-medium">Polish Post</span>
                                </div>
                            </td>
                            @*<td class="align-middle"><span class="text-dark fw-medium">Polish Post</span>  </td>*@
                            <td class="align-middle">  <div class="ship_detail" style="display:inline;font-weight:bolder"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Navigation (desktop)-->
            <div class="d-none d-lg-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="/cCart/CheckoutDetails"><i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Adresses</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="#!" id="shipProcess"><span class="d-none d-sm-inline">Proceed to Payment</span><span class="d-inline d-sm-none">Next</span><i class="ti-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
            <div class="bg-white rounded-3 shadow-lg p-4 ms-lg-auto">
                <div class="py-2 px-xl-2" id="sidebarDataDiv">

                    @*<form class="needs-validation" method="post" novalidate>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Promo code" required>
                                <div class="invalid-feedback">Please provide promo code.</div>
                            </div>
                            <button class="btn btn-outline-primary d-block w-100" type="submit">Apply promo code</button>
                        </form>*@
                </div>
            </div>
        </aside>
    </div>
    <!-- Navigation (mobile)-->
    <div class="row d-lg-none">
        <div class="col-lg-8">
            <div class="d-flex pt-4 mt-3">
                <div class="w-50 pe-3"><a class="btn btn-secondary d-block w-100" href="shop-cart.html"><i class="ti-arrow-left mt-sm-0 me-1"></i><span class="d-none d-sm-inline">Back to Cart</span><span class="d-inline d-sm-none">Back</span></a></div>
                <div class="w-50 ps-2"><a class="btn btn-primary d-block w-100" href="#!" id="shipProcess"><span class="d-none d-sm-inline">Proceed to Shipping</span><span class="d-inline d-sm-none">Next</span><i class="ti-arrow-right mt-sm-0 ms-1"></i></a></div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        setTimeout(function () {
            //$('input[name="shipping-method"]:first').prop('checked', true);
            debugger;
            var selShipMethod = $('input[name="shipping-method"]:checked').val();
            if (!isNaN(parseInt(selShipMethod)))
            {
                var subTotal = $("#subTotal").val();
            var taxTotal = $("#taxTotal").val();
            var currentId = $('input[name="shipping-method"]:checked').val();
                $.ajax({
                    url: '@Url.Action(Actions.GetShippingAmount, Controllers.cCart)',
                    type: 'GET',
                    datatype: 'json',
                    success: function (data) {
                        let sAmount = 0;
                        //var strShip = "";
                        var name = "";
                        var charge = "";
                        var fee = "";
                        $.each(data, function (key, shipping) {
                            name = shipping.Name;
                            charge = shipping.Charge;
                            fee = shipping.FreeShippingAbove;
                            sAmount += shipping.Charge;
                            if (selShipMethod == 3) {
                                charge = 0;
                            }
                            //strShip += "For " + name + " category shipping charge will be $" + charge + " ,for Order below $" + fee + "</br>";

                        });
                        //$("#ship_detail_1").html('');
                        //$("#ship_detail_2").html('');
                        //$("#ship_detail_3").html('');
                        //$("#ship_detail_4").html('');

                        var shipAmt = sAmount;

                        if (isNaN(shipAmt)) {
                            $("#shipTotal").val(0);
                            shipAmt = 0;
                            var os = $("#oldshipTotal").val();
                        }

                        if (selShipMethod == 3) {
                            charge = 0;
                            $("#shipTotal").val(0);
                            if (shipAmt > 0) {
                                $("#oldshipTotal").val(parseFloat(shipAmt));
                            }
                            shipAmt = 0;
                        }
                        else {
                            $("#shipTotal").val(shipAmt);
                            var oldval = parseFloat($("#oldshipTotal").val());
                            if (isNaN(oldval)) {
                                shipAmt = parseFloat($("#shipTotal").val());
                            }
                            else {
                                shipAmt = parseFloat($("#oldshipTotal").val());
                            }
                        }

                        $("#shipAmount").html('');
                        $("#shipAmount").append("$" + shipAmt);
                        //$("#ship_detail_" + currentId).html('');
                        //$("#ship_detail_" + currentId).append(strShip);
                        var Total = parseFloat(subTotal) + parseFloat(taxTotal) + parseFloat(shipAmt);
                        $("#TM").html('');
                        $("#TM").append("$" + Total);
                    },
                    error: function () {
                        ShowMessageToastr("danger", "Failed to load cart.");
                    }
                });
        }
        }, 1000);

        $("input[id=local]").change(function () {
            var subTotal = $("#subTotal").val();
            var taxTotal = $("#taxTotal").val();
            var selShipMethod = $(this).val();
            var currentId = $(this).val();
            $.ajax({
                url: '@Url.Action(Actions.GetShippingAmount, Controllers.cCart)',
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    let sAmount = 0;
                    //var strShip = "";
                    var name = "";
                    var charge = "";
                    var fee = "";
                    $.each(data, function (key, shipping) {
                        name = shipping.Name;
                        charge = shipping.Charge;
                        fee = shipping.FreeShippingAbove;
                        sAmount += shipping.Charge;
                        if (selShipMethod == 3) {
                            charge = 0;
                        }
                        //strShip += "For " + name + " category shipping charge will be $" + charge + " ,for Order below $" + fee + "</br>";

                    });
                    //$("#ship_detail_1").html('');
                    //$("#ship_detail_2").html('');
                    //$("#ship_detail_3").html('');
                    //$("#ship_detail_4").html('');

                    var shipAmt = sAmount;

                    if (isNaN(shipAmt)) {
                        $("#shipTotal").val(0);
                        shipAmt = 0;
                        var os = $("#oldshipTotal").val();
                    }

                    if (selShipMethod == 3) {
                        charge = 0;
                        $("#shipTotal").val(0);
                        if (shipAmt > 0) {
                            $("#oldshipTotal").val(parseFloat(shipAmt));
                        }
                        shipAmt = 0;
                    }
                    else {
                        $("#shipTotal").val(shipAmt);
                        var oldval = parseFloat($("#oldshipTotal").val());
                        if (isNaN(oldval)) {
                            shipAmt = parseFloat($("#shipTotal").val());
                        }
                        else {
                            shipAmt = parseFloat($("#oldshipTotal").val());
                        }
                    }

                    $("#shipAmount").html('');
                    $("#shipAmount").append("$" + shipAmt);
                    //$("#ship_detail_" + currentId).html('');
                    //$("#ship_detail_" + currentId).append(strShip);
                    var Total = parseFloat(subTotal) + parseFloat(taxTotal) + parseFloat(shipAmt);
                    $("#TM").html('');
                    $("#TM").append("$" + Total);
                },
                error: function () {
                    ShowMessageToastr("danger", "Failed to load cart.");
                }
            });
        });

        function getCartData() {
            $.ajax({
                url: '@Url.Action(Actions.SelectCheckoutByCustID, Controllers.cCart)',
                type: 'GET',
                datatype: 'json',
                success: function (data) {

                    if (data.ShippingMethod != 0) {
                        $("input[name=shipping-method][value=" + data.ShippingMethod + "]").prop('checked', true);
                        //$("#shipAmount").val(data.ShipAmount);
                        //$("#sfa").val(data.ShipAmount);
                        //  alert("sfa" + data.ShipAmount);
                        debugger;
                    }
                },
                error: function () {
                    //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                }
            });
        }

        getCartData();

        function LoadCustomerCart() {


        $.ajax({
            url: '@Url.Action(Actions.GetCustomerCart, Controllers.cCart)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                let htmlstring = `<div class="widget mb-3">
                        <h2 class="widget-title text-center">Order summary</h2>`;

                let subTotal = 0;
                let taxTotal = 0;
                let shipping = 0;
                //$("#ship_detail").append(data[0].TotalShipping);
                $(".ship_detail").each(function () {
                    //$(this).data(data[0].TotalShipping);
                    $(this).append("$" + data[0].TotalShipping);
                })
                $.each(data, function (key, cart) {
                    //console.log(cart);
                    //if (cart.CategoryId == 1) {
                    //    var shipStr = "Shipping charge will be PLN for order below $1500 PLN";
                    //}
                    //else {

                    //}
                    if (cart.Total < cart.FreeShippingAbove) {
                        shipping += cart.FreeShipping;
                    }
                    subTotal += cart.Total;
                    taxTotal += cart.Tax;
                    if (key == 0) {
                        htmlstring += `<div class="d-flex align-items-center pb-2 border-bottom">`;
                    }
                    else {
                        htmlstring += `<div class="d-flex align-items-center py-2 border-bottom">`;
                    }
                    htmlstring += `<a class="d-block flex-shrink-0" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">
                            <img src="${cart.ProdImgFullURL}" width="64" alt="Product"></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${cart.ProductId}">${cart.ProductName}</a></h6>
                                <div class="widget-product-meta"><span class="text-accent me-2">$${cart.ProductPrice}</span><span class="text-muted">x ${cart.Quantity}</span></div>
                            </div>
                        </div>`;
                });

                htmlstring += `</div>
                    <ul class="list-unstyled fs-sm pb-2 border-bottom">
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Subtotal:</span><span class="text-end">$${subTotal}</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Shipping:</span><span class="text-end"> <div id="shipAmount"></div></span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Taxes:</span><span class="text-end">$${taxTotal}</span></li>
                        <li class="d-flex justify-content-between align-items-center"><span class="me-2">Discount:</span><span class="text-end">—</span></li>
                    </ul>
                    <h3 class="fw-normal text-center my-4"><div id="TotalAMT"></div><div id="TM"></div></h3>`;
                //$('#ship_amount').val(data[0].FreeShipping);
                $('#subTotal').val(subTotal);
                $('#taxTotal').val(taxTotal);
                $('#shipTotal').val(shipping);

                //$('#TotalAMT').val(subTotal + taxTotal + shipping);
                $('#sidebarDataDiv').empty();
                $('#sidebarDataDiv').html(htmlstring);
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load cart.");
            }
        });
    }

        $("#shipProcess").click(function () {
            var shippingMethod = $("input[name='shipping-method']:checked").val();
            var shipAmount = $("#shipTotal").val();
            if (!isNaN(parseInt(shippingMethod))) {
                 $.ajax({
                    url: '@Url.Action(Actions.AddCheckoutAddress, Controllers.cCart)',
                    data: addRequestVerificationToken({ ShippingMethod: shippingMethod, ShipAmount: shipAmount }),
                    type: 'POST',
                    datatype: 'json',
                    success: function (data) {
                        window.location.href = "/cCart/CheckoutPayment";
                    },
                    error: function () {
                        //  ShowMessageToastr("danger","Failed to like / dislike product reviews.");
                    }
                });
            }
            else {
                ShowMessageToastr("danger", "Please select shipping method.");
            }
        });
        LoadCustomerCart();

        debugger;


    });

</script>