﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Topfarms | Checkout Complete";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model Checkout
<!-- Page Title (Dark)-->
<div class="bg-dark py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Shop</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Order tracking</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Tracking order: <span class="h4 fw-normal text-light" id="trackid"></span></h1>
        </div>
    </div>
</div>

<div class="container py-5 mb-2 mb-md-3">
    <!-- Details-->
    <div class="row gx-4 mb-4">
        <div class="col-md-4 mb-2">
            <div class="bg-secondary h-100 p-4 text-center rounded-3"><span class="fw-medium text-dark me-2">Shipped via:</span><span class="fw-medium text-dark me-2" id="shipTitle"></span></div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="bg-secondary h-100 p-4 text-center rounded-3"><span class="fw-medium text-dark me-2">Status:</span><span class="fw-medium text-dark me-2" id="orderStatus"></span></div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="bg-secondary h-100 p-4 text-center rounded-3"><span class="fw-medium text-dark me-2">Expected date:</span>October 15, 2019</div>
        </div>
    </div>
    <!-- Progress-->
    <div class="card border-0 shadow-lg">
        <div class="card-body pb-2">
            <ul class="nav nav-tabs media-tabs nav-justified">
                <li class="nav-item">
                    <div class="nav-link completed">
                        <div class="d-flex align-items-center">
                            <div class="media-tab-media"><i class="ti-bag"></i></div>
                            <div class="ps-3">
                                <div class="media-tab-subtitle text-muted fs-xs mb-1">First step</div>
                                <h6 class="media-tab-title text-nowrap mb-0">Order placed</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link active">
                        <div class="d-flex align-items-center">
                            <div class="media-tab-media"><i class="ti-settings"></i></div>
                            <div class="ps-3">
                                <div class="media-tab-subtitle text-muted fs-xs mb-1">Second step</div>
                                <h6 class="media-tab-title text-nowrap mb-0">Processing order</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="media-tab-media"><i class="ti-star"></i></div>
                            <div class="ps-3">
                                <div class="media-tab-subtitle text-muted fs-xs mb-1">Third step</div>
                                <h6 class="media-tab-title text-nowrap mb-0">Quality check</h6>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="media-tab-media"><i class="ti-package"></i></div>
                            <div class="ps-3">
                                <div class="media-tab-subtitle text-muted fs-xs mb-1">Fourth step</div>
                                <h6 class="media-tab-title text-nowrap mb-0">Product dispatched</h6>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Footer-->
    <div class="d-sm-flex flex-wrap justify-content-between align-items-center text-center pt-4">
        <div class="form-check mt-2 me-3">
            <input class="form-check-input" type="checkbox" id="notifyme">
            <label class="form-check-label" for="notify-me">Notify me when order is delivered</label>
        </div><a class="btn btn-primary btn-sm mt-2" href="#order-details" data-bs-toggle="modal" id="orderDetails" data-oid="@ViewBag.OrderId" >View Order Details</a>
    </div>
</div>


<!-- Order Details Modal-->
<div class="modal fade" id="order-details">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Details</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-0">


                <!-- Item-->
                <div class="pritem"></div>
                <!-- Item-->
                <div class="d-flex flex-wrap justify-content-between p-2 mb-2 bg-secondary fs-md">
                    <div class="px-2 py-1">
                        <span class="text-muted">Subtotal:&nbsp;</span><span id="subtotal"></span>
                    </div>
                    <div class="px-2 py-1">
                        <span class="text-muted">Shipping:&nbsp;</span>$@Model.ShipAmount  <span> </span>
                    </div>
                    <div class="px-2 py-1"><span class="text-muted">Tax:&nbsp;</span><span>$@Model.TaxAmount</span></div>
                    <div class="px-2 py-1">
                        <span class="text-muted">Total:&nbsp;</span><span class="fs-lg" id="totalAmount"></span>
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <div class="modal-footer">
                    @*<a class="btn btn-primary" href='/cOrder/GenerateOrder' target="_blank" id="btndownload">Download Invoice</a>*@
                </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#orderDetails").click(function () {
            var orderId = $(this).attr("data-oid");
            $.ajax({
                type: "Post",
                url: '@Url.Action(Actions.OrderDetailsById, Controllers.cOrder)',
                data: { id: orderId },
                dataType: "json",
                success: function (data) {

                    $(".pritem").empty();

                    $("#subtotal").html("");
                    $("#totalAmount").html("");

                    $("#subtotal").append("$" + data.TotalAmount);

                    var Total = parseFloat(data.TotalAmount) + parseFloat(@Model.TaxAmount) + parseFloat(@Model.ShipAmount);
                    $("#totalAmount").append("$" + Total);

                    $.each(data.listProduct, function (index, value) {

                        $(".pritem").append("<div class='d-sm-flex justify-content-between my-4 pb-3 pb-sm-2 border-bottom'><div class='d-sm-flex text-center text-sm-start'><a class='d-inline-block flex-shrink-0 mx-auto' href='shop-single.html' style='width: 10rem;'><img src='" + value.URL + "' alt='Product'></a><div class='ps-sm-4 pt-2'><h3 class='product-title fs-base mb-2'><a href='shop-single.html' id='pname'>" + value.ProductName + "</a></h3><div class='fs-lg text-accent pt-2' id='rate' style='margin-top: -6px;'>" + value.Rate + "</div></div></div><div class='pt-2 ps-sm-3 mx-auto mx-sm-0 text-center'><div class='text-muted mb-2'>Quantity:</div><div id='qty'>" + value.Quantity + "</div></div><div class='pt-2 ps-sm-3 mx-auto mx-sm-0 text-center'><div class='text-muted mb-2'>Subtotal</div>$ " + value.Amount + "</div></div>");
                    });
                }
            });
        });

        $("#notifyme").click(function () {
           $.ajax({
                type: "Post",
                url: '@Url.Action(Actions.UpdateOrderNotify, Controllers.cCart)',
                dataType: "json",
                success: function (data) {
                    console.log(data);

                }
            });
        });

        function TrackOrderDetail(id) {
            $.ajax({
                type: "Post",
                url: '@Url.Action(Actions.TrackOrderDetail, Controllers.cCart)',
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    $("#orderStatus").append(data.strStatus);
                    $("#shipTitle").append(data.strShipMethod);
                    $("#trackid").append(data.OrderId);
                }
            });
        }

        TrackOrderDetail(@ViewBag.OrderId);
    });
</script>