﻿
@{
    ViewBag.Title = "Shipping";
    ViewBag.ActiveMenuId = "Shipping";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Shipping</h2>
            <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                    <button class="btn btn-primary ms-2" type="button" id="OpenShippingRate"><i class="ti-add me-2 fs-sm"></i>Add Shipping</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 border m-0 p-0">
                    <table class="table" id="ShippingRateList">
                    </table>
            </div>
        </div>


    </div>
</section>
<div id="AddRemoveDlg">
    <div id="LoadShippingRateDlg">
    </div>
</div>

<script>

    $(document).ready(function () {

        RefreshShippingData();

        $("#OpenShippingRate").click(function () {
            $.ajax({
                type: "POST",
                url: "Shipping/ShowShippingRate",
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    $("#LoadShippingRateDlg").remove();
                    $("#AddRemoveDlg").append('<div id="LoadShippingRateDlg"></div>');
                    $("#LoadShippingRateDlg").append(response);
                    $('#editShippingRate').modal('toggle');
                    $("#FormShippingRate").trigger("reset");
                    $("#FreeShipping_").remove();
                    $("#FreeShippingAbove_").remove();
                    $("#CategoryID_").remove();
                },
                error: function (errormessage) {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                }
            });
        });


        /*-----------------------------------
         * Events
         ------------------------------------*/
        $("body").on("keyup", "#FreeShipping", function () {
            let result = ValidateNumbers($('#FreeShipping').val());
            $("#FreeShipping_").remove();
            if (result === false) {
                $('<span class=text-danger id="FreeShipping_">Please provide a valid value.</span>').insertAfter(this);
                return;
            }
            $("#FreeShipping_").remove();
        });

        $("body").on("keyup", "#FreeShippingAbove", function () {
            $("#FreeShippingAbove_").remove();
            if (ValidateNumbers($('#FreeShippingAbove').val()) === false) {
                $('<span class=text-danger id="FreeShippingAbove_">Please provide a valid value.</span>').insertAfter(this);
                return;
            }
            $("#FreeShippingAbove_").remove();
        });
    });

    function ValidateNumbers(value) {
        let regex = /^\d+(\.\d{1,5})?$/;
        if (!regex.test(value)) {
            return false;
        }

        return true;
    }

    /*-----------------------------------
     * Load Category
     ------------------------------------*/
    function RefreshShippingData() {
        TableDatatablesShipping.init();
    }


    var TableDatatablesShipping = function () {
        var initTable1 = function () {
            var table = $('#ShippingRateList');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": true,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "Shipping/BindShipping",
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    { "title": "#", "data": "ID", "orderable": false },
                    {
                        "title": "CATEGORY NAME", "data": "CategoryName",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "SHIPPING FEE", "data": "FreeShipping",
                        "render": function (data, type, row) {
                            let num = parseFloat(data);
                            return num.toFixed(2) + 'PLN';
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "FREE SHIPPING ABOVE", "data": "FreeShippingAbove",
                        "render": function (data, type, row) {
                            let num = parseFloat(data);
                            return num.toFixed(1) + 'PLN';
                        },
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "ACTION",
                        "data": null,
                        "render": function (data, type, row) {

                            return '<button class="btn btn-secondary btn-sm" type="button" onclick="GetShippingRateData(' + row['ID'] + ')">Edit</button >';
                        },
                        "orderable": false,
                    }
                ],
                "buttons": [
                    {

                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#ShippingRateList")) {
                    $('#ShippingRateList').dataTable().fnDestroy();
                }
                initTable1();
            }

        };

    }();

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function GetShippingRateData(value) {
        $.ajax({
            type: "POST",
            url: "Shipping/GetShippingRate",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ ID: value }),
            success: function (response) {
                $("#LoadShippingRateDlg").remove();
                $("#AddRemoveDlg").append('<div id="LoadShippingRateDlg"></div>');
                $("#LoadShippingRateDlg").append(response);
                $('#editShippingRate').modal('toggle');
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });

    }
</script>

