﻿@using TopFarm.Entities.V1
@model ShippingRate

<div class="modal fade" id="editShippingRate" tabindex="-1" aria-labelledby="editShippingRateLabel" aria-hidden="true" role="dialog">
    <form id="FormShippingRate">
        @Html.HiddenFor(a=>a.ID)
        <div class="modal-dialog  modal-fullscreen-md-down modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editShippingRateLabel">Shipping Rate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Category name</label>
                        @Html.DropDownListFor(a => a.CategoryID, (IEnumerable<SelectListItem>)ViewBag.ProductCategory, "Select Option", new { @class = "form-control", placeholder = "Category Name" })
                    </div>
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Shipping Free</label>
                        @Html.TextBoxFor(model => model.FreeShipping, new { @class = "form-control", placeholder = "Shipping Free" })
                    </div>
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Free Shipping Above</label>
                        @Html.TextBoxFor(model => model.FreeShippingAbove, new { @class = "form-control", placeholder = "Free Shipping Above" })
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" id="subtFormShippingRate" class="btn btn-primary" value="Save changes"/>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    $('#subtFormShippingRate').on('click', function (e) {
        e.preventDefault();
        let IsValidInput = false;
        $("#FreeShipping_").remove();
        $("#FreeShippingAbove_").remove();
        $("#CategoryID_").remove();
        let CategoryName = $('#CategoryID').val();
        if (CategoryName === '' || CategoryName === NaN) {
            $('<span class=text-danger id="CategoryID_">Please select category value.</span>').insertAfter('#CategoryID');
            return;
        }

        let FreeShipping = $('#FreeShipping').val();
        if (ValidateNumbers(FreeShipping) === false) {
            $('<span class=text-danger id="FreeShipping_">Please provide a valid value.</span>').insertAfter('#FreeShipping');
            return;
        }

        let FreeShippingAbove = $('#FreeShippingAbove').val();
        if (ValidateNumbers(FreeShipping) === false || ValidateNumbers(FreeShippingAbove) === false) {
            IsValidInput = true;
        }

        if (IsValidInput === true) {
            return;
        }

        let infoShippingRate = {
            ID: $('#ID').val(),
            FreeShipping: FreeShipping,
            FreeShippingAbove: FreeShippingAbove,
            CategoryName: CategoryName,
        };
        $.ajax({
            type: "POST",
            url: "Shipping/AddShippingRate",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify(infoShippingRate),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    $("#FormShippingRate")[0].reset();
                    $('#editShippingRate').modal('hide');
                    RefreshShippingData();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", recvResult.Message);
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });

    });

    $("#CategoryID").change(function () {
        let CategoryName = $('#CategoryID').val();
        if (CategoryName === '' || CategoryName === NaN) {
            $('<span class=text-danger id="CategoryID_">Please select category value.</span>').insertAfter('#CategoryID');
            return;
        }

        $("#CategoryID_").remove();
    });
</script>