﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Topfarms | Support Ticket";
    ViewBag.ActiveMenuId = "SupportTicket";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index,Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Support tickets</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Support tickets</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
                <div class="d-flex align-items-center">
                    <label class="d-none d-lg-block fs-sm text-light text-nowrap opacity-75 me-2" for="ticket-sort">
                        Sort tickets:
                    </label>
                    <label class="d-lg-none fs-sm text-nowrap opacity-75 me-2" for="ticket-sort">Sort tickets:</label>
                    <select class="form-select" id="ticket-sort">
                        <option value="-1">All</option>
                        <option value="1">Open</option>
                        <option value="0">Closed</option>
                    </select>
                </div><a class="btn btn-primary btn-sm d-none d-lg-inline-block" href="@Url.Action(Actions.Logout, Controllers.Account)">
                    <i class="ti-sign-out me-2"></i>Sign out
                </a>
            </div>
            <!-- Tickets list-->
            <div class="table-responsive fs-md mb-4">
                <table class="table table-hover mb-0" id="TBLSupportTicket"></table>
            </div>
            <div class="text-end">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#open-ticket">
                    Submit new ticket
                </button>
            </div>
        </section>
    </div>
</div>

<!-- Open Ticket Modal-->
<form class="needs-validation modal fade" method="post" id="open-ticket" tabindex="-1" novalidate>
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Submit new ticket</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted fs-sm">We normally respond tickets within 2 business days.</p>
                <div class="row gx-4 gy-3">
                    <div class="col-12">
                        <label class="form-label" for="ticketDescription">Describe your issue</label>
                        <textarea class="form-control" id="ticketDescription" rows="8" required></textarea>
                        <div class="invalid-feedback">Please provide ticket description!</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" onclick="SubmitTicket();">Submit Ticket</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        SupportTicketTBL.init();
    });

    $('#ticket-sort').change(function () {
        SupportTicketTBL.init();
    });

    function SubmitTicket() {
        if (AddSupportTicket($("#ticketDescription").val(), 0, true) == true) {
            SupportTicketTBL.init();
            $('#open-ticket').modal('hide');
        }
    }

    // --------------------------------------------
    // Datatable
    //---------------------------------------------

    var SupportTicketTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLSupportTicket');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": false,
                "bLengthChange": false,
                "searching": false,
                "scrollX": false,
                "info":false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No support ticket available",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "@Url.Action(Actions.BindSupportTicket, Controllers.cSupportTicket)",
                    type: "post",
                    data: addRequestVerificationToken({ status: $('#ticket-sort').val()})
                },
                "columns": [
                    {
                        "title": "Ticket Id", "data": "ID", "orderable": false,
                        "render": function (data, type, row) {
                            return '<a class="nav-link-style fw-medium" href="@Url.Action(Actions.TicketDetail, Controllers.cSupportTicket)?ticketId='+data+'">' + data+'</a>';
                        },
                    },
                    {
                        "title": "Date Submitted", "data": "SubmittedDateStr",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "Status", "data": "Status",
                        "orderable": false,
                        "scope": "col",
                        "render": function (data, type, row) {
                            return data === true ? '<span class="badge bg-success m-0">Open</span>' : '<span class="badge bg-secondary m-0">Closed</span>';
                        },
                    }
                ],
                "buttons": [
                    {
                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#TBLSupportTicket")) {
                    $('#TBLSupportTicket').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();
</script>