﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Topfarms | Support Ticket";
    ViewBag.ActiveMenuId = "SupportTicket";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Html.AntiForgeryToken()
@model SupportTicket
<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="@Url.Action(Actions.Index, Controllers.Home)"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Single ticket</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Single ticket</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-4">
                <div class="d-flex w-100 text-light text-center me-3">
                    <div class="fs-ms px-3">
                        <div class="fw-medium">Date Submitted</div>
                        <div class="opacity-60">@Model.SubmittedDateStr</div>
                    </div>
                    <div class="fs-ms px-3">
                        <div class="fw-medium">Last Updated</div>
                        <div class="opacity-60">@Model.UpdatedDateStr</div>
                    </div>
                    <div class="fs-ms px-3">
                        <div class="fw-medium">Status</div>
                        @if (Model.Status == true)
                        {
                            <span class="badge bg-success">Open</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Close</span>
                        }
                    </div>
                </div>

                <a class="btn btn-primary btn-sm" href="@Url.Action(Actions.Logout, Controllers.Account)">
                    <i class="ti-sign-out me-2"></i>Sign out
                </a>
            </div>
            <!-- Ticket details (visible on mobile)-->
            <div class="d-flex d-lg-none flex-wrap bg-secondary text-center rounded-3 pt-4 px-4 pb-1 mb-4">
                <div class="fs-sm px-3 pb-3">
                    <div class="fw-medium">Date Submitted</div>
                    <div class="text-muted">@Model.SubmittedDateStr</div>
                </div>
                <div class="fs-sm px-3 pb-3">
                    <div class="fw-medium">Last Updated</div>
                    <div class="text-muted">@Model.UpdatedDateStr</div>
                </div>
                <div class="fs-sm px-3 pb-3">
                    <div class="fw-medium">Status</div>
                    @if (Model.Status == true)
                    {
                        <span class="badge bg-success">Open</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Close</span>
                    }
                </div>
            </div>
            <!-- Comment-->
            <span id="commentArea"></span>

            @if (Model.Status == true)
            {
                <!-- Leave message-->
                <h3 class="h5 mt-2 pt-4 pb-2">Leave a Message</h3>
                <form class="needs-validation" novalidate>
                    <div class="mb-3">
                        <textarea id="ticketDescription" class="form-control" rows="8" placeholder="Write your message here..." required></textarea>
                        <div class="invalid-tooltip">Please write the message!</div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="close-ticket">
                            <label class="form-check-label" for="close-ticket">Submit and close the ticket</label>
                        </div>
                        <button class="btn btn-primary my-2" type="button" onclick="SubmitTicket()">Submit message</button>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadSupportTicketComments();
    });

    function SubmitTicket() {
        let ticketClosed = $("#close-ticket").prop("checked");
        let result = AddSupportTicket($("#ticketDescription").val(), @Model.ID, !ticketClosed);
        if (result) {
            if (ticketClosed) {
                window.location.reload();
            }
            else {
                LoadSupportTicketComments();
            }

            $("#ticketDescription").val('');
        }
    }

    function LoadSupportTicketComments() {
        $.ajax({
            url: '@Url.Action(Actions.GetTicketComments, Controllers.cSupportTicket)',
            data: { ticketId: @Model.ID },
            type: 'Get',
            datatype: 'json',
            success: function (data) {
                var htmlString = ``;
                $.each(data, function (key, value) {
                    if (value.UserID == @ProjectSession.LoginUserID && value.RoleID == @ProjectSession.LoginRoleID) {
                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start" style="padding-left:50px;">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start border-top pt-4 mt-4" style="margin-left:50px;">`;
                        }
                    }
                    else {
                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start border-top pt-4 mt-4">`;
                        }
                    }

                    if (value.UserAvtarURL != null && value.UserAvtarURL != "") {
                        htmlString += `<img class="rounded-circle" src="${value.UserAvtarURL}" width="50" alt="${value.UserName}">`;
                    }
                    else {
                        htmlString += `<img class="rounded-circle" src='@Path.Combine(Configurations.ClientURL,"img/shop/account/avatar.jpg")' width="50" alt="${value.UserName}">`;
                    }

                    htmlString += `<div class="ps-3">
                                        <h6 class="fs-md mb-2">${value.UserName}</h6>
                                        <p class="fs-md mb-1">${value.Comment}</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>${value.SubmitDateStr} at ${value.SubmitTimeStr}</span>
                                    </div></div>`;
                });

                $('#commentArea').html(htmlString);
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to load ticket details.");
            }
        });
    }
</script>