﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Orders";
    ViewBag.ActiveMenuId = "Orders";
    Layout = "~/Views/Shared/_LayoutTraders.cshtml";
}

@Html.AntiForgeryToken()

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 text-center text-sm-start">Your orders</h2>

        <div class="row mx-n2 pt-2">
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Assigned / Pending Order</h3>
                    <p class="h2 mb-0" id="labelUnAssignedOrder"></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">In Progress</h3>
                    <p class="h2 mb-0" id="labelInProgressOrder"></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Delivered <small>(Last 7 days)</small></h3>
                    <p class="h2 mb-0"id="labelDeliverdOrder7Days" ></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 border p-0 m-0">
                <div class="table-responsive table-card">
                    <table class="table" id="TBLOrder" width="100">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Sign in / sign up modal-->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab"
                           aria-selected="true"><i class="ti-unlocked me-2 mt-n1"></i>Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab"
                           aria-selected="false"><i class="ti-user me-2 mt-n1"></i>Sign up</a>
                    </li>
                </ul>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
                <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
                    <div class="mb-3">
                        <label class="form-label" for="si-email">Email address</label>
                        <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
                        <div class="invalid-feedback">Please provide a valid email address.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="si-password">Password</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="si-password" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 d-flex flex-wrap justify-content-between">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="si-remember">
                            <label class="form-check-label" for="si-remember">Remember me</label>
                        </div><a class="fs-sm" href="#">Forgot password?</a>
                    </div>
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                </form>
                <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
                    <div class="mb-3">
                        <label class="form-label" for="su-name">Full name</label>
                        <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
                        <div class="invalid-feedback">Please fill in your name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="su-email">Email address</label>
                        <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
                        <div class="invalid-feedback">Please provide a valid email address.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password">Password</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password-confirm">Confirm password</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password-confirm" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Order Details Modal -->
<div class="modal fade" id="orderDetails" tabindex="-1" aria-labelledby="orderDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row fs-sm">
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order ID</div>
                        <div>
                            <span>#GH451254</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Date</div>
                        <div>
                            <span>28/05/2020</span>
                            <span>10:00 AM</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Total Payment</div>
                        <div>
                            <span>$450</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Payment</div>
                        <div>
                            <div class="badge bg-success border p-2">Paid</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Status</div>
                        <div>
                            <div class="badge bg-info border p-2">In-process</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Last Updated</div>
                        <div>
                            <span>30/05/2020</span>
                            <span>12:35 AM</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Customer Name</div>
                        <div>
                            <span>Bharat Ribadiya</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted mb-1">Shipment to</div>
                        <div>
                            <span>Box No. 65438, Mishui Avenue</span>
                            <span>Gaomi City</span><br>
                            <span>Ahmedabad</span>
                            <span>Gujarat</span>
                            <span>India </span>-
                            <span>380058</span>
                        </div>
                    </div>
                </div>
                <div class="row border-top pt-3">
                    <div class="col-12">
                        <div class="table-card table-responsive fs-sm">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="col-3">Product Name</th>
                                        <th class="col-2">Rate</th>
                                        <th class="col-1">QTY</th>
                                        <th class="col-2 text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-3">Supreme Yellow Merigold</td>
                                        <td class="col-2 text-center">$50.00</td>
                                        <td class="col-1 text-center">10</td>
                                        <td class="col-2 text-end">$500.00</td>
                                    </tr>
                                    <tr>
                                        <td>VNR Chilli 145 VR</td>
                                        <td class="text-center">$120.00</td>
                                        <td class="text-center">10</td>
                                        <td class="text-end">$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>Lucky Coliflower Seeds</td>
                                        <td class="text-center">$450.00</td>
                                        <td class="text-center">1</td>
                                        <td class="text-end">$450.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Sub Total:</strong></td>
                                        <td class="text-end fw-medium">$2150.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Tax:</strong></td>
                                        <td class="text-end fw-medium">$215.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Total:</strong></td>
                                        <td class="text-end fw-medium">$2365.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row border-top mt-3 pt-3">
                    <div class="col-12">
                        <div class="timeline-item done">
                            <h6 class="fs-sm fw-medium">Ordered Received</h6>
                            <div>
                                <p class="text-muted fs-sm mb-0 lh-1">Your have received order</p>
                                <span class="text-muted fs-xs">20-07-2021 - 8:45PM</span>
                            </div>
                        </div>

                        <div class="timeline-item done">
                            <h6 class="fs-sm fw-medium">Out for delivery</h6>
                            <div>
                                <p class="text-muted fs-sm mb-0 lh-1">Your item is out for delivery</p>
                                <span class="text-muted fs-xs">20-07-2021 - 8:45PM</span>
                            </div>
                        </div>
                        <div class="timeline-item done">
                            <h6 class="fs-sm fw-medium">Delivered</h6>
                            <div>
                                <p class="text-muted fs-sm mb-0 lh-1">Your item has been deliver.</p>
                                <span class="text-muted fs-xs">20-07-2021 - 8:45PM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Order Details Modal -->
<div class="modal fade" id="customerDetails" tabindex="-1" aria-labelledby="customerDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailsLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Name</div>
                        <div>
                            <span class="fw-medium">Bharat Ribadiya</span>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Address</div>
                        <div>
                            <span class="fw-medium">Box No. 65438, Mishui Avenue</span>
                            <span class="fw-medium">Gaomi City</span><br>
                            <span class="fw-medium">Ahmedabad</span>
                            <span class="fw-medium">Gujarat</span>
                            <span class="fw-medium">India </span>-
                            <span class="fw-medium">380058</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Email</div>
                        <div>
                            <span class="fw-medium">bharatribadiya036@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Phone</div>
                        <div>
                            <span class="fw-medium">9904187041</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Alternate Phone</div>
                        <div>
                            <span class="fw-medium">9904187145</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Customer Since</div>
                        <div>
                            <span class="fw-medium">18/04/2018</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Orders</div>
                        <div>
                            <span class="fw-medium">20</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Last Order</div>
                        <div>
                            <span class="fw-medium">18/04/2018</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Totdal Sales</div>
                        <div>
                            <span class="fw-medium">$1500</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Update Status Modal -->
<div class="modal fade" id="updateStatusModal" tabindex="-1" aria-labelledby="updateStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateStatusModalLabel">Update Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row fs-sm">
                    <div class="col-auto">
                        <div class="form-group mb-3">
                            <label for="orderStatusUpdate" class="form-label">Order Status</label>
                            <select class="form-select" id="orderStatusUpdate">
                                <option>Confirm</option>
                                <option>Awaiting Shipment</option>
                                <option>Shipped</option>
                                <option>Out for delivery</option>
                                <option>Deliverd</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label class="form-label" for="orderUpdateComment">Comment</label>
                            <textarea class="form-control" id="orderUpdateComment" rows="3" placeholder="Enter your comment here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary fw-medium">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Comments Modal -->
<div class="modal fade" id="commentsModal" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentsModalLabel">Comments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Comment-->
                <div class="d-flex align-items-start pb-4 border-bottom">
                    <img class="rounded-circle" src="img/testimonials/03.jpg" width="50" alt="Michael Davis">
                    <div class="ps-3">
                        <h6 class="fs-md mb-2">Michael Davis</h6>
                        <p class="fs-md mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat cupidatat non proident, sunt in culpa qui.</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>Sep 30, 2021 at 11:05AM</span>
                    </div>
                </div>
                <!-- Comment reply-->
                <div class="d-flex align-items-start py-4 border-bottom">
                    <img class="rounded-circle" src="img/testimonials/03.jpg" width="50" alt="Michael Davis">
                    <div class="ps-3">
                        <h6 class="fs-md mb-2">Michael Davis</h6>
                        <p class="fs-md mb-1">Sed elementum tempus egestas sed sed. Aliquam faucibus purus in massa tempor nec feugiat. Interdum varius sit amet mattis. Magna ac placerat vestibulum lectus mauris. Magna fringilla urna porttitor rhoncus dolor purus non. Urna et pharetra pharetra massa massa ultricies mi quis.</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>Sep 28, 2021 at 10:00AM</span>
                        <!-- Comment-->
                        <div class="d-flex align-items-start border-top pt-4 mt-4">
                            <img class="rounded-circle" src="img/testimonials/04.jpg" width="50" alt="Susan Gardner">
                            <div class="ps-3">
                                <h6 class="fs-md mb-2">Susan Gardner</h6>
                                <p class="fs-md mb-1">Egestas sed sed risus pretium quam vulputate dignissim. A diam sollicitudin tempor id eu nisl. Ut porttitor leo a diam. Bibendum at varius vel pharetra vel turpis nunc.</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>Sep 27, 2021 at 6:30PM</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comment reply-->
                <div class="d-flex align-items-start py-4 border-bottom">
                    <img class="rounded-circle" src="img/testimonials/03.jpg" width="50" alt="Michael Davis">
                    <div class="ps-3">
                        <h6 class="fs-md mb-2">Michael Davis</h6>
                        <p class="fs-md mb-1">Sed elementum tempus egestas sed sed. Aliquam faucibus purus in massa tempor nec feugiat. Interdum varius sit amet mattis. Magna ac placerat vestibulum lectus mauris. Magna fringilla urna porttitor rhoncus dolor purus non. Urna et pharetra pharetra massa massa ultricies mi quis.</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>Sep 28, 2021 at 10:00AM</span>
                        <!-- Comment-->
                        <div class="d-flex align-items-start border-top pt-4 mt-4">
                            <img class="rounded-circle" src="img/testimonials/04.jpg" width="50" alt="Susan Gardner">
                            <div class="ps-3">
                                <h6 class="fs-md mb-2">Susan Gardner</h6>
                                <p class="fs-md mb-1">Egestas sed sed risus pretium quam vulputate dignissim. A diam sollicitudin tempor id eu nisl. Ut porttitor leo a diam. Bibendum at varius vel pharetra vel turpis nunc.</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>Sep 27, 2021 at 6:30PM</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <form class="needs-validation" novalidate>
                        <div class="mb-3">
                            <textarea class="form-control" rows="3" placeholder="Write your message here..." required></textarea>
                            <div class="invalid-tooltip">Please write the message!</div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-end align-items-center">
                            <button class="btn btn-primary my-2" type="submit">Submit message</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function () {
         OrderTBL.init();
         UpdateOrderMetaData();

    });

    var OrderTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLOrder');

           var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": true,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindOrders, Controllers.TOrder)',
                    type: "post",
                    data: addRequestVerificationToken({ customerName:$("#customerName").val(), traderName:$("#assignTo").val(), Status:$("#filterOrderStatus").val() })
                },
                "columns": [
                    {
                        "title": "Order ID",
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0);" onclick="showOrderDetails(' + row["ID"] + ')">' + row["OrderId"]+'</a>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Customer Name",
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0);" onclick="showCustomerDetails(' + row["CustomerID"] + ')">' + row["CustomerName"]+'</a>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Order Date",
                        "data": null,
                        "render": function (data, type, row) {
                            return row["OrderDateStr"] + '<br><span class="fs-sm text-muted">' + row["OrderTimeStr"]+'</span>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Total Amount", "data": "FinalAmount",
                        "render": function (data, type, row) {
                            return '<div class="fw-medium">$'+data+'</div>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Payment",
                        "data": "PaymentTypes",
                        "render": function (data, type, row) {
                            switch (data) {
                                case @((int)PaymentStatus.COD):
                                    return '<div class="badge bg-secondary border p-2">COD</div>';
                                case @((int)PaymentStatus.Paid):
                                    return '<div class="badge bg-success border p-2">Paid</div>';
                                default:
                                    return '<div>-</div>';
                            }
                        },
                        "orderable": false
                    },
                    {
                        "title": "Status",
                        "data": "Status",
                        "render": function (data, type, row) {
                            switch (data) {
                                case @((int)OrderStatus.Assigned):
                                    return '<div class="badge bg-light border p-2">Assigned</div>';
                                case @((int)OrderStatus.Fulfilled):
                                    return '<div class="badge bg-info p-2">Fulfilled</div>';
                                case @((int)OrderStatus.Delivered):
                                    return '<div class="badge bg-success p-2">Delivered</div>';
                                case @((int)OrderStatus.Delay):
                                    return '<div class="badge bg-warning p-2">Delay</div>';
                                case @((int)OrderStatus.Cancelled):
                                    return '<div class="badge bg-danger p-2">Cancelled</div>';
                                case @((int)OrderStatus.OutForDelivery):
                                    return '<div class="badge bg-primary p-2">Out for delivery</div>';
                                case @((int)OrderStatus.InProcess):
                                    return '<div class="badge bg-info p-2">In Process</div>';
                                case @((int)OrderStatus.UnAssigned):
                                    return '<div class="badge bg-dark p-2">Un-Assigned</div>';
                                default:
                                    return '<div>-</div>';
                            }
                        },
                        "orderable": false
                    },
                    {
                        "title": "Comments",
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0);" onclick="showOrderComments(' + row["ID"] + ')" class="d-flex align-items-center text-reset"><i class="ti-message"></i><span class="ms-1 fs-sm">' + row["NoOfComment"] +'</span></a>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "Action",
                        "data": null,
                        "render": function (data, type, row) {
                            var htmldata = `
                                            <td><a class="btn btn-secondary" href="javascript:void(0);" onclick="showOrderDetails(` + row["ID"] + `)">View</a></td>`;
                            return htmldata;
                        },
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                "dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLOrder")) {
                    $('#TBLOrder').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();

    function showOrderDetails(orderId) {
        $.ajax({
            url: '@Url.Action(Actions.GetOrderDetail, Controllers.TOrder)',
            data: addRequestVerificationToken({ Id: orderId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                let htmlString = `<div class="row fs-sm">
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order ID</div>
                        <div>
                            <span>#${data.OrderId}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Date</div>
                        <div>
                            <span>${data.OrderDateStr}</span>
                            <span>${data.OrderTimeStr}</span>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Total Payment</div>
                        <div>
                            <span>$${data.FinalAmount}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Payment</div>
                        <div>`;
                            switch (data.PaymentTypes) {
                                case @((int)PaymentStatus.COD):
                                    htmlString += `<div class="badge bg-secondary border p-2">COD</div>`;
                                    break;
                                case @((int)PaymentStatus.Paid):
                                    htmlString += '<div class="badge bg-success border p-2">Paid</div>';
                                    break;
                                default:
                                    htmlString += '<div>-</div>';
                                    break;
                            }
        htmlString += `</div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Order Status</div>
                        <div>`;
                            switch (data.Status) {
                                case @((int)OrderStatus.Assigned):
                                    htmlString += '<div class="badge bg-light border p-2">Assigned</div>';
                                    break;
                                case @((int)OrderStatus.Fulfilled):
                                    htmlString += '<div class="badge bg-info p-2">Fulfilled</div>';
                                    break;
                                case @((int)OrderStatus.Delivered):
                                    htmlString += '<div class="badge bg-success p-2">Delivered</div>';
                                    break;
                                case @((int)OrderStatus.Delay):
                                    htmlString += '<div class="badge bg-warning p-2">Delay</div>';
                                    break;
                                case @((int)OrderStatus.Cancelled):
                                    htmlString += '<div class="badge bg-danger p-2">Cancelled</div>';
                                    break;
                                case @((int)OrderStatus.OutForDelivery):
                                    htmlString += '<div class="badge bg-primary p-2">Out for delivery</div>';
                                    break;
                                case @((int)OrderStatus.InProcess):
                                    htmlString += '<div class="badge bg-info p-2">In Process</div>';
                                    break;
                                case @((int)OrderStatus.UnAssigned):
                                    htmlString += '<div class="badge bg-dark p-2">Un-Assigned</div>';
                                    break;
                                default:
                                    htmlString += '<div>-</div>';
                                    break;
                            }
                htmlString += `</div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Last Updated</div>
                        <div>
                            <span>${data.UpdatedDateStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-3">
                        <div class="text-muted mb-1">Customer Name</div>
                        <div>
                            <span>${data.CustomerName}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted mb-1">Shipment to</div>
                        <div>
                            ${data.ShipmentAddressStr}
                        </div>
                    </div>
                </div>`;

                // Order details table
                htmlString += `<div class="row border-top pt-3">
                    <div class="col-12">
                        <div class="table-card table-responsive fs-sm">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="col-3">Product Name</th>
                                        <th class="col-2">Rate</th>
                                        <th class="col-1">QTY</th>
                                        <th class="col-2 text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>`;

                $.each(data.OrderDetails, function (key, product) {
                    htmlString += `<tr>
                                        <td class="col-3">${product.ProductName}</td>
                                        <td class="col-2 text-center">$${product.Rate}</td>
                                        <td class="col-1 text-center">${product.Quantity}</td>
                                        <td class="col-2 text-end">$${product.Amount}</td>
                                    </tr>`;
                });
                htmlString += `<tr>
                                        <td colspan="3" class="text-end"><strong>Sub Total:</strong></td>
                                        <td class="text-end fw-medium">$${data.TotalAmount}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Tax:</strong></td>
                                        <td class="text-end fw-medium">$${data.TaxAmount}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-end"><strong>Total:</strong></td>
                                        <td class="text-end fw-medium">$${data.FinalAmount}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>`;

                // Order Timeline
                htmlString += `<div class="row border-top mt-3 pt-3">
                    <div class="col-12">`;

                $.each(data.OrderTimeline, function (key, timeline) {
                    htmlString += `<div class="timeline-item done">`;
                    switch (timeline.Status) {
                                case @((int)OrderStatus.Assigned):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Assigned</h6>';
                                    break;
                                case @((int)OrderStatus.Fulfilled):
                                    htmlString += '<h6 class="fs-sm fw-medium">Fulfilled order by trader</h6>';
                                    break;
                                case @((int)OrderStatus.Delivered):
                                    htmlString += '<h6 class="fs-sm fw-medium">Delivered</h6>';
                                    break;
                                case @((int)OrderStatus.Delay):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Delayed</h6>';
                                    break;
                                case @((int)OrderStatus.Cancelled):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Cancelled</h6>';
                                    break;
                                case @((int)OrderStatus.OutForDelivery):
                                    htmlString += '<h6 class="fs-sm fw-medium">Out for delivery</h6>';
                                    break;
                                case @((int)OrderStatus.InProcess):
                                    htmlString += '<h6 class="fs-sm fw-medium">In process</h6>';
                                    break;
                                case @((int)OrderStatus.UnAssigned):
                                    htmlString += '<h6 class="fs-sm fw-medium">Order Received</h6>';
                                    break;
                                default:
                                    htmlString += '<h6 class="fs-sm fw-medium">Unknown status</h6>';
                                    break;
                    }

                    htmlString += `<div>
                                <p class="text-muted fs-sm mb-0 lh-1">${timeline.Note}</p>
                                <span class="text-muted fs-xs">${timeline.SubmitDateStr} - ${timeline.SubmitTimeStr}</span>
                            </div>
                        </div>`;
                });

                htmlString += `</div></div>`;

                $('#orderDetails .modal-body').html(htmlString);
                $('#orderDetails').modal('show');
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to get order details.");
            }
        });
    }

     function UpdateOrderMetaData() {
        $.ajax({
            url: '@Url.Action(Actions.GetOrderMetaData, Controllers.TOrder)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $('#labelUnAssignedOrder').text(data.TotalUnassignedOrder);
                $('#labelInProgressOrder').text(data.TotalInProgressOrder);
                $('#labelDeliverdOrder7Days').text(data.TotalDeliveredOrderPast7Day);
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to get order details.");
            }
        });

        UpdateGeneralMetaData();
    }

    function showCustomerDetails(CustomerId) {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerDetail, Controllers.Customers)',
            data: addRequestVerificationToken({ customerId: CustomerId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                $('#customerDetails .modal-body').html(`<div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Name</div>
                        <div>
                            <span class="fw-medium">${data.Name}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Address</div>
                        <div>
                            <span class="fw-medium">${data.AddressString}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Email</div>
                        <div>
                            <span class="fw-medium">${data.Email}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Phone</div>
                        <div>
                            <span class="fw-medium">${data.Phone}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Customer Since</div>
                        <div>
                            <span class="fw-medium">${data.CreatedDateStr}</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Orders</div>
                        <div>
                            <span class="fw-medium">${data.TotalOrders}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Last Order</div>
                        <div>
                            <span class="fw-medium">${data.LastOrderDateStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Sales</div>
                        <div>
                            <span class="fw-medium">$${data.TotalSales}</span>
                        </div>
                    </div>
                </div>`);

                    $('#customerDetails').modal('show');
            },
            error: function () { }
        });
    }

    function showTraderDetails(TraderId) {
        $.ajax({
            url: '@Url.Action(Actions.GetTraderDetail, Controllers.TOrder)',
            data: addRequestVerificationToken({ traderId: TraderId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                $('#traderDetails .modal-body').html(`<div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Name</div>
                        <div>
                            <span class="fw-medium">${data.FirstName} ${data.LastName}</span>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Address</div>
                        <div>
                            <span class="fw-medium">${data.Address1}</span>
                            <span class="fw-medium">${data.Address2}</span><br>
                            <span class="fw-medium">${data.City}</span>
                            <span class="fw-medium">${data.Pincode}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Email</div>
                        <div>
                            <span class="fw-medium">${data.EmailID}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Phone</div>
                        <div>
                            <span class="fw-medium">${data.MobileNo}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Customer Since</div>
                        <div>
                            <span class="fw-medium">${data.CreatedDateStr}</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Orders</div>
                        <div>
                            <span class="fw-medium">${data.TotalOrders}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Last Order</div>
                        <div>
                            <span class="fw-medium">${data.LastOrderDateStr}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Sales</div>
                        <div>
                            <span class="fw-medium">$${data.TotalSales}</span>
                        </div>
                    </div>
                </div>`);
                $('#traderDetails').modal('show');
            },
            error: function () { }
        });
    }

    function showOrderComments(orderId) {
        $.ajax({
            url: '@Url.Action(Actions.GetOrderComments, Controllers.TOrder)',
            data: addRequestVerificationToken({ OrderId: orderId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                var htmlString = ``;
                //let first = true;
                $.each(data, function (key, value) {
                    if (value.UserID == @ProjectSession.LoginUserID && value.RoleID == @ProjectSession.LoginRoleID) {
                        @*if (first == false) {
                            htmlString += `</div></div>`;
                            first = true;
                        }

                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start pb-4 mt-4 border-top">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start pt-4 pb-4 mt-4 border-top">`;
                        }

                        if (value.UserAvtarURL != null && value.UserAvtarURL != "") {
                            htmlString += `<img class="rounded-circle" src="${value.UserAvtarURL}" width="50" alt="${value.UserName}">`;
                        }
                        else {
                            htmlString += `<img class="rounded-circle" src='@Path.Combine(Configurations.ClientURL,"img/shop/account/avatar.jpg")' width="50" alt="${value.UserName}">`;
                        }
                        htmlString += `<div class="ps-3">
                                            <h6 class="fs-md mb-2">${value.UserName}</h6>
                                            <p class="fs-md mb-1">${value.Message}</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>${value.SubmitDateStr} at ${value.SubmitTimeStr}</span>`;

                        first = false;*@

                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start" style="padding-left:50px;">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start border-top pt-4 mt-4" style="margin-left:50px;">`;
                        }
                    }
                    else {
                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start border-top pt-4 mt-4">`;
                        }
                    }

                    if (value.UserAvtarURL != null && value.UserAvtarURL != "") {
                        htmlString += `<img class="rounded-circle" src="${value.UserAvtarURL}" width="50" alt="${value.UserName}">`;
                    }
                    else {
                        htmlString += `<img class="rounded-circle" src='@Path.Combine(Configurations.ClientURL,"img/shop/account/avatar.jpg")' width="50" alt="${value.UserName}">`;
                    }
                    htmlString += `<div class="ps-3">
                                        <h6 class="fs-md mb-2">${value.UserName}</h6>
                                        <p class="fs-md mb-1">${value.Message}</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>${value.SubmitDateStr} at ${value.SubmitTimeStr}</span>
                                    </div></div>`;
                });

                //if (htmlString != `` && first == false) {
                //    //htmlString += `</div></div>`;
                //}

                $('#commentsModal .modal-body').html(htmlString);
                $('#commentsModal #OrderId').val(orderId);
                $('#commentsModal').modal('show');
            },
            error: function () { }
        });
    }

    function showUpdateOrderStatus(orderId) {
        $('#updateStatusModal #OrderId').val(orderId);
        $('#updateStatusModal').modal('show');
    }

    function UpdateOrderStatus() {
        var orderId = $('#updateStatusModal #OrderId').val();
        if (orderId === NaN || orderId === "") {
            ShowMessageToastr("danger", "Failed to update order status.");
            return false;
        }

        var statusId = $('#updateStatusModal #orderStatusUpdate').val();
        if (statusId === NaN || statusId === "") {
            ShowMessageToastr("warning", "Please select order status.");
            return false;
        }

        $.ajax({
            url: '@Url.Action(Actions.UpdateOrderStatus, Controllers.TOrder)',
            data: addRequestVerificationToken({ orderId: orderId, statusId: statusId, comment: $('#orderUpdateComment').val()}),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == 1) {
                    ShowMessageToastr("success", 'Order status updated successfully.');
                    $('#updateStatusModal').modal('hide');
                    UpdateOrderMetaData();
                }
                else {
                    ShowMessageToastr("danger","Failed to update order status.");
                }
                $('#TBLOrder').DataTable().ajax.reload();
            },
            error: function () {
                ShowMessageToastr("danger","Failed to update order status.");
                $('#TBLOrder').DataTable().ajax.reload();
            }
        });
    }

    function showAssignOrder(orderId) {
        $('#assignOrderModal #OrderId').val(orderId);

        var select = $("#assignOrderModal #AssignTo");
        select.empty();

        $.ajax({
            url: '@Url.Action(Actions.BindTrader, Controllers.TOrder)',
            type: 'post',
            dataType: 'json',
            data: addRequestVerificationToken({ }),
            success: function (data) {
                select.empty();
                select.children().remove();

                $(data).each(function (index, item) {
                    select.append($("<option>").val(item.Value).text(item.Text));
                });

                select.selectpicker('refresh');
            },
            error: function (ex) {
                ShowMessageToastr("danger", "oops! error occurred. please try again...");
            }
        });

        $('#assignOrderModal').modal('show');
    }

    function AssignOrder() {
        var orderId = $('#assignOrderModal #OrderId').val();
        if (orderId === NaN || orderId === "") {
            ShowMessageToastr("danger", "Failed to assign order.");
            return false;
        }

        var traderId = $('#assignOrderModal #AssignTo').val();
        if (traderId === NaN || traderId === "") {
            ShowMessageToastr("warning", "Please select assign to.");
            return false;
        }

        $.ajax({
            url: '@Url.Action(Actions.AssignOrder, Controllers.TOrder)',
            data: addRequestVerificationToken({ orderId: orderId, traderId: traderId }),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == 1) {
                    ShowMessageToastr("success", 'Order assigned successfully.');
                    $('#assignOrderModal').modal('hide');
                    UpdateOrderMetaData();
                }
                else {
                    ShowMessageToastr("danger","Failed to assign order.");
                }
                $('#TBLOrder').DataTable().ajax.reload();
            },
            error: function () {
                ShowMessageToastr("danger","Failed to assign order.");
                $('#TBLOrder').DataTable().ajax.reload();
            }
        });
    }

    function CancelOrder(orderId) {
        $.ajax({
            url: '@Url.Action(Actions.UpdateOrderStatus, Controllers.TOrder)',
            data: addRequestVerificationToken({ orderId: orderId, statusId: @((int)OrderStatus.Cancelled), comment: ""}),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == 1) {
                    ShowMessageToastr("success", 'Order cancelled successfully.');
                    $('#updateStatusModal').modal('hide');
                    UpdateOrderMetaData();
                }
                else {
                    ShowMessageToastr("danger","Failed to cancel order.");
                }
                $('#TBLOrder').DataTable().ajax.reload();
            },
            error: function () {
                ShowMessageToastr("danger","Failed to cancel order.");
                $('#TBLOrder').DataTable().ajax.reload();
            }
        });
    }

    function AddOrderComment() {
        var orderId = $('#commentsModal #OrderId').val();
        if (orderId === NaN || orderId === "") {
            ShowMessageToastr("danger", "Failed to add order comment.");
            return false;
        }

        var Comment = $('#commentsModal #Comment').val();
        if (Comment === NaN || Comment === "") {
            ShowMessageToastr("warning", "Please write the message.");
            $('#commentsModal #Comment').focus();
            return false;
        }

        $.ajax({
            url: '@Url.Action(Actions.AddOrderComment, Controllers.TOrder)',
            data: addRequestVerificationToken({ orderId: orderId, comment: Comment}),
            type: 'POST',
            datatype: 'multipart/form-data',
            success: function (data) {
                if (data == 1) {
                    ShowMessageToastr("success", 'Order comment updated successfully.');
                    $('#commentsModal').modal('hide');
                }
                else {
                    ShowMessageToastr("danger","Failed to update order comment.");
                }
                $('#TBLOrder').DataTable().ajax.reload();
            },
            error: function () {
                ShowMessageToastr("danger","Failed to update order comment.");
                $('#TBLOrder').DataTable().ajax.reload();
            }
        });
    }
</script>