﻿
@{
    ViewBag.Title = "Reports";
    ViewBag.ActiveMenuId = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">Reports</h2>
        <div class="row text-center">
            <div class="col-xl-4 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="">Sales Reports</h5>
                        <p class="mb-5 text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <button class="btn btn-primary" data-bs-target="#generatesalesReports" data-bs-toggle="modal" type="button">Generate Report</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="">Trader Reports</h5>
                        <p class="mb-5 text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <button class="btn btn-primary" data-bs-target="#generatetraderReports" data-bs-toggle="modal" type="button">Generate Report</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="">Customer Reports</h5>
                        <p class="mb-5 text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <button class="btn btn-primary" data-bs-target="#generatecustomerReports" data-bs-toggle="modal" type="button">Generate Report</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="modal fade" id="generatesalesReports" tabindex="-1" aria-labelledby="generateReportsLabel" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateReportsLabel">Generate Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="drpsale" onchange="SetSaleReportLink()">
                    <option value="0" selected>Select a option</option>
                    <option value="1">This Month</option>
                    <option value="2">Last Month</option>
                    <option value="3">Last 3 Months</option>
                    <option value="4">Last Year</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="" id="btnsalesdownload">Download Report</a>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generatetraderReports" tabindex="-1" aria-labelledby="generateReportsLabel" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateReportsLabel">Generate Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="drptrader" onchange="SetTraderReportLink()">
                    <option selected value="0">Select a option</option>
                    <option value="1">This Month</option>
                    <option value="2">Last Month</option>
                    <option value="3">Last 3 Months</option>
                    <option value="4">Last Year</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href='' id="btntraderdownload">Download Report</a>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generatecustomerReports" tabindex="-1" aria-labelledby="generateReportsLabel" aria-hidden="true">
    <div class="modal-dialog  modal-fullscreen-md-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateReportsLabel">Generate Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" id="drpcustomer" onchange="SetCustomerReportLink()">
                    <option value="0" selected>Select a option</option>
                    <option value="1">This Month</option>
                    <option value="2">Last Month</option>
                    <option value="3">Last 3 Months</option>
                    <option value="4">Last Year</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href='/Report/DownloadReport?type=3' id="btncustomerdownload">Download Report</a>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnsalesdownload").click(function () {
            if ($("#drpsale").val() == 0) {
                $("#btnsalesdownload").attr("href", "#!");
                ShowMessageToastr("danger", "Please select time.");
            }
        });
        $("#btntraderdownload").click(function () {
            if ($("#drptrader").val() == 0) {
                $("#btntraderdownload").attr("href", "#!");
                ShowMessageToastr("danger", "Please select time.");
            }
        });
        $("#btncustomerdownload").click(function () {
            if ($("#drpcustomer").val() == 0) {
                $("#btncustomerdownload").attr("href", "#!");
                ShowMessageToastr("danger", "Please select time.");
            }
        });
    });

    
    function SetSaleReportLink() {
        $("#btnsalesdownload").attr("taget", "_blank");
        $("#btnsalesdownload").attr("href", "/Report/DownloadReport?type=1&&period=" + $("#drpsale").val());
    }
    function SetTraderReportLink() {
        $("#btntraderdownload").attr("taget", "_blank");
        $("#btntraderdownload").attr("href", "/Report/DownloadReport?type=2&&period=" + $("#drptrader").val());
    }
    function SetCustomerReportLink() {
        $("#btncustomerdownload").attr("taget", "_blank");
        $("#btncustomerdownload").attr("href", "/Report/DownloadReport?type=3&&period=" + $("#drpcustomer").val());
    }
    
</script>