﻿
@{
    ViewBag.Title = "Transactions";
    ViewBag.ActiveMenuId = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">Transactions</h2>
        <div class="row">
            <div class="col-12 mb-3">
                <div class="input-group d-none d-lg-flex flex-nowrap">
                    <i class="ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input class="form-control rounded-start w-100" type="text" placeholder="Search for transactions ID">
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive table-card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Transactions ID</th>
                                <th>Amount</th>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">#101125</th>
                                <td>$4561</td>
                                <td><a href="" data-bs-toggle="modal" data-bs-target="#customerDetails">John Doe</a></td>
                                <td>09/27/2021, 10:45 PM</td>
                                <td><span class="badge bg-success m-0">Success</span></td>
                            </tr>
                            <tr>
                                <th scope="row">#101125</th>
                                <td>$4561</td>
                                <td><a href="" data-bs-toggle="modal" data-bs-target="#customerDetails">John Doe</a></td>
                                <td>09/27/2021, 10:45 PM</td>
                                <td><span class="badge bg-warning m-0">In Process</span></td>
                            </tr>
                            <tr>
                                <th scope="row">#101125</th>
                                <td>$4561</td>
                                <td><a href="" data-bs-toggle="modal" data-bs-target="#customerDetails">John Doe</a></td>
                                <td>09/27/2021, 10:45 PM</td>
                                <td><span class="badge bg-danger m-0">Faild</span></td>
                            </tr>
                            <tr>
                                <th scope="row">#101125</th>
                                <td>$4561</td>
                                <td><a href="" data-bs-toggle="modal" data-bs-target="#customerDetails">John Doe</a></td>
                                <td>09/27/2021, 10:45 PM</td>
                                <td><span class="badge bg-success m-0">Success</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Order Details Modal -->
<div class="modal fade" id="customerDetails" tabindex="-1" aria-labelledby="customerDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailsLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row fs-sm">
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Name</div>
                        <div>
                            <span class="fw-medium">Bharat Ribadiya</span>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <div class="text-muted fs-sm mb-1">Address</div>
                        <div>
                            <span class="fw-medium">Box No. 65438, Mishui Avenue</span>
                            <span class="fw-medium">Gaomi City</span><br>
                            <span class="fw-medium">Ahmedabad</span>
                            <span class="fw-medium">Gujarat</span>
                            <span class="fw-medium">India </span>-
                            <span class="fw-medium">380058</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Email</div>
                        <div>
                            <span class="fw-medium">bharatribadiya036@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Phone</div>
                        <div>
                            <span class="fw-medium">9904187041</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Alternate Phone</div>
                        <div>
                            <span class="fw-medium">9904187145</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Customer Since</div>
                        <div>
                            <span class="fw-medium">18/04/2018</span>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Total Orders</div>
                        <div>
                            <span class="fw-medium">20</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Last Order</div>
                        <div>
                            <span class="fw-medium">18/04/2018</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="text-muted fs-sm mb-1">Totdal Sales</div>
                        <div>
                            <span class="fw-medium">$1500</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

