﻿@using TopFarm.Pages
@using TopFarm.Common

@{
    /**/
    string avtarimgPath = null;
    string email = null;
    if (Request.Cookies["AdminUserLogin"] != null)
    {
        avtarimgPath = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["LoginUserImg"]);
        avtarimgPath = string.IsNullOrWhiteSpace(avtarimgPath) ? "img/shop/account/avatar.jpg" : avtarimgPath;
        avtarimgPath = Path.Combine(Configurations.ClientURL, avtarimgPath);
        email = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["LoginUserEmail"]);
    }
}

<aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
    <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
        <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
            <div class="d-md-flex align-items-center">
                <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0"
                     style="width: 6.375rem;">
                    <img class="rounded-circle"
                         src="@avtarimgPath" alt="@TopFarm.Common.ProjectSession.LoginUserName">
                </div>
                <div class="ps-md-3">
                    <h3 class="fs-base mb-0">@TopFarm.Common.ProjectSession.LoginUserName</h3><span class="text-accent fs-sm">@email</span>
                </div>
            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu"
                     data-bs-toggle="collapse" aria-expanded="false"><i class="ti-menu me-2"></i>Account menu</a>
        </div>
        <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary px-4 py-3">
                <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
            </div>
            <ul class="list-unstyled mb-0">
                <li class="border-bottom mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3 active"
                       id="Orders"
                       href="@Url.Action(Actions.Index, Controllers.cOrder)">
                        <i class="ti-bag opacity-60 me-2"></i>Orders<span class="fs-sm text-muted ms-auto">@Session["Order"]</span>
                    </a>
                </li>
                <li class="border-bottom mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3"
                       id="Wishlist"
                       href="@Url.Action(Actions.Index,Controllers.cWishlist)">
                        <i class="ti-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto">@Session["Wishlist"]</span>
                    </a>
                </li>
                <li class="mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3"
                       id="SupportTicket"
                       href="@Url.Action(Actions.Index,Controllers.cSupportTicket)">
                        <i class="ti-help opacity-60 me-2"></i>Support tickets<span class="fs-sm text-muted ms-auto">@Session["SupportTicket"]</span>
                    </a>
                </li>
            </ul>
            <div class="bg-secondary px-4 py-3">
                <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
            </div>
            <ul class="list-unstyled mb-0">
                <li class="border-bottom mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3"
                       id="CustomerProfile"
                       href="@Url.Action(Actions.Index,Controllers.CustomerProfile)"><i class="ti-user opacity-60 me-2"></i>Profile info</a>
                </li>
                <li class="border-bottom mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3"
                       id="CustomerAddress"
                       href="@Url.Action(Actions.Index,Controllers.CustomerAddress)"><i class="ti-location opacity-60 me-2"></i>Addresses</a>
                </li>
                <li class="mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3"
                       id="Payment"
                       href="account-payment.html"><i class="ti-card opacity-60 me-2"></i>Payment methods</a>
                </li>
                <li class="d-lg-none border-top mb-0">
                    <a class="nav-link-style d-flex align-items-center px-4 py-3"
                       href="@Url.Action(Actions.Logout,Controllers.Account)"><i class="ti-sign-out opacity-60 me-2"></i>Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<script>
    $(document).ready(function () {
            $('#account-menu li a.active').removeClass('active');
            $('#@ViewBag.ActiveMenuId').addClass('active');
        });
</script>