﻿@using TopFarm.Pages
@using TopFarm.Common

@{
    /**/
    string avtarimgPath = null;
    string Email = null;
    string Password = null;
    string Remember = null;

    if (Request.Cookies["AdminUserLogin"] != null)
    {
        avtarimgPath = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["LoginUserImg"]);
        avtarimgPath = string.IsNullOrWhiteSpace(avtarimgPath) ? "img/shop/account/avatar.jpg" : avtarimgPath;
        avtarimgPath = Path.Combine(Configurations.ClientURL, avtarimgPath);
    }

    if (Request.Cookies["remAdminUserLogin"] != null)
    {
        Email = Convert.ToString(Request.Cookies["remAdminUserLogin"].Values["LoginUserEmail"]);
        Password = Convert.ToString(Request.Cookies["remAdminUserLogin"].Values["LoginUserPassword"]);
        Remember = Convert.ToString(Request.Cookies["remAdminUserLogin"].Values["remember"]);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    @*<link rel="manifest" href="~/dist/site.webmanifest">*@
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/dist/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/drift-zoom/dist/drift-basic.min.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/lightgallery.js/dist/css/lightgallery.min.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/nouislider/distribute/nouislider.min.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/dist/css/theme.min.css">
    <link rel="stylesheet" href="~/Content/jqpaginator.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/datatables.min.css" />
    <link rel="stylesheet" href="~/Styles/toastr.min.css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Navbar-->
        <header class="shadow-sm">
            <!-- Topbar-->
            <div class="topbar topbar-dark bg-dark">
                <div class="container">
                    <div>
                        @*<!-- Language & Currency -->
                            <div class="topbar-text dropdown disable-autohide">
                                <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                    <img class="me-2" src="~/img/flags/en.png" width="20" alt="English">Eng / $
                                </a>
                                <ul class="dropdown-menu my-1">
                                    <li class="dropdown-item">
                                        <select class="form-select form-select-sm">
                                            <option value="usd">$ USD</option>
                                            <option value="eur">€ EUR</option>
                                            <option value="ukp">£ UKP</option>
                                            <option value="jpy">¥ JPY</option>
                                        </select>
                                    </li>
                                    <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="~/img/flags/fr.png" width="20" alt="Français">Français</a></li>
                                    <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="~/img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
                                    <li><a class="dropdown-item" href="#"><img class="me-2" src="~/img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
                                </ul>
                            </div>
                            <!-- Contact -->
                            <div class="topbar-text text-nowrap d-none d-md-inline-block border-start border-light ps-3 ms-3">
                                <span class="text-muted me-1">Available 24/7 at</span>
                                <a class="topbar-link" href="tel:00451297720">(00) 45 129 7720</a>
                            </div>*@
                    </div>
                    <div class="topbar-text dropdown d-md-none ms-auto">
                        <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Wishlist / Track</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="@Url.Action(Actions.Index, Controllers.cWishlist)"><i class="ti-heart text-muted me-2"></i>Wishlist (3)</a></li>
                            <li><a class="dropdown-item" href="order-tracking.html"><i class="ti-location text-muted me-2"></i>Order tracking</a></li>
                        </ul>
                    </div>
                    <div class="d-none d-md-block ms-3 text-nowrap">
                        @if (ProjectSession.LoginRoleID == 1 && ProjectSession.LoginUserID != 0)
                        {
                            <a class="topbar-link d-none d-md-inline-block" href="@Url.Action(Actions.Index, Controllers.cWishlist)">
                                <i class="ti-heart mt-n1"></i>Wishlist (@Session["wishlist"])
                            </a>
                            <a class="topbar-link ms-3 border-start border-light ps-3 d-none d-md-inline-block" href="#order-tracking" id="trackidlink" data-bs-toggle="modal">
                                <i class="ti-location mt-n1"></i>Order tracking
                            </a>
                        }
                        @*<a class="topbar-link ms-3 border-start border-light ps-3 d-none d-md-inline-block" href="order-tracking.html">
                                44
                            </a>*@
                    </div>
                </div>
            </div>
            <!-- Navbar -->
            <div class="navbar-sticky bg-light">
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand d-none d-sm-block me-3 flex-shrink-0" href="@Url.Action(Actions.Index, Controllers.Home)">
                            <img src="~/img/logo-dark.png" width="142" alt="">
                        </a>
                        <a class="navbar-brand d-sm-none me-2" href="@Url.Action(Actions.Index, Controllers.Home)">
                            <img src="~/img/logo-icon.png" width="74" alt="">
                        </a>
                        <!-- Search-->
                        <input type="hidden" id="prid">

                        <div class="input-group d-none d-lg-flex flex-nowrap mx-4">
                            <i class="ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>

                            <input class="form-control rounded-start w-100" type="text" placeholder="Search for products" id="searchPr" autocomplete="on">
                            <select class="form-select flex-shrink-0" style="width: 10.5rem;" id="pcateId">
                                <option value="0"> All Categories </option>

                                @foreach (var item in ViewBag.DDProductCategory)
                                {
                                    <option value="@item.Value">@item.Text</option>

                                }
                            </select>
                        </div>
                        <!-- Toolbar-->
                        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-tool navbar-stuck-toggler" href="#">
                                <span class="navbar-tool-tooltip">Toggle menu</span>
                                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-menu"></i></div>
                            </a>

                            @if (ProjectSession.LoginRoleID != 1)
                            {
                                <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
                                    <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-user"></i></div>
                                    <div class="navbar-tool-text ms-n3"><small>Hello, Sign in</small>My Account</div>
                                </a>
                            }
                            else
                            {
                                <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="@Url.Action(Actions.Index,Controllers.CustomerProfile)">
                                    <div class="navbar-tool-icon-box"><img class="rounded-circle" width="40" height="40" src="@avtarimgPath" alt="" /></div>
                                    <div class="navbar-tool-text ms-n2"><small>Welcome,</small>@TopFarm.Common.ProjectSession.LoginUserName</div>
                                </a>


                                <div class="navbar-tool ms-3 dropdown">
                                    <a href="@Url.Action(Actions.Notification, Controllers.Home)" class="navbar-tool-icon-box bg-secondary" type="button">
                                        <span class="navbar-tool-label">@Session["Notification"]</span>
                                        <i class="navbar-tool-icon ti-bell"></i>
                                    </a>
                                </div>
                                <div class="navbar-tool ms-3">
                                    <a class="navbar-tool-icon-box bg-secondary" href="@Url.Action(Actions.Index, Controllers.cCart)">
                                        <span class="navbar-tool-label">@Session["cart"]</span>
                                        <i class="navbar-tool-icon ti-cart"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-expand-lg make-menu-offcanvas navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <a class="nav-link fs-sm d-lg-none" href="#" data-bs-toggle="offcanvas" data-bs-target="#navbarCollapse" role="tab">
                                <i class="ti-close fs-xs me-2"></i>Close
                            </a>

                            <!-- Search-->
                            <div class="input-group d-lg-none my-3">
                                <i class="ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                                <input class="form-control rounded-start" type="text" placeholder="Search for products">
                            </div>

                            <!-- Primary menu-->
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action(Actions.Index, Controllers.Home)">Home</a>
                                </li>
                                @foreach (var item in ViewBag.DDProductCategory)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action(Actions.ShopGrid, Controllers.Home, new { categoryId = item.Value })"> @item.Text</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="needs-validation modal fade" method="post" id="order-tracking" tabindex="-1" novalidate>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Order List</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="orderList"></div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
        @RenderBody()

        <!-- Footer-->
        <footer class="bg-dark pt-5">
            <div class="container">
                <div class="row pb-2">
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links widget-light pb-2 mb-4">
                            <h3 class="widget-title text-light">Shop departments</h3>
                            <ul class="widget-list">
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Seeds</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Pesticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Biological Control</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Insecticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Insecticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Bio Pesticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Herbicides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Equipments</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Agricultural Equipments</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Organic Products</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Care & Hygiene</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Nursery Garden</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links widget-light pb-2 mb-4">
                            <h3 class="widget-title text-light">Account &amp; shipping info</h3>
                            <ul class="widget-list">
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Your account</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping rates &amp; policies</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Refunds &amp; replacements</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Order tracking</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Delivery info</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; fees</a></li>
                            </ul>
                        </div>
                        <div class="widget widget-links widget-light pb-2 mb-4">
                            <h3 class="widget-title text-light">About us</h3>
                            <ul class="widget-list">
                                <li class="widget-list-item"><a class="widget-list-link" href="#">About company</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Our team</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget pb-2 mb-4">
                            <h3 class="widget-title text-light pb-1">Stay informed</h3>
                            <form>
                                <div class="input-group flex-nowrap">
                                    <i class="ti-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                                    <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Your email" required>
                                    <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
                                </div>
                                <div class="form-text text-light opacity-50">*Subscribe to our newsletter to receive early discount offers, updates and new products info.</div>
                                <div class="subscription-status"></div>
                            </form>
                        </div>
                        <div class="widget pb-2 mb-4">
                            <h3 class="widget-title text-light pb-1">Download our app</h3>
                            <div class="d-flex flex-wrap">
                                <div class="me-2 mb-2">
                                    <a class="btn-market btn-apple" href="#" role="button">
                                        <span class="btn-market-subtitle">Download on the</span>
                                        <span class="btn-market-title">App Store</span>
                                    </a>
                                </div>
                                <div class="mb-2">
                                    <a class="btn-market btn-google" href="#" role="button">
                                        <span class="btn-market-subtitle">Download on the</span>
                                        <span class="btn-market-title">Google Play</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-5 bg-darker">
                <div class="container">
                    <div class="row pb-3">
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-rocket text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">Fast and free delivery</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">Free delivery for all orders over $200</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">Money back guarantee</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">We return money within 30 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-support text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">24/7 customer support</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">Friendly 24/7 customer support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-card text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">Secure online payment</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-light mb-5">
                    <div class="row pb-2">
                        <div class="col-md-6 text-center text-md-start mb-4">
                            <div class="text-nowrap mb-4">
                                <a class="d-inline-block align-middle mt-n1 me-3" href="#">
                                    <img class="d-block" src="~/img/footer-logo-light.png" width="117" alt="">
                                </a>
                                <div class="btn-group dropdown disable-autohide">
                                    <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-bs-toggle="dropdown">
                                        <img class="me-2" src="~/img/flags/en.png" width="20" alt="English">Eng / $
                                    </button>
                                    <ul class="dropdown-menu my-1">
                                        <li class="dropdown-item">
                                            <select class="form-select form-select-sm">
                                                <option value="usd">$ USD</option>
                                                <option value="eur">€ EUR</option>
                                                <option value="ukp">£ UKP</option>
                                                <option value="jpy">¥ JPY</option>
                                            </select>
                                        </li>
                                        <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="~/img/flags/fr.png" width="20" alt="Français">Français</a></li>
                                        <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="~/img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
                                        <li><a class="dropdown-item" href="#"><img class="me-2" src="~/img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget widget-links widget-light">
                                <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Outlets</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Affiliates</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms of use</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-center text-md-end mb-4">
                            <div class="mb-3">
                                <a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#">
                                    <i class="ti-twitter"></i>
                                </a>
                                <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#">
                                    <i class="ti-instagram"></i>
                                </a>
                                <a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#">
                                    <i class="ti-pinterest"></i>
                                </a>
                                <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#">
                                    <i class="ti-youtube"></i>
                                </a>
                            </div>
                            <img class="d-inline-block" src="~/img/cards-alt.png" width="187" alt="Payment methods">
                        </div>
                    </div>
                    <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">
                        © All rights reserved. Made by
                        <a class="text-light" href="" target="_blank" rel="noopener">TopFarms</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Toolbar for handheld devices (Default)-->
        <div class="handheld-toolbar">
            <div class="d-table table-layout-fixed w-100">
                <a class="d-table-cell handheld-toolbar-item" href="@Url.Action(Actions.Index, "cWishList")">
                    <span class="handheld-toolbar-icon"><i class="ti-heart"></i></span>
                    <span class="handheld-toolbar-label">Wishlist</span>
                </a>

                <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
                    <span class="handheld-toolbar-icon"><i class="ti-menu"></i></span>
                    <span class="handheld-toolbar-label">Menu</span>
                </a>

                <a class="d-table-cell handheld-toolbar-item" href="shop-cart.html">
                    <span class="handheld-toolbar-icon">
                        <i class="ti-cart"></i>
                        <span class="badge bg-primary rounded-pill ms-1">4</span>
                    </span>
                    <span class="handheld-toolbar-label">$265.00</span>
                </a>
            </div>
        </div>
        <!-- Back To Top Button-->
        <a class="btn-scroll-top" href="#top" data-scroll>
            <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
            <i class="btn-scroll-top-icon ti-arrow-up"></i>
        </a>
    </div>
    <!-- Sign in / sign up modal-->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ti-unlocked me-2 mt-n1"></i>Sign in</a></li>
                        <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ti-user me-2 mt-n1"></i>Sign up</a></li>
                    </ul>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body tab-content py-4">
                    <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab" method="post" action="@Url.Action(Actions.LogIn, Controllers.Account)">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label" for="si-email">Email address</label>
                            <input class="form-control" type="email" name="email" id="si-email" placeholder="Email address" required>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="si-password">Password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" name="password" id="si-password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 d-flex flex-wrap justify-content-between">
                            <div class="form-check mb-2">
                                <input class="form-check-input" name="remember" type="checkbox" id="si-remember">
                                <label class="form-check-label" for="si-remember">Remember me</label>
                            </div><a class="fs-sm" href="/Account/ForgotPassword">Forgot password?</a>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                    </form>
                    <form class="needs-validation tab-pane fade" autocomplete="off" onsubmit="return ValidateSignUp()" novalidate id="signup-tab" method="post" action="@Url.Action(Actions.CustomerSignUp, Controllers.Account)">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label" for="su-name">Full name</label>
                            <input class="form-control" type="text" name="cName" id="su-name" placeholder="Name" required>
                            <div class="invalid-feedback">Please fill in your name.</div>
                        </div>
                        <div class="mb-3">
                            <label for="su-email">Email address</label>
                            <input class="form-control" type="email" name="cEmail" id="su-email" placeholder="Email address" required>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="su-password">Password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" name="cPassword" id="su-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                            <span style="color:green"><small>* Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</small></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="su-password-confirm">Confirm password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" id="su-password-confirm" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- PopUp -->
    @Html.Raw(ViewBag.openPopup)

    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/dist/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/dist/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/dist/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/dist/vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="~/dist/vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="~/dist/vendor/lg-video.js/dist/lg-video.min.js"></script>
    <script src="~/dist/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/Scripts/js.cookie.min.js"></script>
    <!-- Main theme script-->
    <script src="~/dist/js/theme.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    @*<script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>*@
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script>
        var projects = [
            {
                label: "jayaprakash",
                email: "jayaprakash.janarthanan@gmail.com",
            },
            {
                label: "karthi",
                email: "karthi.murugan@yahoo.co.in",
            },
            {
                label: "deepak",
                email: "deepak.chandra@outlook.co.in",
            }
        ];
        //$("#searchPr").autocomplete({
        //    source: projects,
        //    select: function (event, ui) {
        //        $("#searchPr").val(ui.item.email);
        //        return false;
        //    },
        //    focus: function (event, ui) {
        //        $("#searchPr").val(ui.item.email);
        //        return false;
        //    }
        //});
        //$("#searchPr").change(function () {
        //    alert($(this).val());
        //});

        function GetProductByCategory(id) {
             $.ajax({
            url: '@Url.Action(Actions.GetProductByCategory, Controllers.Home)',
            data: { id: id},
            type: 'GET',
            datatype: 'json',
            async: false,
                 success: function (data) {
                     var listPr = [];
                     $.each($(data), function (index, val) {
                         listPr.push({ label: data[index].Name, Id: data[index].ID });
                     });
                     $("#searchPr").attr("data-id", "test").autocomplete(
                         {
                             source: listPr,
                             select: function (event, ui) {
                                 $("#searchPr").val(ui.item.label);
                                 $("#prid").val(ui.item.Id);
                                 return false;
                             },
                             focus: function (event, ui) {
                                 $("#searchPr").val(ui.item.label);
                                 $("#prid").val(ui.item.Id);
                                 return false;
                             }
                         });
            },
            error: function () {
                //ShowMessageToastr("danger", "Failed to load products.");
            }
        });
        }

        $("#searchPr").change(function () {
            var productId = parseInt($("#prid").val());
            if (isNaN(productId)) {
                $("#searchPr").val("");
            } else {
                window.location.href = "/Home/ShopSingle?ProductID=" + productId;
            }
        });

        $("#pcateId").change(function () {
            GetProductByCategory($(this).val());
        });
        GetProductByCategory(0);
        function LoadCookie() {

            if ("@Remember" == "on") {
                $("#si-password").val('@Password');
                $("#si-email").val('@Email');
                $("#si-remember").prop('checked', true);
            }
        }
        LoadCookie();
        function ValidateSignUp() {
            var pass = $("#su-password").val();
            var confirmpass = $("#su-password-confirm").val();

            if (pass != confirmpass) {
                ShowMessageToastr("warning", "Password and Confirm password is not matching.");
                $("#su-password-confirm").focus();
                return false;
            }

            return true;
        }

        function AddToCart(productId, quantity, showMessage = true) {
            // Not customer
            if (@TopFarm.Common.ProjectSession.LoginUserID == 0 || @TopFarm.Common.ProjectSession.LoginRoleID != 1) {
                ShowMessageToastr("warning", "Please sign in...");
                return false;
            }

            var result = false;

            $.ajax({
                url: '@Url.Action(Actions.AddToCart, Controllers.cProduct)',
                data: addRequestVerificationToken({ ProductId: productId, Quantity: quantity}),
                type: 'POST',
                datatype: 'json',
                async: false,
                success: function (data) {
                    if (data == 1) {
                        if (showMessage == true) {
                            ShowMessageToastr("success", "Product added / updated in the cart.");
                        }
                        result = true;
                    }
                    else {
                        if (showMessage == true) {
                            ShowMessageToastr("danger", "Failed to add product in cart.");
                        }
                    }
                },
                error: function () {
                    if (showMessage == true) {
                        ShowMessageToastr("danger", "Failed to add product in cart.");
                    }
                }
            });

            return result;
        }

        function AddToWishlist(productId) {
            // Not customer
            if (@TopFarm.Common.ProjectSession.LoginUserID == 0 || @TopFarm.Common.ProjectSession.LoginRoleID != 1) {
                ShowMessageToastr("warning", "Please sign in...");
                return false;
            }

            var result = false;

            $.ajax({
                url: '@Url.Action(Actions.AddToWishlist, Controllers.cProduct)',
                data: addRequestVerificationToken({ ProductId: productId}),
                type: 'POST',
                datatype: 'json',
                async: false,
                success: function (data) {
                    if (data == 1) {
                        ShowMessageToastr("success", "Product added in the wishlist.");
                        result = true;
                    }
                    else {
                        ShowMessageToastr("danger", "Failed to add product in wishlist.");
                    }
                },
                error: function () {
                    ShowMessageToastr("danger", "Failed to add product in wishlist.");
                }
            });

            return result;
        }

        function AddSupportTicket(ticketDescription, ticketId, status) {
            // Not customer
            if (@TopFarm.Common.ProjectSession.LoginUserID == 0 || @TopFarm.Common.ProjectSession.LoginRoleID != 1) {
                ShowMessageToastr("warning", "Please sign in...");
                return false;
            }

            var result = false;

            $.ajax({
                url: '@Url.Action(Actions.AddSupportTicketorComment,Controllers.cSupportTicket)',
                data: addRequestVerificationToken({ ticketDescription, ticketId, status }),
                type: 'POST',
                datatype: 'json',
                async: false,
                success: function (data) {
                    if (data == 1) {
                        ShowMessageToastr("success", "Ticket added/updated successfully.");
                        result = true;
                    }
                    else {
                        ShowMessageToastr("danger", "Failed to add/update ticket.");
                    }
                },
                error: function () {
                    ShowMessageToastr("danger", "Failed to add/update ticket.");
                }
            });

            return result;
        }

        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this)
                .find("textarea")
                .val('').change()
                .end()
                .find("select")
                .val('0').change()
                .end()
                .find("input[type=checkbox], input[type=radio]")
                .prop("checked", "")
                .end();
        });

        $("#trackidlink").click(function () {
                $.ajax({
                url: '@Url.Action(Actions.OrderIdListById, Controllers.Home)',
                type: 'GET',
                datatype: 'json',
                async: false,
                    success: function (data) {
                        let htmlstring = "";
                        $.each(data, function (key, order) {
                            htmlstring += '<a href=/cCart/OrderTracking?id=' + order.ID + '> ' + order.OrderId + '</a></br>';
                        });
                        $('#orderList').empty();
                        $("#orderList").html(htmlstring);
                        console.log(data);
                },
                error: function () {
                   
                }
            });
        });
    </script>
</body>
</html>