﻿@using TopFarm.Pages
@using TopFarm.Common

@{
    /**/
    string avtarimgPath = null;
    if (Request.Cookies["AdminUserLogin"] != null)
    {
        avtarimgPath = Convert.ToString(Request.Cookies["AdminUserLogin"].Values["LoginUserImg"]);
        avtarimgPath = string.IsNullOrWhiteSpace(avtarimgPath) ? "img/shop/account/avatar.jpg" : avtarimgPath;
        avtarimgPath = Path.Combine(Configurations.ClientURL, avtarimgPath);
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/dist/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/chartist/dist/chartist.min.css" />

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/dist/css/theme.min.css">

    <link href="~/Styles/datatables.bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!-- Custom CSS-->
    <link rel="stylesheet" media="screen" href="~/Styles/Admin/Custom/CustomUI.css" />
    <link rel="stylesheet" href="~/Styles/toastr.min.css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

</head>

<!-- Body-->

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <header class="bg-light shadow-sm navbar-sticky">
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand d-none d-sm-block flex-shrink-0 me-4 order-lg-1"
                       href="@Url.Action(Actions.Index,Controllers.Dashboard)">
                        <img src="~/img/logo-dark.png" width="142" alt="">
                    </a>
                    <a class="navbar-brand d-sm-none me-2 order-lg-1" href="@Url.Action(Actions.Index,Controllers.Dashboard)">
                        <img src="~/img/logo-icon.png" width="74" alt="">
                    </a>


                    <!-- Toolbar-->
                    <div class="navbar-toolbar d-flex align-items-center order-lg-3">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        @*<a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox">
                            <span class="navbar-tool-tooltip">Search</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-search"></i></div>
                        </a>


                        <a class="navbar-tool d-none d-lg-flex" href="dashboard-favorites.html">
                            <span class="navbar-tool-tooltip">Favorites</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-heart"></i></div>
                        </a>*@

                        <div class="navbar-tool ms-2">

                            <a class="user-toggle" href="@Url.Action(Actions.Index,Controllers.AdminProfile)">
                                <div class="user-avatar">
                                    <img class="img-fluid" src="@avtarimgPath" alt="" />
                                </div>
                                <div class="navbar-tool-text ms-n1">
                                    <small>Topfarms Ltd.</small>@TopFarm.Common.ProjectSession.LoginUserName
                                </div>
                            </a>
                        </div>

                        <a class="navbar-tool d-none d-lg-flex" href="@Url.Action(Actions.Logout,Controllers.Account)">
                            <span class="navbar-tool-tooltip">Logout</span>
                            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-sign-in"></i></div>
                        </a>
                    </div>


                    <div class="collapse navbar-collapse me-auto order-lg-2" id="navbarCollapse">
                        <!-- Search-->
                        <div class="input-group d-lg-none my-3">
                            <i class="ti-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>


            <!-- Search collapse-->
            <div class="search-box collapse" id="searchBox">
                <div class="card pt-2 pb-4 border-0 rounded-0">
                    <div class="container">
                        <div class="input-group">
                            <i class="ti-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- Dashboard header-->
        <div class="page-title-overlap bg-accent pt-4">
            <div class="container-fluid d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
                <div class="d-flex align-items-center pb-3">
                    <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem;">
                        <img class="rounded-circle" src="@avtarimgPath" alt="" />
                    </div>
                    <div class="ps-3">
                        <h3 class="text-light fs-lg mb-0">Topfarms Ltd</h3>
                        <span class="d-block text-light fs-ms opacity-60 py-1">@TopFarm.Common.ProjectSession.LoginUserName</span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="text-sm-end me-5">
                        <div class="text-light fs-base">Total sales</div>
                        <h3 class="text-light">4260</h3>
                    </div>
                    <div class="text-sm-end me-5">
                        <div class="text-light fs-base">Total traders</div>
                        <h3 class="text-light">156</h3>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <!-- Back To Top Button-->
        <a class="btn-scroll-top" href="#top" data-scroll>
            <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
            <i class="btn-scroll-top-icon ti-arrow-up"></i>
        </a>
    </div>

    <!-- PopUp -->
    @Html.Raw(ViewBag.openPopup)

    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/dist/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/dist/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/dist/vendor/chartist/dist/chartist.min.js"></script>

    <!-- Main theme script-->
    <script src="~/dist/js/theme.js"></script>
</body>

</html>