﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Topfarms | Wishlist";
    ViewBag.ActiveMenuId = "Wishlist";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Wishlist</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">My wishlist</h1>
        </div>
    </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="fs-base text-light mb-0">List of items you added to wishlist:</h6><a class="btn btn-primary btn-sm" href="@Url.Action(Actions.Logout, Controllers.Account)"><i class="ti-sign-out me-2"></i>Sign out</a>
            </div>
            <!-- Wishlist-->
            <span id="WishListItemsArea"></span>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadCustomerWishList();
    });

    function LoadCustomerWishList() {
        $.ajax({
            url: '@Url.Action(Actions.GetCustomerWishlist, Controllers.cWishlist)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                let htmlstring = "";

                $.each(data, function (key, wishlist) {
                    htmlstring += `<div class="d-sm-flex justify-content-between mt-lg-4 mb-4 pb-3 pb-sm-2 border-bottom">
                <div class="d-block d-sm-flex align-items-start text-center text-sm-start">
                    <a class="d-block flex-shrink-0 mx-auto me-sm-4" href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${wishlist.ProductId}" style="width: 10rem;">
                        <img src="${wishlist.ProdImgFullURL}" alt="Product">
                    </a>
                    <div class="pt-2">
                        <h3 class="product-title fs-base mb-2"><a href="@Url.Action(Actions.ShopSingle, Controllers.Home)?ProductID=${wishlist.ProductId}">${wishlist.ProductName}</a></h3>
                        <div class="fs-lg text-accent pt-2">$${wishlist.ProductPrice}</div>
                    </div>
                </div>
                <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                    <button class="btn btn-outline-danger btn-sm" type="button" onclick="DeleteWishlistConfirmation(${wishlist.ID})"><i class="ti-trash me-2"></i>Remove</button>
                </div>
            </div>`;
                });

                if (htmlstring == "") {
                    htmlstring += `<div> No items available.</div>`;
                }

                $('#WishListItemsArea').empty();
                $('#WishListItemsArea').html(htmlstring);
            },
            error: function () {
                ShowMessageToastr("danger","Failed to load wishlist.");
            }
        });
    }
    
    function DeleteWishlistConfirmation(ID) {
        ShowMessageToastr("warning", "Do you want to delete this item?", true, 'DeleteWishlist(' + ID + ')', '');
    }

    function DeleteWishlist(ID) {
        $.ajax({
            type: "POST",
            url: "@Url.Action(Actions.DeleteWishList, Controllers.cWishlist)",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ ID: ID }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    LoadCustomerWishList();
                    window.location.reload();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }
</script>