﻿@using TopFarm.Pages;
@using TopFarm.Common;

@{
    ViewBag.Title = "Support Ticket";
    ViewBag.ActiveMenuId = "SupportTickets";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">Support Tickets</h2>

        <div class="row mx-n2 pt-2">
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Open Tickets</h3>
                    <p class="h2 mb-2" id="lblOpenTicket"></p>
                    @{DateTime time = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);}
                    <p class="fs-ms text-muted mb-0">@time.ToString("dd/MM/yyyy")  (Today)</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Close Tickets</h3>
                    <p class="h2 mb-2" id="lblCloseTicket"></p>
                    <p class="fs-ms text-muted mb-0">@time.ToString("dd/MM/yyyy") (Today)</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 px-2 mb-4">
                <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Total Tickets</h3>
                    <p class="h2 mb-2" id="lblTotalTicket"></p>
                    <p class="fs-ms text-muted mb-0">@time.ToString("MMM")  @time.ToString("yyyy")</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 border m-0 p-0">
                <table class="table" id="SupportTicketList"></table>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ticketModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <form class="needs-validation" novalidate>
                        <div class="mb-3">
                            <textarea id="ticketDescription" class="form-control" rows="3" placeholder="Write your message here..." required></textarea>
                            <div class="invalid-tooltip">Please write the message!</div>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="close-ticket">
                                <label class="form-check-label" for="close-ticket">Submit and close the ticket</label>
                            </div>
                            <button class="btn btn-primary my-2" type="button" onclick="AddSupportTicket()">Submit message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        RefreshArticleList();
    });

    function RefreshArticleList() {
        TableDatatableSupportTicketList.init();
        UpdateSupportTicketMetaData();
    }

    function BuildSearchCriteria() {
        try {
            var param = {};
            return addRequestVerificationToken(param);
        } catch (e) { }
    }

    function UpdateSupportTicketMetaData() {
        $.ajax({
            url: '@Url.Action(Actions.GetSupportTicketMetaData, Controllers.SupportTicket)',
            type: 'GET',
            datatype: 'json',
            success: function (data) {
                $('#lblOpenTicket').text(data[0]);
                $('#lblCloseTicket').text(data[1]);
                $('#lblTotalTicket').text(data[2]);
            },
            error: function () {
                ShowMessageToastr("danger", "Failed to get order details.");
            }
        });
    }

    function AddSupportTicket() {
            $.ajax({
                url: '@Url.Action(Actions.AddSupportTicketorComment,Controllers.SupportTicket)',
                data: addRequestVerificationToken({
                    ticketDescription: $("#ticketModal #ticketDescription").val(),
                    ticketId: $("#ticketModal #ticketModalLabel").text(),
                    status: !$("#ticketModal #close-ticket").prop("checked")
                }),
                type: 'POST',
                datatype: 'json',
                async: false,
                success: function (data) {
                    if (data == 1) {
                        ShowMessageToastr("success", "Ticket added/updated successfully.");
                        //$('#ticketModal').modal('hide');
                        showTicketComments($("#ticketModal #ticketModalLabel").text(), !$("#ticketModal #close-ticket").prop("checked"));
                        $("#ticketModal #ticketDescription").val('');
                        RefreshArticleList();
                    }
                    else {
                        ShowMessageToastr("danger", "Failed to add/update ticket.");
                    }
                },
                error: function () {
                    ShowMessageToastr("danger", "Failed to add/update ticket.");
                }
            });
        }

    function showTicketComments(ticketId, status) {
        if (status == false) {
            $('#ticketModal .modal-footer').hide();
        }
        else {
            $('#ticketModal .modal-footer').show();
        }

        $.ajax({
            url: '@Url.Action(Actions.GetTicketComments, Controllers.SupportTicket)',
            data: { ticketId: ticketId },
            type: 'Get',
            datatype: 'json',
            success: function (data) {
                var htmlString = ``;
                $.each(data, function (key, value) {
                    if (value.UserID == @ProjectSession.LoginUserID && value.RoleID == @ProjectSession.LoginRoleID) {
                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start" style="padding-left:50px;">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start border-top pt-4 mt-4" style="margin-left:50px;">`;
                        }
                    }
                    else {
                        if (key == 0) {
                            htmlString += `<div class="d-flex align-items-start">`;
                        }
                        else {
                            htmlString += `<div class="d-flex align-items-start border-top pt-4 mt-4">`;
                        }
                    }

                    if (value.UserAvtarURL != null && value.UserAvtarURL != "") {
                        htmlString += `<img class="rounded-circle" src="${value.UserAvtarURL}" width="50" alt="${value.UserName}">`;
                    }
                    else {
                        htmlString += `<img class="rounded-circle" src='@Path.Combine(Configurations.ClientURL,"img/shop/account/avatar.jpg")' width="50" alt="${value.UserName}">`;
                    }
                    htmlString += `<div class="ps-3">
                                        <h6 class="fs-md mb-2">${value.UserName}</h6>
                                        <p class="fs-md mb-1">${value.Comment}</p><span class="fs-ms text-muted"><i class="ti-time align-middle me-2"></i>${value.SubmitDateStr} at ${value.SubmitTimeStr}</span>
                                    </div></div>`;
                });

                $('#ticketModal .modal-body').html(htmlString);
                $('#ticketModal #ticketModalLabel').text(ticketId);
                $('#ticketModal').modal('show');
            },
            error: function () { }
        });
    }
    // --------------------------------------------
    // Datatable
    //---------------------------------------------

    var TableDatatableSupportTicketList = function () {
        var initTable1 = function () {
            var table = $('#SupportTicketList');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": false,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: "SupportTicket/BindSupportTicket",
                    type: "post",
                    data: BuildSearchCriteria()
                },
                "columns": [
                    {
                        "title": "TICKET ID", "data": "ID", "orderable": false,
                        "render": function (data, type, row) {
                            return '<a href="javascript:void(0);" onclick="showTicketComments(' + data + ',' + row["Status"]+')">' + data + '</a>';
                        },
                    },
                    {
                        "title": "CUSTOMER NAME", "data": "CustomerName",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "DATE SUBMITTED", "data": "SubmittedDateStr",
                        "orderable": false,
                        "scope": "col",
                    },
                    {
                        "title": "STATUS", "data": "Status",
                        "orderable": false,
                        "scope": "col",
                        "render": function (data, type, row) {
                            return data === true ? '<span class="badge bg-danger m-0">Open</span>' :'<span class="badge bg-secondary m-0">Closed</span>';
                        },
                    },
                    {
                        "title": "ACTION",
                        "data": null,
                        "render": function (data, type, row) {
                            let divTag = '<div class="dropdown">' +
                                '<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Update</button>' +
                                '<ul class="dropdown-menu dropdown-menu-end">' +
                                '<li><a class="dropdown-item" href=javascript:showTicketComments(' + row['ID'] +',' + row["Status"] +')>View</a></li>' +
                                '<li><a class="dropdown-item" href=javascript:UpdateTicketStatus(' + row['ID'] + ',false)>Close</a></li>' +
                                '<li><a class="dropdown-item" href=javascript:UpdateTicketStatus(' + row['ID'] + ',true)>Re-open</a></li>' +
                                '</ul>';
                            return divTag;
                        },
                        "orderable": false,
                    }
                ],
                "buttons": [
                    {

                    },
                ],
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                if ($.fn.dataTable.isDataTable("#SupportTicketList")) {
                    $('#SupportTicketList').dataTable().fnDestroy();
                }
                initTable1();
            }

        };

    }();

    function UpdateTicketStatus(ID, Status) {
        $.ajax({
            type: "POST",
            url: "SupportTicket/UpdateTicketStatus",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ ID: ID, Status: Status }),
            success: function (response) {
                let recvResult = JSON.parse(response);
                if (recvResult.Result === "0") {
                    ShowMessageToastr("success", recvResult.Message);
                    RefreshArticleList();
                    return;
                }

                if (recvResult.Result === "-1") {
                    ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
                    return;
                }
            },
            error: function (errormessage) {
                ShowMessageToastr("danger", "Something Went Wrong! Please try again later.");
            }
        });
    }
</script>

