﻿
@{
    ViewBag.Title = "Notifications";
    ViewBag.ActiveMenuId = "Notifications";
    Layout = "~/Views/Shared/_LayoutTraders.cshtml";
}

<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <h2 class="h3 py-2 text-center text-sm-start">Notifications</h2>
        <ul class="notification">
            <li class="notification-item">
                <div class="notification-icon">
                    <i class="ti-package"></i>
                </div>
                <div class="notification-content">
                    <div class="notification-text">You have received new order.</div>
                    <div class="notification-time">Just now</div>
                </div>
            </li>
            <li class="notification-item">
                <div class="notification-icon">
                    <i class="ti-package"></i>
                </div>
                <div class="notification-content">
                    <div class="notification-text">You have received new order.</div>
                    <div class="notification-time">Just now</div>
                </div>
            </li>
            <li class="notification-item">
                <div class="notification-icon">
                    <i class="ti-package"></i>
                </div>
                <div class="notification-content">
                    <div class="notification-text">You have received new order.</div>
                    <div class="notification-time">Just now</div>
                </div>
            </li>
            <li class="notification-item">
                <div class="notification-icon">
                    <i class="ti-package"></i>
                </div>
                <div class="notification-content">
                    <div class="notification-text">You have received new order.</div>
                    <div class="notification-time">Just now</div>
                </div>
            </li>
            <li class="notification-item">
                <div class="notification-icon">
                    <i class="ti-package"></i>
                </div>
                <div class="notification-content">
                    <div class="notification-text">You have received new order.</div>
                    <div class="notification-time">Just now</div>
                </div>
            </li>
        </ul>
    </div>
</section>


