﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Customer Address";
    ViewBag.ActiveMenuId = "CustomerAddress";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

}

@model Customer
@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href=""><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Customer</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Grid left sidebar</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Profile Info</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="fs-base text-light mb-0">List of your registered addresses:</h6><a class="btn btn-primary btn-sm"
                                                                                              href="@Url.Action(Actions.Logout, Controllers.Account)"><i class="ti-sign-out me-2"></i>Sign out</a>
            </div>
            <!-- Addresses list-->
            <div class="table-responsive fs-md">
                <table class="table" id="TBLCustomerAddress"></table>
            </div>
            <div class="text-sm-end pt-4">
                <a class="btn btn-primary" href="#add-address" data-bs-toggle="modal" id="btnAdd">
                    Add new
                    address
                </a>
            </div>
        </section>
    </div>
</div>

<!-- Add New Address-->
<div class="needs-validation modal fade" method="post" id="add-address" tabindex="-1" novalidate>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new address</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @*  @using (Html.BeginForm(Actions.UpdateCustomerAddress, Controllers.CustomerAddress, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return ValidateTraderForm();", @id = "frmAddEditAdrs" }))*@
            @using (Html.BeginForm())
            {
                <div class="modal-body">
                    <div class="row gx-4 gy-3">
                        @*<div class="col-sm-6">


            <label class="form-label" for="address-fn">First name</label>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            <div class="invalid-feedback">Please fill in you first name!</div>
        </div>*@
                        @*<div class="col-sm-6">
            <label class="form-label" for="address-ln">Last name</label>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            <div class="invalid-feedback">Please fill in you last name!</div>
        </div>
        <div class="col-sm-6">
            <label class="form-label" for="address-company">Company</label>
            <input class="form-control" type="text" id="address-company">
        </div>*@
                        <div class="col-sm-6">
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.CustomerId)
                            <label class="form-label" for="address-country">Country</label>
                            @Html.DropDownListFor(a => a.CountryID, (IEnumerable<SelectListItem>)ViewBag.Country, "Select country", new { @class = "form-control", placeholder = "Select country" })
                            <div class="invalid-feedback">Please select your country!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-city">State</label>
                            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your state!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-city">City</label>
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your city!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-city">Area</label>
                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your area!</div>
                        </div>


                        <div class="col-sm-6">
                            <label class="form-label" for="address-line1">Line 1</label>
                            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                            <div class="invalid-feedback">Please fill in your address!</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-line2">Line 2</label>
                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })

                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="address-zip">ZIP code</label>
                            @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })
                            <div class="invalid-feedback">Please add your ZIP code!</div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                @*<input class="form-check-input" type="checkbox" id="IsPrimaryAddress">*@
                                @*@Html.CheckBoxFor(m => m.IsPrimaryAddress, new { @id = "IsPrimaryAddress", @type = "checkbox" })*@
                                @Html.CheckBoxFor(m => m.IsPrimaryAddress, new { @id = "IsPrimaryAddress", @type = "checkbox", @class = "form-check-input" })
                                <label class="form-check-label" for="IsPrimaryAddress">Make this address primary</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary btn-shadow Addadrs" type="button" id="btnAdrs">Add address</button>
                    <button class="btn btn-primary btn-shadow UpdateAdrs" type="button" id="btnAdrsUp">Update address</button>

                </div>
            }
        </div>
    </div>
</div>



<script type="text/javascript">


    $(document).ready(function () {


        $("#btnAdrsUp").click(function () {
            debugger;
            let CountryID = $('#CountryID').val();
            if (CountryID === NaN || CountryID === "") {
                ShowMessageToastr("danger", "Please select country.");
                $("#CountryID").focus();
                return false;
            }

            let State = $('#State').val();
            if (State === NaN || State === "") {
                ShowMessageToastr("danger", "Please enter state.");
                $("#State").focus();
                return false;
            }

            let City = $('#City').val();
            if (City === NaN || City === "") {
                ShowMessageToastr("danger", "Please enter city.");
                $("#City").focus();
                return false;
            }
            let Area = $('#Area').val();
            if (Area === NaN || Area === "") {
                ShowMessageToastr("danger", "Please enter area.");
                $("#Area").focus();
                return false;
            }
            let Address1 = $('#Address1').val();
            if (Address1 === NaN || Address1 === "") {
                ShowMessageToastr("danger", "Please enter address.");
                $("#Address1").focus();
                return false;
            }
            let Pincode = $('#Pincode').val();
            if (Pincode === NaN || Pincode === "") {
                ShowMessageToastr("danger", "Please enter zipcode.");
                $("#Pincode").focus();
                return false;
            }

            var model = {
                ID: $("#ID").val(),
                CustomerId: $("#CustomerId").val(),
                CountryID: $("#CountryID").val(),
                State: $("#State").val(),
                City: $("#City").val(),
                Area: $("#Area").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                Pincode: $("#Pincode").val(),
                IsPrimaryAddress: $('#IsPrimaryAddress').is(":checked"),
            };
              $.ajax({
            type: "Post",
                  url: '@Url.Action(Actions.UpdateCustomerAddress, Controllers.CustomerAddress)',
                  data: { customer: model },
            dataType: "json",
                  success: function (data) {

                      //CustomerAddressDataTBL.init();
                      window.location.reload();
                }
        });
        });

             $("#btnAdrs").click(function () {
           
            let CountryID = $('#CountryID').val();
            if (CountryID === NaN || CountryID === "") {
                ShowMessageToastr("danger", "Please select country.");
                $("#CountryID").focus();
                return false;
            }

            let State = $('#State').val();
            if (State === NaN || State === "") {
                ShowMessageToastr("danger", "Please enter state.");
                $("#State").focus();
                return false;
            }

            let City = $('#City').val();
            if (City === NaN || City === "") {
                ShowMessageToastr("danger", "Please enter city.");
                $("#City").focus();
                return false;
            }
            let Area = $('#Area').val();
            if (Area === NaN || Area === "") {
                ShowMessageToastr("danger", "Please enter area.");
                $("#Area").focus();
                return false;
            }
            let Address1 = $('#Address1').val();
            if (Address1 === NaN || Address1 === "") {
                ShowMessageToastr("danger", "Please enter address.");
                $("#Address1").focus();
                return false;
            }
            let Pincode = $('#Pincode').val();
            if (Pincode === NaN || Pincode === "") {
                ShowMessageToastr("danger", "Please enter zipcode.");
                $("#Pincode").focus();
                return false;
            }

            var model = {
                ID: $("#ID").val(),
                CustomerId: $("#CustomerId").val(),
                CountryID: $("#CountryID").val(),
                State: $("#State").val(),
                City: $("#City").val(),
                Area: $("#Area").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                Pincode: $("#Pincode").val(),
                IsPrimaryAddress: $('#IsPrimaryAddress').is(":checked"),
            };
              $.ajax({
            type: "Post",
                  url: '@Url.Action(Actions.UpdateCustomerAddress, Controllers.CustomerAddress)',
                  data: { customer: model },
            dataType: "json",
                  success: function (data) {

                      //CustomerAddressDataTBL.init();
                      window.location.reload();
                }
        });
        });
        @*$("#IsPrimaryAddress").change(function () {


            var state = $('#IsPrimaryAddress').is(":checked");

            if (state) {
                if ('@Session["IsAllowPrimary"]' == 'True') {
                //@TempData["IsAllowPrimary"] == null;
                $("#IsPrimaryAddress").prop('checked', false);
                ShowMessageToastr("danger", "Only one primary address is allow.");
                sessionStorage.removeItem('IsAllowPrimary');

            }
            }

        });*@
        //TempData["IsAllowPrimary"]
        if ("@TempData["openPopup"]" != null && "@TempData["openPopup"]" != "")
        {
            ShowMessageToastr("success", "@ViewBag.openPopup");
        }

            CustomerAddressDataTBL.init();
        $("#btnAdd").click(function () {

            $(".Addadrs").show();
            $(".UpdateAdrs").hide();
            $("#CountryID").val("");
            $("#City").val("");
            $("#Area").val("");
            $("#State").val("");

            $("#Address1").val("");
            $("#Address2").val("");
            $("#Pincode").val("");

            });

        });

    function showCustomerAddressData(id) {

        $(".UpdateAdrs").show();
        $(".Addadrs").hide();

        $.ajax({
            type: "GET",
            url: '@Url.Action(Actions.GetAddressDatabyId, Controllers.CustomerAddress)',
            data: {id : id},
            dataType: "json",
            success: function (data) {
              
                if (data.cdata != null) {
                    $("#FirstName").val(data.cdata.FirstName);
                    $("#LastName").val(data.cdata.LastName);
                }
                if (data.data != null) {

                    $("#ID").val(data.data.ID);
                    $("#CountryID").val(data.data.CountryID);
                    $("#CustomerId").val(data.data.CustomerId);
                    $("#City").val(data.data.City);
                    $("#Address1").val(data.data.Address1);
                    $("#Address2").val(data.data.Address2);
                    $("#Pincode").val(data.data.Pincode);
                    $("#Area").val(data.data.Area);
                    $("#State").val(data.data.State);
                    $("#IsPrimaryAddress").prop("checked", data.data.IsPrimaryAddress);
                }
            }
        });
    }

    function DeleteCustomerAddressConfirmation(ID) {
        ShowMessageToastr("warning", "Do you want to delete this item?", true, 'DeleteCustomerAddressData(' + ID + ')', '');
    }

    function DeleteCustomerAddressData(id) {
          $.ajax({
                type: "GET",
                url: '@Url.Action(Actions.DeleteAddressDatabyId, Controllers.CustomerAddress)',
                data: { id: id },
                dataType: "json",
                 success: function (data) {
                     ShowMessageToastr("success", "Customer address deleted successfully");
                     setTimeout(function () { window.location.reload(); }, 1000);

                }
            });
    }
    var CustomerAddressDataTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLCustomerAddress');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": true,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindCustomerAddress, Controllers.CustomerAddress)',
                    type: "post",
                    data: addRequestVerificationToken({})
                },
                "columns": [
                    {
                        "title": "Address",
                        "data": "Address1",
                        "orderable": false
                    },
                    {
                        "title": "Action",
                        "data": null,
                        "render": function (data, type, row) {
                            var htmldata = `<a onclick="showCustomerAddressData(` + row["ID"] + `)" class="nav-link-style me-2" href="#add-address" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Edit"><i class="ti-edit"></i></a> <a onclick="DeleteCustomerAddressConfirmation(` + row["ID"] +`)" class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip" title="Remove"><i class="ti-trash"></i></a>`;

                            return htmldata;
                        },
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLCustomerAddress")) {
                    $('#TBLCustomerAddress').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();
</script>

