$ti-add-circle: "\e900";
$ti-add-document: "\e901";
$ti-add-location: "\e902";
$ti-add: "\e903";
$ti-announcement: "\e904";
$ti-arrow-down-circle: "\e905";
$ti-arrow-down: "\e906";
$ti-arrow-left-circle: "\e907";
$ti-arrow-left: "\e908";
$ti-arrow-right-circle: "\e909";
$ti-arrow-right: "\e90a";
$ti-arrow-up-circle: "\e90b";
$ti-arrow-up: "\e90c";
$ti-arrows-horizontal: "\e90d";
$ti-arrows-vertical: "\e90e";
$ti-bag: "\e90f";
$ti-basket: "\e910";
$ti-behance: "\e911";
$ti-bell: "\e912";
$ti-bluetooth: "\e913";
$ti-book: "\e914";
$ti-bookmark: "\e915";
$ti-briefcase: "\e916";
$ti-calculator: "\e917";
$ti-camera: "\e918";
$ti-card: "\e919";
$ti-cart: "\e91a";
$ti-chat: "\e91b";
$ti-check-circle: "\e91c";
$ti-check: "\e91d";
$ti-clip: "\e91e";
$ti-close-circle: "\e91f";
$ti-close: "\e920";
$ti-cloud-check: "\e921";
$ti-cloud-download: "\e922";
$ti-cloud-upload: "\e923";
$ti-cloud: "\e924";
$ti-coin: "\e925";
$ti-coins: "\e926";
$ti-currency-exchange: "\e927";
$ti-delete-document: "\e928";
$ti-delete-folder: "\e929";
$ti-delete-location: "\e92a";
$ti-diamond: "\e92b";
$ti-document-alt: "\e92c";
$ti-document: "\e92d";
$ti-dollar-circle: "\e92e";
$ti-dollar: "\e92f";
$ti-dribbble: "\e930";
$ti-earphones: "\e931";
$ti-edit-alt: "\e932";
$ti-edit: "\e933";
$ti-euro-circle: "\e934";
$ti-euro: "\e935";
$ti-exit-full-screen: "\e936";
$ti-eye: "\e937";
$ti-facebook: "\e938";
$ti-filter-alt: "\e939";
$ti-filter: "\e93a";
$ti-flag: "\e93b";
$ti-folder: "\e93c";
$ti-forward: "\e93d";
$ti-full-screen: "\e93e";
$ti-gift: "\e93f";
$ti-globe: "\e940";
$ti-google: "\e941";
$ti-hangouts: "\e942";
$ti-heart-circle: "\e943";
$ti-heart: "\e944";
$ti-help: "\e945";
$ti-home: "\e946";
$ti-idea: "\e947";
$ti-image: "\e948";
$ti-increase: "\e949";
$ti-instagram: "\e94a";
$ti-joystick: "\e94b";
$ti-key: "\e94c";
$ti-lable: "\e94d";
$ti-laptop: "\e94e";
$ti-lightning: "\e94f";
$ti-link: "\e950";
$ti-linkedin: "\e951";
$ti-list: "\e952";
$ti-loading: "\e953";
$ti-location: "\e954";
$ti-locked: "\e955";
$ti-mail: "\e956";
$ti-map: "\e957";
$ti-menu-circle: "\e958";
$ti-menu: "\e959";
$ti-message: "\e95a";
$ti-messenger: "\e95b";
$ti-mobile: "\e95c";
$ti-money-bag: "\e95d";
$ti-money-box: "\e95e";
$ti-moon: "\e95f";
$ti-music: "\e960";
$ti-navigation: "\e961";
$ti-odnoklassniki: "\e962";
$ti-package: "\e963";
$ti-percent: "\e964";
$ti-phone: "\e965";
$ti-pinterest: "\e966";
$ti-plane: "\e967";
$ti-play-circle: "\e968";
$ti-play: "\e969";
$ti-reduce: "\e96a";
$ti-reload: "\e96b";
$ti-remove-document: "\e96c";
$ti-remove-folder: "\e96d";
$ti-reply: "\e96e";
$ti-rocket: "\e96f";
$ti-ruler: "\e970";
$ti-scroll: "\e971";
$ti-search: "\e972";
$ti-security-announcement: "\e973";
$ti-security-check: "\e974";
$ti-security-close: "\e975";
$ti-security-prohibition: "\e976";
$ti-send: "\e977";
$ti-server-alt: "\e978";
$ti-server: "\e979";
$ti-settings: "\e97a";
$ti-share-alt: "\e97b";
$ti-share: "\e97c";
$ti-skype: "\e97d";
$ti-smile: "\e97e";
$ti-star-filled: "\e97f";
$ti-star: "\e980";
$ti-sun: "\e981";
$ti-support: "\e982";
$ti-target: "\e983";
$ti-telegram: "\e984";
$ti-thumb-up: "\e985";
$ti-time: "\e986";
$ti-trash: "\e987";
$ti-tumblr: "\e988";
$ti-turn-off: "\e989";
$ti-twitter: "\e98a";
$ti-unlocked: "\e98b";
$ti-user-circle: "\e98c";
$ti-user: "\e98d";
$ti-viber: "\e98e";
$ti-video: "\e98f";
$ti-view-grid: "\e990";
$ti-view-list: "\e991";
$ti-vimeo: "\e992";
$ti-vk: "\e993";
$ti-wallet: "\e994";
$ti-watch: "\e995";
$ti-weather: "\e996";
$ti-wechat: "\e997";
$ti-youtube-outline: "\e998";
$ti-youtube: "\e999";
$ti-caret: "\e99a";
$ti-paypal: "\e99b";
$ti-delivery: "\e99c";
$ti-loudspeaker: "\e99d";
$ti-sign-in: "\e99e";
$ti-sign-out: "\e99f";
$ti-wash: "\e9a0";
$ti-bleach: "\e9a1";
$ti-hand-wash: "\e9a2";
$ti-ironing: "\e9a3";
$ti-dry-clean: "\e9a4";
$ti-add-user: "\e9a5";
$ti-compare: "\e9a6";
$ti-monitor: "\e9a7";
$ti-printer: "\e9a8";
$ti-speaker: "\e9a9";
$ti-download: "\e9aa";
$ti-upload: "\e9ab";
$ti-bluetooth-circle: "\e9ac";
$ti-battery: "\e9ad";
$ti-sound-waves: "\e9ae";
$ti-paprika: "\e9af";
$ti-chili: "\e9b0";
$ti-canned-food: "\e9b1";
$ti-toothbrush: "\e9b2";
$ti-pumpkin: "\e9b3";
$ti-orange: "\e9b4";
$ti-broccoli: "\e9b5";
$ti-sauce: "\e9b6";
$ti-soap: "\e9b7";
$ti-toilet-paper: "\e9b8";
$ti-lemon: "\e9b9";
$ti-bread: "\e9ba";
$ti-jam: "\e9bb";
$ti-fish: "\e9bc";
$ti-wine: "\e9bd";
$ti-truck: "\e9be";
$ti-tag: "\e9bf";
$ti-eggs: "\e9c0";
$ti-store: "\e9c1";
$ti-ham-leg: "\e9c2";
$ti-discount: "\e9c3";
$ti-open: "\e9c4";
$ti-juice: "\e9c5";
$ti-cheese: "\e9c6";
$ti-milk: "\e9c7";
$ti-cashier: "\e9c8";
$ti-avocado: "\e9c9";
$ti-apple: "\e9ca";
$ti-pizza: "\e9cb";
$ti-scale: "\e9cc";
$ti-ice-cream: "\e9cd";
$ti-water-bottle: "\e9ce";
$ti-carrot: "\e9cf";
$ti-basket-alt: "\e9d0";
$ti-corn: "\e9d1";
$ti-frozen: "\e9d2";
$ti-lollipop: "\e9d3";
$ti-pot: "\e9d4";
$ti-star-half: "\e9d5";
$ti-eye-off: "\e9d6";
$ti-thumb-up-filled: "\e9d7";
$ti-dot-square: "\e9d8";
$ti-checkbox-blank-line: "\e9d9";
$ti-checkbox-blank-fill: "\e9da";
$ti-checkbox-blank-circle-line: "\e9db";
$ti-checkbox-blank-circle-fill: "\e9dc";



@font-face {
  font-family: '#{$icons-font-family}';
  src:
    url('#{$icons-font-path}/#{$icons-font-family}.ttf?4axsvj') format('truetype'),
    url('#{$icons-font-path}/#{$icons-font-family}.woff?4axsvj') format('woff'),
    url('#{$icons-font-path}/#{$icons-font-family}.svg?4axsvj##{$icons-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ti-"], [class*=" ti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  font-family: '#{$icons-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-add-circle {
  &:before {
    content: $ti-add-circle; 
  }
}
.ti-add-document {
  &:before {
    content: $ti-add-document; 
  }
}
.ti-add-location {
  &:before {
    content: $ti-add-location; 
  }
}
.ti-add {
  &:before {
    content: $ti-add; 
  }
}
.ti-announcement {
  &:before {
    content: $ti-announcement; 
  }
}
.ti-arrow-down-circle {
  &:before {
    content: $ti-arrow-down-circle; 
  }
}
.ti-arrow-down {
  &:before {
    content: $ti-arrow-down; 
  }
}
.ti-arrow-left-circle {
  &:before {
    content: $ti-arrow-left-circle; 
  }
}
.ti-arrow-left {
  &:before {
    content: $ti-arrow-left; 
  }
}
.ti-arrow-right-circle {
  &:before {
    content: $ti-arrow-right-circle; 
  }
}
.ti-arrow-right {
  &:before {
    content: $ti-arrow-right; 
  }
}
.ti-arrow-up-circle {
  &:before {
    content: $ti-arrow-up-circle; 
  }
}
.ti-arrow-up {
  &:before {
    content: $ti-arrow-up; 
  }
}
.ti-arrows-horizontal {
  &:before {
    content: $ti-arrows-horizontal; 
  }
}
.ti-arrows-vertical {
  &:before {
    content: $ti-arrows-vertical; 
  }
}
.ti-bag {
  &:before {
    content: $ti-bag; 
  }
}
.ti-basket {
  &:before {
    content: $ti-basket; 
  }
}
.ti-behance {
  &:before {
    content: $ti-behance; 
  }
}
.ti-bell {
  &:before {
    content: $ti-bell; 
  }
}
.ti-bluetooth {
  &:before {
    content: $ti-bluetooth; 
  }
}
.ti-book {
  &:before {
    content: $ti-book; 
  }
}
.ti-bookmark {
  &:before {
    content: $ti-bookmark; 
  }
}
.ti-briefcase {
  &:before {
    content: $ti-briefcase; 
  }
}
.ti-calculator {
  &:before {
    content: $ti-calculator; 
  }
}
.ti-camera {
  &:before {
    content: $ti-camera; 
  }
}
.ti-card {
  &:before {
    content: $ti-card; 
  }
}
.ti-cart {
  &:before {
    content: $ti-cart; 
  }
}
.ti-chat {
  &:before {
    content: $ti-chat; 
  }
}
.ti-check-circle {
  &:before {
    content: $ti-check-circle; 
  }
}
.ti-check {
  &:before {
    content: $ti-check; 
  }
}
.ti-clip {
  &:before {
    content: $ti-clip; 
  }
}
.ti-close-circle {
  &:before {
    content: $ti-close-circle; 
  }
}
.ti-close {
  &:before {
    content: $ti-close; 
  }
}
.ti-cloud-check {
  &:before {
    content: $ti-cloud-check; 
  }
}
.ti-cloud-download {
  &:before {
    content: $ti-cloud-download; 
  }
}
.ti-cloud-upload {
  &:before {
    content: $ti-cloud-upload; 
  }
}
.ti-cloud {
  &:before {
    content: $ti-cloud; 
  }
}
.ti-coin {
  &:before {
    content: $ti-coin; 
  }
}
.ti-coins {
  &:before {
    content: $ti-coins; 
  }
}
.ti-currency-exchange {
  &:before {
    content: $ti-currency-exchange; 
  }
}
.ti-delete-document {
  &:before {
    content: $ti-delete-document; 
  }
}
.ti-delete-folder {
  &:before {
    content: $ti-delete-folder; 
  }
}
.ti-delete-location {
  &:before {
    content: $ti-delete-location; 
  }
}
.ti-diamond {
  &:before {
    content: $ti-diamond; 
  }
}
.ti-document-alt {
  &:before {
    content: $ti-document-alt; 
  }
}
.ti-document {
  &:before {
    content: $ti-document; 
  }
}
.ti-dollar-circle {
  &:before {
    content: $ti-dollar-circle; 
  }
}
.ti-dollar {
  &:before {
    content: $ti-dollar; 
  }
}
.ti-dribbble {
  &:before {
    content: $ti-dribbble; 
  }
}
.ti-earphones {
  &:before {
    content: $ti-earphones; 
  }
}
.ti-edit-alt {
  &:before {
    content: $ti-edit-alt; 
  }
}
.ti-edit {
  &:before {
    content: $ti-edit; 
  }
}
.ti-euro-circle {
  &:before {
    content: $ti-euro-circle; 
  }
}
.ti-euro {
  &:before {
    content: $ti-euro; 
  }
}
.ti-exit-full-screen {
  &:before {
    content: $ti-exit-full-screen; 
  }
}
.ti-eye {
  &:before {
    content: $ti-eye; 
  }
}
.ti-facebook {
  &:before {
    content: $ti-facebook; 
  }
}
.ti-filter-alt {
  &:before {
    content: $ti-filter-alt; 
  }
}
.ti-filter {
  &:before {
    content: $ti-filter; 
  }
}
.ti-flag {
  &:before {
    content: $ti-flag; 
  }
}
.ti-folder {
  &:before {
    content: $ti-folder; 
  }
}
.ti-forward {
  &:before {
    content: $ti-forward; 
  }
}
.ti-full-screen {
  &:before {
    content: $ti-full-screen; 
  }
}
.ti-gift {
  &:before {
    content: $ti-gift; 
  }
}
.ti-globe {
  &:before {
    content: $ti-globe; 
  }
}
.ti-google {
  &:before {
    content: $ti-google; 
  }
}
.ti-hangouts {
  &:before {
    content: $ti-hangouts; 
  }
}
.ti-heart-circle {
  &:before {
    content: $ti-heart-circle; 
  }
}
.ti-heart {
  &:before {
    content: $ti-heart; 
  }
}
.ti-help {
  &:before {
    content: $ti-help; 
  }
}
.ti-home {
  &:before {
    content: $ti-home; 
  }
}
.ti-idea {
  &:before {
    content: $ti-idea; 
  }
}
.ti-image {
  &:before {
    content: $ti-image; 
  }
}
.ti-increase {
  &:before {
    content: $ti-increase; 
  }
}
.ti-instagram {
  &:before {
    content: $ti-instagram; 
  }
}
.ti-joystick {
  &:before {
    content: $ti-joystick; 
  }
}
.ti-key {
  &:before {
    content: $ti-key; 
  }
}
.ti-lable {
  &:before {
    content: $ti-lable; 
  }
}
.ti-laptop {
  &:before {
    content: $ti-laptop; 
  }
}
.ti-lightning {
  &:before {
    content: $ti-lightning; 
  }
}
.ti-link {
  &:before {
    content: $ti-link; 
  }
}
.ti-linkedin {
  &:before {
    content: $ti-linkedin; 
  }
}
.ti-list {
  &:before {
    content: $ti-list; 
  }
}
.ti-loading {
  &:before {
    content: $ti-loading; 
  }
}
.ti-location {
  &:before {
    content: $ti-location; 
  }
}
.ti-locked {
  &:before {
    content: $ti-locked; 
  }
}
.ti-mail {
  &:before {
    content: $ti-mail; 
  }
}
.ti-map {
  &:before {
    content: $ti-map; 
  }
}
.ti-menu-circle {
  &:before {
    content: $ti-menu-circle; 
  }
}
.ti-menu {
  &:before {
    content: $ti-menu; 
  }
}
.ti-message {
  &:before {
    content: $ti-message; 
  }
}
.ti-messenger {
  &:before {
    content: $ti-messenger; 
  }
}
.ti-mobile {
  &:before {
    content: $ti-mobile; 
  }
}
.ti-money-bag {
  &:before {
    content: $ti-money-bag; 
  }
}
.ti-money-box {
  &:before {
    content: $ti-money-box; 
  }
}
.ti-moon {
  &:before {
    content: $ti-moon; 
  }
}
.ti-music {
  &:before {
    content: $ti-music; 
  }
}
.ti-navigation {
  &:before {
    content: $ti-navigation; 
  }
}
.ti-odnoklassniki {
  &:before {
    content: $ti-odnoklassniki; 
  }
}
.ti-package {
  &:before {
    content: $ti-package; 
  }
}
.ti-percent {
  &:before {
    content: $ti-percent; 
  }
}
.ti-phone {
  &:before {
    content: $ti-phone; 
  }
}
.ti-pinterest {
  &:before {
    content: $ti-pinterest; 
  }
}
.ti-plane {
  &:before {
    content: $ti-plane; 
  }
}
.ti-play-circle {
  &:before {
    content: $ti-play-circle; 
  }
}
.ti-play {
  &:before {
    content: $ti-play; 
  }
}
.ti-reduce {
  &:before {
    content: $ti-reduce; 
  }
}
.ti-reload {
  &:before {
    content: $ti-reload; 
  }
}
.ti-remove-document {
  &:before {
    content: $ti-remove-document; 
  }
}
.ti-remove-folder {
  &:before {
    content: $ti-remove-folder; 
  }
}
.ti-reply {
  &:before {
    content: $ti-reply; 
  }
}
.ti-rocket {
  &:before {
    content: $ti-rocket; 
  }
}
.ti-ruler {
  &:before {
    content: $ti-ruler; 
  }
}
.ti-scroll {
  &:before {
    content: $ti-scroll; 
  }
}
.ti-search {
  &:before {
    content: $ti-search; 
  }
}
.ti-security-announcement {
  &:before {
    content: $ti-security-announcement; 
  }
}
.ti-security-check {
  &:before {
    content: $ti-security-check; 
  }
}
.ti-security-close {
  &:before {
    content: $ti-security-close; 
  }
}
.ti-security-prohibition {
  &:before {
    content: $ti-security-prohibition; 
  }
}
.ti-send {
  &:before {
    content: $ti-send; 
  }
}
.ti-server-alt {
  &:before {
    content: $ti-server-alt; 
  }
}
.ti-server {
  &:before {
    content: $ti-server; 
  }
}
.ti-settings {
  &:before {
    content: $ti-settings; 
  }
}
.ti-share-alt {
  &:before {
    content: $ti-share-alt; 
  }
}
.ti-share {
  &:before {
    content: $ti-share; 
  }
}
.ti-skype {
  &:before {
    content: $ti-skype; 
  }
}
.ti-smile {
  &:before {
    content: $ti-smile; 
  }
}
.ti-star-filled {
  &:before {
    content: $ti-star-filled; 
  }
}
.ti-star {
  &:before {
    content: $ti-star; 
  }
}
.ti-sun {
  &:before {
    content: $ti-sun; 
  }
}
.ti-support {
  &:before {
    content: $ti-support; 
  }
}
.ti-target {
  &:before {
    content: $ti-target; 
  }
}
.ti-telegram {
  &:before {
    content: $ti-telegram; 
  }
}
.ti-thumb-up {
  &:before {
    content: $ti-thumb-up; 
  }
}
.ti-time {
  &:before {
    content: $ti-time; 
  }
}
.ti-trash {
  &:before {
    content: $ti-trash; 
  }
}
.ti-tumblr {
  &:before {
    content: $ti-tumblr; 
  }
}
.ti-turn-off {
  &:before {
    content: $ti-turn-off; 
  }
}
.ti-twitter {
  &:before {
    content: $ti-twitter; 
  }
}
.ti-unlocked {
  &:before {
    content: $ti-unlocked; 
  }
}
.ti-user-circle {
  &:before {
    content: $ti-user-circle; 
  }
}
.ti-user {
  &:before {
    content: $ti-user; 
  }
}
.ti-viber {
  &:before {
    content: $ti-viber; 
  }
}
.ti-video {
  &:before {
    content: $ti-video; 
  }
}
.ti-view-grid {
  &:before {
    content: $ti-view-grid; 
  }
}
.ti-view-list {
  &:before {
    content: $ti-view-list; 
  }
}
.ti-vimeo {
  &:before {
    content: $ti-vimeo; 
  }
}
.ti-vk {
  &:before {
    content: $ti-vk; 
  }
}
.ti-wallet {
  &:before {
    content: $ti-wallet; 
  }
}
.ti-watch {
  &:before {
    content: $ti-watch; 
  }
}
.ti-weather {
  &:before {
    content: $ti-weather; 
  }
}
.ti-wechat {
  &:before {
    content: $ti-wechat; 
  }
}
.ti-youtube-outline {
  &:before {
    content: $ti-youtube-outline; 
  }
}
.ti-youtube {
  &:before {
    content: $ti-youtube; 
  }
}
.ti-caret {
  &:before {
    content: $ti-caret; 
  }
}
.ti-paypal {
  &:before {
    content: $ti-paypal; 
  }
}
.ti-delivery {
  &:before {
    content: $ti-delivery; 
  }
}
.ti-loudspeaker {
  &:before {
    content: $ti-loudspeaker; 
  }
}
.ti-sign-in {
  &:before {
    content: $ti-sign-in; 
  }
}
.ti-sign-out {
  &:before {
    content: $ti-sign-out; 
  }
}
.ti-wash {
  &:before {
    content: $ti-wash; 
  }
}
.ti-bleach {
  &:before {
    content: $ti-bleach; 
  }
}
.ti-hand-wash {
  &:before {
    content: $ti-hand-wash; 
  }
}
.ti-ironing {
  &:before {
    content: $ti-ironing; 
  }
}
.ti-dry-clean {
  &:before {
    content: $ti-dry-clean; 
  }
}
.ti-add-user {
  &:before {
    content: $ti-add-user; 
  }
}
.ti-compare {
  &:before {
    content: $ti-compare; 
  }
}
.ti-monitor {
  &:before {
    content: $ti-monitor; 
  }
}
.ti-printer {
  &:before {
    content: $ti-printer; 
  }
}
.ti-speaker {
  &:before {
    content: $ti-speaker; 
  }
}
.ti-download {
  &:before {
    content: $ti-download; 
  }
}
.ti-upload {
  &:before {
    content: $ti-upload; 
  }
}
.ti-bluetooth-circle {
  &:before {
    content: $ti-bluetooth-circle; 
  }
}
.ti-battery {
  &:before {
    content: $ti-battery; 
  }
}
.ti-sound-waves {
  &:before {
    content: $ti-sound-waves; 
  }
}
.ti-paprika {
  &:before {
    content: $ti-paprika; 
  }
}
.ti-chili {
  &:before {
    content: $ti-chili; 
  }
}
.ti-canned-food {
  &:before {
    content: $ti-canned-food; 
  }
}
.ti-toothbrush {
  &:before {
    content: $ti-toothbrush; 
  }
}
.ti-pumpkin {
  &:before {
    content: $ti-pumpkin; 
  }
}
.ti-orange {
  &:before {
    content: $ti-orange; 
  }
}
.ti-broccoli {
  &:before {
    content: $ti-broccoli; 
  }
}
.ti-sauce {
  &:before {
    content: $ti-sauce; 
  }
}
.ti-soap {
  &:before {
    content: $ti-soap; 
  }
}
.ti-toilet-paper {
  &:before {
    content: $ti-toilet-paper; 
  }
}
.ti-lemon {
  &:before {
    content: $ti-lemon; 
  }
}
.ti-bread {
  &:before {
    content: $ti-bread; 
  }
}
.ti-jam {
  &:before {
    content: $ti-jam; 
  }
}
.ti-fish {
  &:before {
    content: $ti-fish; 
  }
}
.ti-wine {
  &:before {
    content: $ti-wine; 
  }
}
.ti-truck {
  &:before {
    content: $ti-truck; 
  }
}
.ti-tag {
  &:before {
    content: $ti-tag; 
  }
}
.ti-eggs {
  &:before {
    content: $ti-eggs; 
  }
}
.ti-store {
  &:before {
    content: $ti-store; 
  }
}
.ti-ham-leg {
  &:before {
    content: $ti-ham-leg; 
  }
}
.ti-discount {
  &:before {
    content: $ti-discount; 
  }
}
.ti-open {
  &:before {
    content: $ti-open; 
  }
}
.ti-juice {
  &:before {
    content: $ti-juice; 
  }
}
.ti-cheese {
  &:before {
    content: $ti-cheese; 
  }
}
.ti-milk {
  &:before {
    content: $ti-milk; 
  }
}
.ti-cashier {
  &:before {
    content: $ti-cashier; 
  }
}
.ti-avocado {
  &:before {
    content: $ti-avocado; 
  }
}
.ti-apple {
  &:before {
    content: $ti-apple; 
  }
}
.ti-pizza {
  &:before {
    content: $ti-pizza; 
  }
}
.ti-scale {
  &:before {
    content: $ti-scale; 
  }
}
.ti-ice-cream {
  &:before {
    content: $ti-ice-cream; 
  }
}
.ti-water-bottle {
  &:before {
    content: $ti-water-bottle; 
  }
}
.ti-carrot {
  &:before {
    content: $ti-carrot; 
  }
}
.ti-basket-alt {
  &:before {
    content: $ti-basket-alt; 
  }
}
.ti-corn {
  &:before {
    content: $ti-corn; 
  }
}
.ti-frozen {
  &:before {
    content: $ti-frozen; 
  }
}
.ti-lollipop {
  &:before {
    content: $ti-lollipop; 
  }
}
.ti-pot {
  &:before {
    content: $ti-pot; 
  }
}
.ti-star-half {
  &:before {
    content: $ti-star-half; 
  }
}
.ti-eye-off {
  &:before {
    content: $ti-eye-off; 
  }
}
.ti-thumb-up-filled {
  &:before {
    content: $ti-thumb-up-filled; 
  }
}
.ti-dot-square {
  &:before {
    content: $ti-dot-square; 
  }
}
.ti-checkbox-blank-line {
  &:before {
    content: $ti-checkbox-blank-line; 
  }
}
.ti-checkbox-blank-fill {
  &:before {
    content: $ti-checkbox-blank-fill; 
  }
}
.ti-checkbox-blank-circle-line {
  &:before {
    content: $ti-checkbox-blank-circle-line; 
  }
}
.ti-checkbox-blank-circle-fill {
  &:before {
    content: $ti-checkbox-blank-circle-fill; 
  }
}

