//
// Modal
// --------------------------------------------------


// Quick view modal

.modal-quick-view {
  .modal-dialog {
    max-width: $modal-xl !important;
  }
  @include media-breakpoint-up(sm) {
    padding-left: $spacer;
  }
}




.modal-dialog-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  border-width: 0px;
}


.modal-dialog-right{
  .modal-content {
      min-height: 100%;
      border-width: 0;
      border-radius: 0;
  }
}

.modal.fade {
  .modal-dialog-right {
      transform: translate(25%, 0);
  }
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
}


.modal-dialog-right{
  &.modal-dialog-scrollable{
    max-height: 100% !important;
  }
}