
// Notification
.notification {
    padding: 0;
    margin: 0;
    list-style: none;

    // max-height: 274px;
    // overflow: auto;

    .notification-item {
        display: flex;
        align-items: center;
        // padding: 0.75rem 1.25rem;
        padding: 0.75rem 0;

        &+.notification-item {
            border-top: 1px solid $gray-200;
        }

        .notification-icon {
            flex-shrink: 0;
            margin-right: .75rem;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $border-color;
        }

        .notification-content {

            .notification-text {
                font-size: 14px;
                color: $gray-700;
                overflow: hidden !important;
                display: -webkit-box !important;
                -webkit-box-orient: vertical;
            }

            .notification-time {
                font-size: 13px;
                color: $gray-500;
            }
        }
    }
}

.user-toggle {
    display: flex;
    align-items: center;
    padding: 0 1px 1px;
}

.user-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    flex-shrink: 0;
    position: relative;

    img{
        border-radius: 6.25rem;
    }
}