﻿@using TopFarm.Pages;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model Customer
@Html.AntiForgeryToken()


<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
        <div class="card py-3 mt-sm-3">
            <div class="card-body text-center">
                <h2 class="h4">Forgot Password?</h2>
                <p class="fs-sm mb-2">Enter the email address you used when you joined and<br>we'll send you instructions to reset your password.</p>

                <div class="row justify-content-center mt-4">
                    <div class="col-xxl-5 col-xl-6 col-lg-8">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="resetPasswordEmail" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address">
                            </div>

                            <a href="#!" id="resetbtn" role="button" class="btn btn-primary px-sm-5 mt-3">Send reset password link</a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("#resetbtn").click(function () {
                var Email = $("#resetPasswordEmail").val();

           $.ajax({
            type: "Get",
               url: '@Url.Action(Actions.IsEmailIdExist, Controllers.Account)',
               data: { Email: Email },
               dataType: "json",
               success: function (data)
               {

                   if (data == true) {
                        $.ajax({
                         type: "Post",
                            url: '@Url.Action(Actions.SendResetLink, Controllers.Account)',
                            data: { Email: Email },
                            dataType: "json",
                            success: function (data)
                            {
                                if (data == true) {
                                    /*ShowMessageToastr("success", "Reset password link send to your EmailId.");*/
                                    window.location.href = "/Account/successForgot";
                                }
                            },
                            error: function (data) {
                                if (data == true) {
                                    ShowMessageToastr("danger", "Error generate while sending Reset password link.");
                                }
                            }
                         });
                   }
                   else {
                       //ShowMessageToastr("warning", "Failed to load products.");
                       ShowMessageToastr("warning", "Your account does not exist.");
                   }
               }
              });
            });
        });
</script>

