﻿@using TopFarm.Pages;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var resetValue = ViewBag.IsReset;
}

@model Customer
@Html.AntiForgeryToken()

<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
        <div class="card py-3 mt-sm-3">
            <div class="card-body">
                <h2 class="h4 text-center">Reset Password</h2>

                <div class="row justify-content-center mt-4">
                    <div class="col-xxl-5 col-xl-6 col-lg-8">
                       @* <form class="needs-validation tab-pane fade show active" autocomplete="off" id="resettab" novalidate="novalidate" method="post" action="@Url.Action(Actions.ResetPassword, Controllers.Account)" onsubmit="validateForm();">*@
                            @using (Html.BeginForm(Actions.ResetPassword, Controllers.Account, FormMethod.Post, new { enctype = "multipart/form-data", returnUrl = "", @onsubmit = "return validateForm();" }))
                            {

                                @Html.AntiForgeryToken()
                            <div class="mb-3">
                                <label class="form-label" for="changePassword">Password</label>
                                <div class="password-toggle">
                                    @Html.TextBoxFor(m => m.confirmPassword, new { @type = "password", @class = "form-control" })

                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="changePasswordConfirm">Confirm password</label>
                                <div class="password-toggle">
                                    @*<input class="form-control" type="password" id="changePasswordConfirm" name="changePasswordConfirm" required="">*@
                                    @Html.TextBoxFor(m => m.confirmchangePassword, new { @type = "password",@class = "form-control" })

                                    <input class="form-control" type="hidden" id="token" name="token" value="@Model.token">

                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                            </div>


                            <div class="text-center">
                                <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Reset Password</button>
                            </div>

                            }
                        @*</form>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    function validateForm() {
        debugger;
        var pass = $("#confirmPassword").val();
        var confirmpass = $("#confirmchangePassword").val();

        if (pass != confirmpass) {
            $("#confirmchangePassword").val("");
            ShowMessageToastr("warning", "Confirm password does not match with Password.");
            $("#confirmchangePassword").focus();
            return false;
        }

        return true;
    }
    $(document).ready(function () {

       

        if ('@resetValue' == 'True') {
            ShowMessageToastr("success", "Password reset successfully.");
            window.location.href = "/Home/Index";
        }
    });
</script>
