﻿@using TopFarm.Pages;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "ForgotPassword-Success";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model Customer
@Html.AntiForgeryToken()

<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
        <div class="card py-3 mt-sm-3">
            <div class="card-body text-center">
                <h2 class="h4">Password reset email send successfully</h2>
                <p class="text-muted mb-2">We have email you password reset link, please reset your password.</p>
                <p class=" fs-sm mt-5">Don't received a varification email ? <a href="/Account/ForgotPassword" class="fw-medium">Resend Email</a></p>

            </div>
        </div>
    </div>
</div>

