﻿@using TopFarm.Pages;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var resetValue = ViewBag.IsReset;
}

@model Customer
@Html.AntiForgeryToken()

<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
        <div class="card py-3 mt-sm-3">
            <div class="card-body text-center">
                <h2 class="h4">Password reset successfully</h2>
                <p class="text-muted font-weight-medium font-size-sm mb-4">Please <a href="javascript:;" role="button" class="font-weight-bold" data-bs-toggle="modal" data-bs-target="#signin-modal">login</a>  in your account with new password</p>

            </div>
        </div>
    </div>
</div>
