﻿@using TopFarm.Pages;
@using TopFarm.Common;
@using TopFarm.Entities.V1;

@{
    ViewBag.Title = "Customer Profile";
    ViewBag.ActiveMenuId = "CustomerProfile";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@model Customer
@Html.AntiForgeryToken()

<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" href=""><i class="ti-home"></i>Home</a></li>
                    <li class="breadcrumb-item text-nowrap">
                        <a href="#">Customer</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Grid left sidebar</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Profile Info</h1>
        </div>
    </div>
</div>

<div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
        <!-- Sidebar-->
        @Html.Partial("_ClientSidebar")
        <!-- Content  -->
        <section class="col-lg-8">
            <!-- Toolbar-->
            <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                <h6 class="fs-base text-light mb-0">Update you profile details below:</h6>
                <a class="btn btn-primary btn-sm" href="@Url.Action(Actions.Logout, Controllers.Account)">
                    <i class="ti-sign-out me-2"></i>Sign out
                </a>
            </div>
            <!-- Profile form-->


            @using (Html.BeginForm(Actions.UpdateProfile, Controllers.CustomerProfile, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return ValidateTraderForm();", @id = "frmAddEditProduct" }))
            {
                <div class="bg-secondary rounded-3 p-4 mb-4">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.AvtarURL)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.Address)
                    @Html.HiddenFor(model => model.CustomerId)
                    @Html.HiddenFor(model => model.AddressId)


                    <div class="d-flex align-items-center">

                        @if (ViewBag.IsImage != null)
                        {
                            @*<img class="rounded" alt=" " src="@Model.AvtarURL" width="100" height="100" id="blah" />*@
                            <img class="img-fluid" alt=" " src="@Model.AvtarURL" width="90" id="blah" height="100" />
                        }
                        else
                        {
                            <img id="blah" class="rounded" src="img/shop/account/avatar.jpg" width="90" alt="Susan Gardner">
                        }

                        <div class="ps-3">
                            @Html.TextBoxFor(model => model.FileURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL", hidden = "hidden" })
                            <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar"><i class="ti-loading me-2"></i>Change avatar</button>
                            <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                        </div>
                    </div>
                </div>
                @*<div class="bg-secondary rounded-3 p-4 mb-4">

                        <div class="d-flex align-items-center">
                        <div class="ps-3">
                            @if (ViewBag.IsImage != null)
                                    {
                                        <img id='img-upload' class="img-fluid" alt=" " src="@Model.AvtarURL" width="100" height="100" />
                                    }
                                    else
                                    {
                                        <img src="~/Storage/Customer/defaultimage.png" height="50" width="50" />
                                    }

                                <div class="ps-3">
                                    @Html.TextBoxFor(model => model.FileURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL", hidden = "hidden" })

                                    <button class="btn btn-light btn-shadow btn-sm mb-2" type="button" id="SelectAvtar">
                                        <i class="ci-loading me-2"></i>Change <span class='d-none d-sm-inline'>avatar</span>
                                    </button>
                                    <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                                </div>

                            @Html.TextBoxFor(model => model.FileURL, new { Type = "file", @class = "form-input-styled", id = "FileURL", name = "FileURL" })
                        </div>
                    </div>
                    </div>*@
                <div class="row gx-4 gy-3">
                    <div class="col-sm-6">
                        <label class="form-label" for="account-fn">First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="account-ln">Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="account-email">Email Address</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "disabled" })

                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="account-phone">Phone Number</label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

                    </div>
                    @*<div class="col-sm-6">
                            <label class="form-label" for="account-pass">New Password</label>
                            <div class="password-toggle">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label" for="account-confirm-pass">Confirm Password</label>
                            <div class="password-toggle">
                                @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control" })
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>*@
                <div class="col-sm-6">
                    <label class="form-label" for="account-tax-number">NIP Number</label>
                    @Html.TextBoxFor(m => m.NIP, new { @class = "form-control",@name = "NIP", @maxlength = "10" })


                </div>

                </div>

                <div class="row gx-4 gy-3 border-top my-3">
                    <div class="col-12">
                        <h5>Address</h5>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-country">Country</label>
                        @Html.DropDownListFor(a => a.CountryID, (IEnumerable<SelectListItem>)ViewBag.Country, "Select country", new { @class = "form-control", placeholder = "Select country" })
                        <div class="invalid-feedback">Please select your country!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-city">State</label>
                        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })

                        <div class="invalid-feedback">Please fill in your state!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-city">City</label>
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                        <div class="invalid-feedback">Please fill in your city!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-city">Area</label>
                        @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
                        <div class="invalid-feedback">Please fill in your area!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-line1">Line 1</label>
                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })

                        <div class="invalid-feedback">Please fill in your address!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-line2">Line 2</label>
                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })

                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="address-zip">PIN code</label>
                        @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control" })

                        <di7v class="invalid-feedback">Please add your ZIP code!</di7v>
                    </div>
                </div>

                <div class="row gx-4 gy-3">
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="subscribe_me" checked>
                                <label class="form-check-label" for="subscribe_me">Subscribe me to Newsletter</label>
                            </div>
                            <button class="btn btn-primary mt-3 mt-sm-0" type="submit">Update profile</button>
                        </div>
                    </div>
                </div>
            }

        </section>
    </div>
</div>
<style type="text/css">
</style>
<script>
//const { isNumeric } = require("../../Scripts/umd/popper-utils");

//const { isNumber } = require("underscore");


    $("#FileURL").change(function () {
        const [file] = FileURL.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    });

    $("#SelectAvtar").click(function () {
        $("#FileURL").trigger('click');

    });

    $("#FileURL").change(function () {

        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [label]);
    });

    $('.btn-file :file').on('fileselect', function (event, label) {

        var input = $(this).parents('.input-group').find(':text'),
            log = label;

        if (input.length) {
            input.val(log);
        } else {
            if (log) alert(log);
        }

    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#img-upload').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#FileURL").change(function () {
        readURL(this);
    });

    $("#NIP").change(function () {
        if ($(this).val().match(/^[0-9]+$/) == null) {
            ShowMessageToastr("danger", "Please enter only number.");
            $("#NIP").focus();
            $(this).val('')
        }

    });

      if ("@TempData["openPopup"]" != null && "@TempData["openPopup"]" != "")
        {
            ShowMessageToastr("success", "@ViewBag.openPopup");
        }
    function ValidateTraderForm() {
        let Firstname = $('#FirstName').val();
        if (Firstname === NaN || Firstname === "") {
            ShowMessageToastr("danger", "Please enter fisrt name.");
            $("#FirstName").focus();
            return false;
        }

        let LastName = $('#LastName').val();
        if (LastName === NaN || LastName === "") {
            ShowMessageToastr("danger", "Please enter last name.");
            $("#LastName").focus();
            return false;
        }

        let Phone = $('#Phone').val();
        if (Phone === NaN || Phone === "") {
            ShowMessageToastr("danger", "Please enter phone number.");
            $("#Phone").focus();
            return false;
        }

        let CountryID = $('#CountryID').val();
        if (CountryID === NaN || CountryID === "") {
            ShowMessageToastr("danger", "Please select country.");
            $("#CountryID").focus();
            return false;
        }
     
        let State = $('#State').val();
        if (State === NaN || State === "") {
            ShowMessageToastr("danger", "Please enter state.");
            $("#State").focus();
            return false;
        }

        let City = $('#City').val();
        if (City === NaN || City === "") {
            ShowMessageToastr("danger", "Please enter city.");
            $("#City").focus();
            return false;
        }
        let Area = $('#Area').val();
        if (Area === NaN || Area === "") {
            ShowMessageToastr("danger", "Please enter area.");
            $("#Area").focus();
            return false;
        }
        let Address1 = $('#Address1').val();
        if (Address1 === NaN || Address1 === "") {
            ShowMessageToastr("danger", "Please enter address.");
            $("#Address1").focus();
            return false;
        }
        let Pincode = $('#Pincode').val();
        if (Pincode === NaN || Pincode === "") {
            ShowMessageToastr("danger", "Please enter zipcode.");
            $("#Pincode").focus();
            return false;
        }
        let TaxNo = $('#NIP').val();
        if (TaxNo === NaN || TaxNo === "") {
            ShowMessageToastr("danger", "Please enter NIP Number.");
            $("#NIP").focus();
            return false;
        }
    }
</script>
