﻿@using TopFarm.Pages;
@using TopFarm.Entities.V1;
@using TopFarm.Common;

@{
    ViewBag.Title = "Help";
    Layout = null;
}

@model BlogCategory
@Html.AntiForgeryToken()



<head>
    <meta charset="utf-8">
    <title>Topfarms </title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="~/dist/vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/tiny-slider/dist/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/drift-zoom/dist/drift-basic.min.css" />
    <link rel="stylesheet" media="screen" href="~/dist/vendor/lightgallery.js/dist/css/lightgallery.min.css" />

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="~/dist/css/theme.min.css">

</head>

<!-- Body-->
<body class="handheld-toolbar-enabled">

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Navbar-->
        <header class="shadow-sm">

            <!-- Topbar-->
            <div class="topbar topbar-dark bg-dark">
                <div class="container">
                    <div>
                        <!-- Language & Currency -->
                        <div class="topbar-text dropdown disable-autohide">
                            <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <img class="me-2" src="/img/flags/en.png" width="20" alt="English">Eng / $
                            </a>
                            <ul class="dropdown-menu my-1">
                                <li class="dropdown-item">
                                    <select class="form-select form-select-sm">
                                        <option value="usd">$ USD</option>
                                        <option value="eur">€ EUR</option>
                                        <option value="ukp">£ UKP</option>
                                        <option value="jpy">¥ JPY</option>
                                    </select>
                                </li>
                                <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/img/flags/fr.png" width="20" alt="Français">Français</a></li>
                                <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
                                <li><a class="dropdown-item" href="#"><img class="me-2" src="/img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
                            </ul>
                        </div>

                        <!-- Contact -->
                        <div class="topbar-text text-nowrap d-none d-md-inline-block border-start border-light ps-3 ms-3">
                            <span class="text-muted me-1">Available 24/7 at</span>
                            <a class="topbar-link" href="tel:00451297720">(00) 45 129 7720</a>
                        </div>
                    </div>

                    <div class="topbar-text dropdown d-md-none ms-auto">
                        <a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Wishlist / Track</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="account-wishlist.html"><i class="ti-heart text-muted me-2"></i>Wishlist (3)</a></li>
                            <li><a class="dropdown-item" href="order-tracking.html"><i class="ti-location text-muted me-2"></i>Order tracking</a></li>
                        </ul>
                    </div>

                    <div class="d-none d-md-block ms-3 text-nowrap">
                        <a class="topbar-link d-none d-md-inline-block" href="account-wishlist.html">
                            <i class="ti-heart mt-n1"></i>Wishlist (3)
                        </a>
                        <a class="topbar-link ms-3 border-start border-light ps-3 d-none d-md-inline-block" href="order-tracking.html">
                            <i class="ti-location mt-n1"></i>Order tracking
                        </a>
                    </div>
                </div>
            </div>

            <!-- Navbar -->
            <div class="navbar-sticky bg-light">
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand d-none d-sm-block me-3 flex-shrink-0" href="index.html">
                            <img src="/img/logo-dark.png" width="142" alt="">
                        </a>
                        <a class="navbar-brand d-sm-none me-2" href="index.html">
                            <img src="/img/logo-icon.png" width="74" alt="">
                        </a>

                        <!-- Search-->
                        <div class="input-group d-none d-lg-flex flex-nowrap mx-4">
                            <i class="ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                            <input class="form-control rounded-start w-100" type="text" placeholder="Search for products">

                            <select class="form-select flex-shrink-0" style="width: 10.5rem;">
                                <option>All categories</option>
                                <option>Seeds</option>
                                <option>Pesticides</option>
                                <option>Micronutrients</option>
                                <option>Fertilisers</option>
                                <option>Agri Equipments</option>
                                <option>Nursery Plants</option>
                                <option>Irrigation</option>
                                <option>Plant Protection</option>
                                <option>Crop Nutrition</option>
                                <option>Organic Farming</option>
                            </select>
                        </div>

                        <!-- Toolbar-->
                        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <a class="navbar-tool navbar-stuck-toggler" href="#">
                                <span class="navbar-tool-tooltip">Toggle menu</span>
                                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-menu"></i></div>
                            </a>

                            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
                                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ti-user"></i></div>
                                <div class="navbar-tool-text ms-n3"><small>Hello, Sign in</small>My Account</div>
                            </a>

                            <div class="navbar-tool ms-3">
                                <a class="navbar-tool-icon-box bg-secondary" href="shop-cart.html">
                                    <span class="navbar-tool-label">4</span>
                                    <i class="navbar-tool-icon ti-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar navbar-expand-lg make-menu-offcanvas navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <a class="nav-link fs-sm d-lg-none" href="#" data-bs-toggle="offcanvas" data-bs-target="#navbarCollapse" role="tab">
                                <i class="ti-close fs-xs me-2"></i>Close
                            </a>

                            <!-- Search-->
                            <div class="input-group d-lg-none my-3">
                                <i class="ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                                <input class="form-control rounded-start" type="text" placeholder="Search for products">
                            </div>

                            <!-- Categories menu-->
                            <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown">
                                        <i class="ti-menu align-middle mt-n1 me-2"></i>
                                        Categories
                                    </a>

                                    <ul class="dropdown-menu">

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Agricultural Equipments
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-sm-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Seeds
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-sm-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Books &amp; CD
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links mb-3">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Care &amp; Hygiene
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column pt-0 pb-4 py-sm-4 px-3">
                                                        <div class="widget widget-links">
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Micronutrients
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 8</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 9</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Nursery Garden
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Organic Products
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="dropdown mega-dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                Sprayers
                                            </a>

                                            <div class="dropdown-menu p-0">
                                                <div class="d-flex flex-wrap flex-md-nowrap px-2">
                                                    <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                        <div class="widget widget-links mb-3">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base mb-3">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="mega-dropdown-column py-4 px-3">
                                                        <div class="widget widget-links">
                                                            <h6 class="fs-base">Category Name</h6>
                                                            <ul class="widget-list">
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 1</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 2</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 3</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 4</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 5</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 6</a></li>
                                                                <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Menu Item 7</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                            <!-- Primary menu-->
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="~/index.html">Home</a>
                                </li>


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Seeds</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Category Name</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Cotton Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Field Crops Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Flower Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Fruit Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Garden Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Vegetable Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Cereal Seeds</a></li>
                                                <li><a class="dropdown-item" href="">Other Seeds</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Vegetable Seeds</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">List item 1</a></li>
                                                <li><a class="dropdown-item" href="">List item 2</a></li>
                                                <li><a class="dropdown-item" href="">List item 3</a></li>
                                                <li><a class="dropdown-item" href="">List item 4</a></li>
                                                <li><a class="dropdown-item" href="">List item 5</a></li>
                                                <li><a class="dropdown-item" href="">List item 6</a></li>
                                                <li><a class="dropdown-item" href="">List item 7</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="">Item Name 1</a></li>
                                        <li><a class="dropdown-item" href="">Item Name 2</a></li>
                                        <li><a class="dropdown-item" href="">Item Name 3</a></li>
                                        <li><a class="dropdown-item" href="">Item Name 4</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pesticides</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">Biological Control</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">List item 1</a></li>
                                                <li><a class="dropdown-item" href="">List item 2</a></li>
                                                <li><a class="dropdown-item" href="">List item 3</a></li>
                                                <li><a class="dropdown-item" href="">List item 4</a></li>
                                                <li><a class="dropdown-item" href="">List item 5</a></li>
                                                <li><a class="dropdown-item" href="">List item 6</a></li>
                                                <li><a class="dropdown-item" href="">List item 7</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-divider"></li>

                                        <li><a class="dropdown-item" href="">House Hold Insecticides</a></li>

                                        <li><a class="dropdown-item" href="">Insecticides</a></li>

                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Bio Pesticides</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">List item 1</a></li>
                                                <li><a class="dropdown-item" href="">List item 2</a></li>
                                                <li><a class="dropdown-item" href="">List item 3</a></li>
                                                <li><a class="dropdown-item" href="">List item 4</a></li>
                                                <li><a class="dropdown-item" href="">List item 5</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Herbicides</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">List item 1</a></li>
                                                <li><a class="dropdown-item" href="">List item 2</a></li>
                                                <li><a class="dropdown-item" href="">List item 3</a></li>
                                                <li><a class="dropdown-item" href="">List item 4</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Micronutrients</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu Item 1</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Menu Item 2.1</a></li>
                                                <li><a class="dropdown-item" href="">Menu Item 2.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">Menu Item 2</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Menu Item 2.1</a></li>
                                                <li><a class="dropdown-item" href="">Menu Item 2.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu Item 3</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Menu Item 2.1</a></li>
                                                <li><a class="dropdown-item" href="">Menu Item 2.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Organic Products</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu Item 1</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Menu Item 2.1</a></li>
                                                <li><a class="dropdown-item" href="">Menu Item 2.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">Menu Item 2</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Menu Item 2.1</a></li>
                                                <li><a class="dropdown-item" href="">Menu Item 2.2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Menu Item 3</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="">Menu Item 2.1</a></li>
                                                <li><a class="dropdown-item" href="">Menu Item 2.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Hero section with search-->
        <section class="position-relative bg-dark bg-size-cover bg-position-center-x position-relative py-5 mb-5" style="background-image: url(/img/pages/help-hero-bg.jpg);">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-darker" style="opacity: .65;"></span>
            <div class="container position-relative zindex-5 py-4 my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-light text-center">How can we help?</h1>
                        <p class="pb-3 text-light text-center">Ask Questions. Browse Topics. Find Answers.</p>
                        <div class="input-group input-group-lg mb-3">
                            <i class="ti-search position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="search" placeholder="Ask your question...">
                        </div>
                        <div class="fs-sm"><span class="text-light opacity-50 me-1">Suggestions:</span><a class="nav-link-style nav-link-light me-1 pb-1 border-bottom border-light" href="#"> Dashboard,</a><a class="nav-link-style nav-link-light me-1 pb-1 border-bottom border-light" href="#">Payment,</a><a class="nav-link-style nav-link-light me-1 pb-1 border-bottom border-light" href="#"> Refunds,</a><a class="nav-link-style nav-link-light me-1 pb-1 border-bottom border-light" href="#"> Delivery</a></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Topics grid-->
        <section class="container py-3">
            <h2 class="h3 text-center">Select a topic</h2>
            <div class="row pt-4" id="blogdetails">
                
            </div>
        </section>



        <!-- Footer-->
        <footer class="bg-dark pt-5">
            <div class="container">
                <div class="row pb-2">
                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links widget-light pb-2 mb-4">
                            <h3 class="widget-title text-light">Shop departments</h3>
                            <ul class="widget-list">
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Seeds</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Pesticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Biological Control</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Insecticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Insecticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Bio Pesticides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Herbicides</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Equipments</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Agricultural Equipments</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Organic Products</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Care & Hygiene</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Nursery Garden</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget-links widget-light pb-2 mb-4">
                            <h3 class="widget-title text-light">Account &amp; shipping info</h3>
                            <ul class="widget-list">
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Your account</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping rates &amp; policies</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Refunds &amp; replacements</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Order tracking</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Delivery info</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; fees</a></li>
                            </ul>
                        </div>
                        <div class="widget widget-links widget-light pb-2 mb-4">
                            <h3 class="widget-title text-light">About us</h3>
                            <ul class="widget-list">
                                <li class="widget-list-item"><a class="widget-list-link" href="#">About company</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Our team</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>
                                <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widget pb-2 mb-4">
                            <h3 class="widget-title text-light pb-1">Stay informed</h3>
                            <form>
                                <div class="input-group flex-nowrap">
                                    <i class="ti-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                                    <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Your email" required>
                                    <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
                                </div>

                                <div class="form-text text-light opacity-50">*Subscribe to our newsletter to receive early discount offers, updates and new products info.</div>
                                <div class="subscription-status"></div>
                            </form>
                        </div>

                        <div class="widget pb-2 mb-4">
                            <h3 class="widget-title text-light pb-1">Download our app</h3>
                            <div class="d-flex flex-wrap">
                                <div class="me-2 mb-2">
                                    <a class="btn-market btn-apple" href="#" role="button">
                                        <span class="btn-market-subtitle">Download on the</span>
                                        <span class="btn-market-title">App Store</span>
                                    </a>
                                </div>
                                <div class="mb-2">
                                    <a class="btn-market btn-google" href="#" role="button">
                                        <span class="btn-market-subtitle">Download on the</span>
                                        <span class="btn-market-title">Google Play</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pt-5 bg-darker">
                <div class="container">
                    <div class="row pb-3">
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-rocket text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">Fast and free delivery</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">Free delivery for all orders over $200</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">Money back guarantee</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">We return money within 30 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-support text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">24/7 customer support</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">Friendly 24/7 customer support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="d-flex">
                                <i class="ti-card text-primary" style="font-size: 2.25rem;"></i>
                                <div class="ps-3">
                                    <h6 class="fs-base text-light mb-1">Secure online payment</h6>
                                    <p class="mb-0 fs-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="hr-light mb-5">

                    <div class="row pb-2">
                        <div class="col-md-6 text-center text-md-start mb-4">
                            <div class="text-nowrap mb-4">
                                <a class="d-inline-block align-middle mt-n1 me-3" href="#">
                                    <img class="d-block" src="/img/footer-logo-light.png" width="117" alt="">
                                </a>

                                <div class="btn-group dropdown disable-autohide">
                                    <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-bs-toggle="dropdown">
                                        <img class="me-2" src="/img/flags/en.png" width="20" alt="English">Eng / $
                                    </button>
                                    <ul class="dropdown-menu my-1">
                                        <li class="dropdown-item">
                                            <select class="form-select form-select-sm">
                                                <option value="usd">$ USD</option>
                                                <option value="eur">€ EUR</option>
                                                <option value="ukp">£ UKP</option>
                                                <option value="jpy">¥ JPY</option>
                                            </select>
                                        </li>
                                        <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/img/flags/fr.png" width="20" alt="Français">Français</a></li>
                                        <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
                                        <li><a class="dropdown-item" href="#"><img class="me-2" src="/img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget widget-links widget-light">
                                <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Outlets</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Affiliates</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a></li>
                                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms of use</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6 text-center text-md-end mb-4">
                            <div class="mb-3">
                                <a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#">
                                    <i class="ti-twitter"></i>
                                </a>
                                <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#">
                                    <i class="ti-instagram"></i>
                                </a>
                                <a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#">
                                    <i class="ti-pinterest"></i>
                                </a>
                                <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#">
                                    <i class="ti-youtube"></i>
                                </a>
                            </div>

                            <img class="d-inline-block" src="/img/cards-alt.png" width="187" alt="Payment methods">
                        </div>
                    </div>

                    <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">
                        © All rights reserved. Made by
                        <a class="text-light" href="" target="_blank" rel="noopener">TopFarms</a>
                    </div>

                </div>
            </div>
        </footer>

        <!-- Toolbar for handheld devices (Default)-->
        <div class="handheld-toolbar">
            <div class="d-table table-layout-fixed w-100">
                <a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html">
                    <span class="handheld-toolbar-icon"><i class="ti-heart"></i></span>
                    <span class="handheld-toolbar-label">Wishlist</span>
                </a>

                <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
                    <span class="handheld-toolbar-icon"><i class="ti-menu"></i></span>
                    <span class="handheld-toolbar-label">Menu</span>
                </a>

                <a class="d-table-cell handheld-toolbar-item" href="shop-cart.html">
                    <span class="handheld-toolbar-icon">
                        <i class="ti-cart"></i>
                        <span class="badge bg-primary rounded-pill ms-1">4</span>
                    </span>

                    <span class="handheld-toolbar-label">$265.00</span>
                </a>
            </div>
        </div>

        <!-- Back To Top Button-->
        <a class="btn-scroll-top" href="#top" data-scroll>
            <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
            <i class="btn-scroll-top-icon ti-arrow-up"></i>
        </a>
    </div>

    <!-- Sign in / sign up modal-->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ti-unlocked me-2 mt-n1"></i>Sign in</a></li>
                        <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ti-user me-2 mt-n1"></i>Sign up</a></li>
                    </ul>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body tab-content py-4">
                    <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
                        <div class="mb-3">
                            <label class="form-label" for="si-email">Email address</label>
                            <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="si-password">Password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" id="si-password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 d-flex flex-wrap justify-content-between">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" id="si-remember">
                                <label class="form-check-label" for="si-remember">Remember me</label>
                            </div><a class="fs-sm" href="#">Forgot password?</a>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
                    </form>
                    <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
                        <div class="mb-3">
                            <label class="form-label" for="su-name">Full name</label>
                            <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
                            <div class="invalid-feedback">Please fill in your name.</div>
                        </div>
                        <div class="mb-3">
                            <label for="su-email">Email address</label>
                            <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="su-password">Password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" id="su-password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="su-password-confirm">Confirm password</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password" id="su-password-confirm" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor scrits: js libraries and plugins-->
    <script src="~/dist/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="~/dist/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="~/dist/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="~/dist/vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="~/dist/vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="~/dist/vendor/lg-video.js/dist/lg-video.min.js"></script>


    <!-- Main theme script-->
    <script src="~/dist/js/theme.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
</body>
<script>

    $(document).ready(function () {
        blogcategorylist();
    });

    function blogcategorylist() {

        $.ajax({
            type: "POST",
            url: "BlogCategoryList",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Values.length <= 0) {
                    $('#blogdetails').html(`
                    <tr>
                        <td colspan="100" class="text-center" style="font-size:18px;font-weight:500;">No blog found</td>
                    </tr>
                `)
                } else {
                    $("#blogdetails").html(``);
                }

                for (i = 0; i < result.Values.length; i++) {
                    $('#blogdetails').append(`
                    <div class="col-lg-3 col-sm-6 mb-grid-gutter">
                    <div class="card border-0 shadow">
                        <div class="card-body text-center">
                            <i class="ti-user-circle h2 mt-2 mb-4 text-primary"></i>
                            <h6>${result.Values[i].Name}</h6>
                            <p class="fs-sm text-muted pb-2"></p><a class="btn btn-outline-primary btn-sm stretched-link mb-2" href="/Help/HelpDetails?blogCategoryId=${result.Values[i].ID}">Learn more</a>
                        </div>
                    </div>
                </div>
                `);
                }

            }, error: function (error) {
                // Error function
            }
        });
        return false;
    }
</script>