﻿@using TopFarm.Entities.V1
@using TopFarm.Pages

@{
    ViewBag.Title = "Add Daily Report";
    Layout = "~/Views/Shared/_LayoutTradersWithHeaderOnly.cshtml";
}

@model DailyReport
<div class="col-lg-10">
    <h2 class="h3 me-2 mb-4 pb-4 text-center text-sm-start border-bottom">Add Daily Report</h2>
    @using (Html.BeginForm(Actions.SaveDailyReport, Controllers.TDailyReport, FormMethod.Post, new { enctype = "multipart/form-data", area = "", returnUrl = "", @onsubmit = "return validateForm();", @id = "frmAddEditProduct" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.IsSubmitted)
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="form-group mb-3">
                <label for="reportDaste" class="form-label">Date</label>
                @if (@Model.ID > 0)
                {
                    <label class="form-control">@Model.DateStr</label>
                    @Html.HiddenFor(m => m.Date)
                }
                else
                {
                    @Html.TextBoxFor(m => m.Date, new { @type = "date", @class = "form-control" })
                }
            </div>
        </div>
<<<<<<< .merge_file_a22692

=======
>>>>>>> .merge_file_a16928
        <div class="col-12">
            @if (@Model.DailyVisits != null)
            {
                foreach (var visit in @Model.DailyVisits)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="CustomerName" class="form-label">Customer Name</label>
                                        <div>@visit.CustomerName</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="CustomerLocation" class="form-label">Customer Location</label>
                                        <div>@visit.CustomerLocation</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="noOfCows" class="form-label">No. of Cows</label>
                                        <div>@visit.NoOfCows</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="visitPurpose" class="form-label">Visit Purpose</label>
                                        <div>@visit.VisitPurposeName</div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="form-group mb-3">
                                        <label for="newOrder" class="form-label">New Order</label>
                                        <div>@(visit.NewOrder == true ? "Yes" : "No")</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-3">
                                        <label for="summery" class="form-label">Summary</label>
                                        <div>@visit.Summary</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group mb-3">
                                <label for="CustomerName" class="form-label">Customer Name</label>
                                @Html.TextBoxFor(m => m.Visit.CustomerName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group mb-3">
                                <label for="CustomerLocation" class="form-label">Customer Location</label>
                                @Html.TextBoxFor(m => m.Visit.CustomerLocation, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group mb-3">
                                <label for="noOfCows" class="form-label">No. of Cows</label>
                                @Html.TextBoxFor(m => m.Visit.NoOfCows, new { @class = "form-control", @type = "Number", @min = "0" })
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group mb-3">
                                <label for="visitPurpose" class="form-label">Visit Purpose</label>
                                @Html.DropDownListFor(m => m.Visit.VisitPurposeID, (IEnumerable<SelectListItem>)@ViewBag.DDVisitPurpose, "Select", new { @class = "form-select" })
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="form-group mb-3">
                                <label for="newOrder" class="form-label">New Order</label>
                                @Html.DropDownListFor(m => m.Visit.NewOrder,
                                (IEnumerable<SelectListItem>
                                    )(new List<SelectListItem>
                                        ()
                                        {
                                        new SelectListItem() { Text = "Yes", Value = "true" },
                                        new SelectListItem() { Text = "No", Value = "false" }
                                        }), "Select", new { @class = "form-select" })
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-3">
                                <label for="summery" class="form-label">Summary</label>
                                @Html.TextAreaFor(m => m.Visit.Summary, new { @class = "form-control", @rows = "8" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary my-5" id="AddVisit" type="submit">Add Visit</button>
        </div>

        @if (@Model.ID > 0)
        {
            <div class="col-12 text-center">
                <button class="btn btn-primary my-5" id="Submit" onclick="SubmitReport();">Submit Daily Report</button>
            </div>
        }
<<<<<<< .merge_file_a22692
    </div>
=======
</div>
>>>>>>> .merge_file_a16928
    }
</div>
<script>
    function SubmitReport() {
        $('#IsSubmitted').val(true);
        $('#AddVisit').trigger('click');
    }

    function validateForm() {
        if ($('#IsSubmitted').val() == true) {
            return true;
        }

        let Date = $('#Date').val();
        if (Date === NaN || Date === "") {
            ShowMessageToastr("danger", "Please select Date.");
            $("#Date").focus();
            return false;
        }

        let CustomerName = $('#CustomerName').val();
        if (CustomerName === NaN || CustomerName === "") {
            ShowMessageToastr("danger", "Please enter customer name.");
            $("#CustomerName").focus();
            return false;
        }

        let CustomerLocation = $('#CustomerLocation').val();
        if (CustomerLocation === NaN || CustomerLocation === "") {
            ShowMessageToastr("danger", "Please enter customer location.");
            $("#CustomerLocation").focus();
            return false;
        }

        let NoOfCows = $('#NoOfCows').val();
        if (NoOfCows === NaN || NoOfCows === "") {
            ShowMessageToastr("danger", "Please enter No Of Cows.");
            $("#NoOfCows").focus();
            return false;
        }

        let VisitPurposeID = $('#VisitPurposeID').val();
        if (VisitPurposeID === NaN || VisitPurposeID === "") {
            ShowMessageToastr("danger", "Please select visit purpose.");
            $("#VisitPurposeID").focus();
            return false;
        }

        let NewOrder = $('#NewOrder').val();
        if (NewOrder === NaN || NewOrder === "") {
            ShowMessageToastr("danger", "Please select New Order.");
            $("#NewOrder").focus();
            return false;
        }

        let Summary = $('#Summary').val();
        if (Summary === NaN || Summary === "") {
            ShowMessageToastr("danger", "Please enter Summary.");
            $("#Summary").focus();
            return false;
        }

        return true;
    }
</script>


