﻿@using TopFarm.Pages;

@{
    ViewBag.Title = "Daily Report";
    ViewBag.ActiveMenuId = "DailyReport";
    Layout = "~/Views/Shared/_LayoutTraders.cshtml";
}

@Html.AntiForgeryToken()
<!-- Content-->
<section class="col-xl-9 col-lg-10 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
        <div class="d-sm-flex flex-wrap justify-content-between align-items-center">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Daily Report</h2>
            <div class="py-2">
                <div class="d-flex flex-nowrap align-items-center pb-3">
                    <a href="@Url.Action(Actions.AddDailyReport,Controllers.TDailyReport)" class="btn btn-primary" role="button"><i class="ti-add me-2 fs-sm"></i>Add Report</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 border m-0 p-0">
                <table class="table" id="TBLDailyReport"></table>
            </div>
        </div>
    </div>
</section>

<!-- Add Worklof -->
<div class="modal fade" id="dailyReportView" tabindex="-1" aria-labelledby="dailyReportViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-right modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dailyReportViewLabel">View Daily Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        DailyReportTBL.init();
    });

    var DailyReportTBL = function () {
        var initTable1 = function () {
            var table = $('#TBLDailyReport');

            var oTable = table.dataTable({
                "stateSave": true,
                "autoWidth": false,
                "paging": true,
                "bLengthChange": false,
                "searching": false,
                "scrollX": true,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "pageLength": 10,
                "processing": false,
                "serverSide": true,
                "ajax": {
                    async: true,
                    url: '@Url.Action(Actions.BindDailyReport, Controllers.TDailyReport)',
                    type: "post",
                    data: addRequestVerificationToken({})
                },
                "columns": [
                    {
                        "title": "#",
                        "data": "ID",
                        "orderable": false
                    },
                    {
                        "title": "Date",
                        "data": "DateStr",
                        "orderable": false
                    },
                    {
                        "title": "Submitted",
                        "data": "IsSubmitted",
                        "render": function (data, type, row) {
                            if (data == true) {
                                return '<div class="badge bg-success p-2">Yes</div>';
                            }
                            else {
                                return '<div class="badge bg-danger p-2">No</div>';
                            }
                        },
                        "orderable": false
                    },
                    {
                        "title": "Time",
                        "data": "DateTimeStr",
                        "render": function (data, type, row) {
                            return '<div class="fw-medium">'+data+'</div>';
                        },
                        "orderable": false
                    },
                    {
                        "title": "View",
                        "data": null,
                        "render": function (data, type, row) {
                            return `<button class="btn btn-secondary btn-sm" type="button" onclick="showDailyReportView(`+row["ID"]+`)">View</button >`;
                        },
                        "orderable": false
                    }
                ],
                "buttons": [
                    {
                    },

                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' },
                ],

                // setup responsive extension: http://datatables.net/extensions/responsive/
                responsive: true,

                "lengthMenu": [
                    [5, 10, 15, 20],
                    [5, 10, 15, 20]
                ],

                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                // So when dropdowns used the scrollable div should be removed.
                //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }
        return {
            //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TBLDailyReport")) {
                    $('#TBLDailyReport').dataTable().fnDestroy();
                }
                initTable1();
            }
        };
    }();

    function showDailyReportView(DailyReportId) {
        $.ajax({
            url: '@Url.Action(Actions.GetDailyReport, Controllers.DailyReport)',
            data: addRequestVerificationToken({ reportId: DailyReportId }),
            type: 'POST',
            datatype: 'json',
            success: function (data) {
                var htmlData = `<div class="row mb-3">
                    <div class="col-12 mb-3">
                        <h5>${data.DateStr}</h5>
                    </div>`;

                $.each(data.DailyVisits, function (key, visit) {
                    htmlData += `<div class="col-12 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="text-muted mb-1">Customer Name</div>
                                            <div>${visit.CustomerName}</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="text-muted mb-1">Customer Location</div>
                                            <div>${visit.CustomerLocation}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="text-muted mb-1">No. of Cows</div>
                                            <div>${visit.NoOfCows}</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="text-muted mb-1">Visit Purpose</div>
                                            <div>${visit.VisitPurposeName}</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="text-muted mb-1">New Order</div>
                                            <div>${visit.NewOrder == true ? "Yes" : "No"}</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <div class="text-muted mb-1">Summery</div>
                                            <div>${visit.Summary}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                });

                htmlData += `</div>`;

                $('#dailyReportView .modal-body').html(htmlData);
                $('#dailyReportView').modal('show');
            },
            error: function () { }
        });
    }

    $('#reportDate').change(function () {
        DailyReportTBL.init();
    });
</script>

